skjema/meldingForLegeoppgjør/LOM-0.91.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Edited by Espen Stranger Seland, KITH (www.kith.no)-->
<!-- Copyright 2003 Rikstrygdeverket -->
<!-- Version: LOM-0.91.001-->
<schema targetNamespace="http://www.kith.no/xmlstds/lom/2003-12-01" xmlns:lom="http://www.kith.no/xmlstds/lom/2003-12-01" xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>
	<element name="Legeregning">
		<annotation>
			<documentation>Melding for legeoppgjør - Legeregning</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Type" type="lom:CS">
					<annotation>
						<documentation>Spesifikasjon av benyttet meldingstype.</documentation>
					</annotation>
				</element>
				<element name="MIGversion" type="string" fixed="0.91 2003-12-01">
					<annotation>
						<documentation>Spesifikasjon av benyttet implementasjon av meldingen. </documentation>
					</annotation>
				</element>
				<element name="GenDate" type="dateTime">
					<annotation>
						<documentation>Tidspunkt for generering av meldingen angitt med dato og klokkeslett. </documentation>
					</annotation>
				</element>
				<element name="MsgId" type="string">
					<annotation>
						<documentation>Avsenders unike identifikasjon av meldingen.</documentation>
					</annotation>
				</element>
				<element ref="lom:Krav"/>
				<element ref="lom:Enkeltregning" maxOccurs="unbounded"/>
				<element ref="lom:Praksis"/>
				<element ref="ds:Signature"/>
			</sequence>
		</complexType>
	</element>
	<element name="Praksis">
		<annotation>
			<documentation>Informasjon om behandlerens praksissted.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="KommuneNr" type="lom:CS">
					<annotation>
						<documentation>Kommunen praksisen er lokalisert i, representeres ved SSBs kodeverk for fylkes-/kommunenummer. </documentation>
					</annotation>
				</element>
				<element name="Name" type="string" minOccurs="0">
					<annotation>
						<documentation>Navn på helsetjenesteenhet oppgis alltid ustrukturert.</documentation>
					</annotation>
				</element>
				<element name="Id" type="string" minOccurs="0">
					<annotation>
						<documentation>Offisiell identifikasjon av en institusjon.</documentation>
					</annotation>
				</element>
				<element name="TypeId" type="lom:CS" minOccurs="0">
					<annotation>
						<documentation>Type identifikasjon</documentation>
					</annotation>
				</element>
				<element ref="lom:Address" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="Krav">
		<annotation>
			<documentation>Informasjon om krav.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="AntallRegninger" type="integer">
					<annotation>
						<documentation>Samlet antall innsendte regninger.</documentation>
					</annotation>
				</element>
				<element name="SumKravSamlet" type="lom:MO">
					<annotation>
						<documentation>Samlet krav for innsendte regninger.</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Enkeltregning">
		<annotation>
			<documentation>Enkeltregning for en diagnose. En legeregning kan inneholde mange enkeltregninger.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="RegningNr" type="integer">
					<annotation>
						<documentation>Løpenummer.</documentation>
					</annotation>
				</element>
				<element name="DatoTid" type="dateTime">
					<annotation>
						<documentation>Dato og klokkeslett for konsultasjonen/ behandlingen.</documentation>
					</annotation>
				</element>
				<element name="MedisinskBehandling" type="lom:CS">
					<annotation>
						<documentation>Kode for type medisinsk behandling.</documentation>
					</annotation>
				</element>
				<element name="Annet" type="string" minOccurs="0">
					<annotation>
						<documentation>Fri tekst, kommentar til enkeltregningen.</documentation>
					</annotation>
				</element>
				<element ref="lom:Behandling"/>
				<element ref="lom:Pasient"/>
			</sequence>
		</complexType>
	</element>
	<element name="Pasient">
		<annotation>
			<documentation>Opplysninger om pasienten.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Sex" type="lom:CS" minOccurs="0">
					<annotation>
						<documentation>Kode for personens kjønn iht. ISO 5218.</documentation>
					</annotation>
				</element>
				<element name="Fornavn" type="string" minOccurs="0"/>
				<element name="Mellomnavn" type="string" minOccurs="0"/>
				<element name="Etternavn" type="string" minOccurs="0"/>
				<element name="Konvensjonsland" type="lom:CS" minOccurs="0">
					<annotation>
						<documentation>Kode for statsborgerskap til pasient. </documentation>
					</annotation>
				</element>
				<element name="Arbeidstager" type="lom:CS" minOccurs="0">
					<annotation>
						<documentation>Ikke bosatt i Norge, men arbeidstaker i Norge.</documentation>
					</annotation>
				</element>
				<element name="Type" type="lom:CS">
					<annotation>
						<documentation>Type offisiell pasientidentifikasjon.</documentation>
					</annotation>
				</element>
				<element name="Id" type="string">
					<annotation>
						<documentation>Pasientidentifikasjon.</documentation>
					</annotation>
				</element>
				<element ref="lom:Address" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="Behandling">
		<annotation>
			<documentation>Informasjon om den enkelte behandling som ligger til grunn for enkeltregningen.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="KodeEgenandel" type="lom:CS" minOccurs="0">
					<annotation>
						<documentation>Kode for årsak til fri egenandel.</documentation>
					</annotation>
				</element>
				<element name="Diagnose" type="lom:CV" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Diagnosen(e) behandleren setter.</documentation>
					</annotation>
				</element>
				<element ref="lom:Takst" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="lom:SumKrav"/>
			</sequence>
		</complexType>
	</element>
	<element name="Address">
		<annotation>
			<documentation>Adresseinformasjon</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TypeAdr" type="lom:CS" minOccurs="0">
					<annotation>
						<documentation>Kode for type adresse.</documentation>
					</annotation>
				</element>
				<element name="StreetAdr" type="string" minOccurs="0">
					<annotation>
						<documentation>Gate/veiadresse og nummer eller stedsnavn.</documentation>
					</annotation>
				</element>
				<element name="PostalCode" type="string" minOccurs="0">
					<annotation>
						<documentation>Postnummer.</documentation>
					</annotation>
				</element>
				<element name="City" type="string" minOccurs="0">
					<annotation>
						<documentation>Poststed.</documentation>
					</annotation>
				</element>
				<element name="County" type="string" minOccurs="0">
					<annotation>
						<documentation>Angivelse av kode for fylke og/eller kommune i henhold til SSBs kodeverk for fylke-/kommunenummer.</documentation>
					</annotation>
				</element>
				<element name="Country" type="lom:CS" minOccurs="0">
					<annotation>
						<documentation>Kode for land iht ISO 3166</documentation>
					</annotation>
				</element>
				<element name="Telecom" type="lom:URL" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Kommunikasjonsnummer eller kommunikasjonsadresse.</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="SumKrav">
		<annotation>
			<documentation>Summering av alle krav.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="EgenandelHonorar" type="lom:MO" minOccurs="0">
					<annotation>
						<documentation>Refusjon for egenandel.</documentation>
					</annotation>
				</element>
				<element name="Refusjon" type="lom:MO">
					<annotation>
						<documentation>Refusjon for hele regningskortet.</documentation>
					</annotation>
				</element>
				<element name="BetAvPasient" type="lom:MO" minOccurs="0">
					<annotation>
						<documentation>Beløp pasient har betalt, som ikke er dekket av egne takster. Gir ikke refusjon.</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Takst">
		<annotation>
			<documentation>Informasjon om takster som er brukt.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TakstKode" type="lom:CS">
					<annotation>
						<documentation>Rikstrygdeverkets takstkoder.</documentation>
					</annotation>
				</element>
				<element name="TakstVerdi" type="lom:MO">
					<annotation>
						<documentation>Takstkodens refusjonsverdi.</documentation>
					</annotation>
				</element>
				<element name="TakstAntall" type="integer" default="1">
					<annotation>
						<documentation>Antall ganger en takst skal repeteres.</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<!--Datatyper fra kith.xsd -->
	<complexType name="CS">
		<attribute name="V" type="token" use="required"/>
		<attribute name="DN" type="string" use="optional"/>
	</complexType>
	<complexType name="CV">
		<attribute name="V" type="token" use="required"/>
		<attribute name="S" type="lom:oid" use="required"/>
		<attribute name="DN" type="string" use="optional"/>
		<attribute name="OT" type="string" use="optional"/>
	</complexType>
	<complexType name="MO">
		<attribute name="V" type="double" use="optional"/>
		<attribute name="U" type="token" use="optional"/>
	</complexType>
	<complexType name="URL">
		<attribute name="V" type="anyURI" use="optional"/>
	</complexType>
	<simpleType name="oid">
		<restriction base="token">
			<pattern value="(\d+\.?)*\d+"/>
		</restriction>
	</simpleType>
</schema>
