skjema/kreftmeldinger/Brystkreft-v1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated on 03-05-2003  01:11:50 at KITH -->
<!-- XML-Schema level supported is specified by W3C -->
<!-- http://www.w3.org/2001/XMLSchema -->
<!-- -->
<!-- Skjema dekker opplysninger i "Meldeskjema for brystkreft" -->
<!-- File name: Brystkreft-v1.0.xsd -->
<!-- Version: "v1.0 2004-12-16" -->
<!-- -->
<!-- Change Log -->
<!-- -->
<!--	Modified 16. des 2004 (ALB) -->
<!-- Old file name: brystkreft-v0.98.xsd -->
<!-- Nytt element: opBeskrivelse (under Melding/Brystkreft/Behandling/BehB/Kirurgi) -->
<!-- Fjernet element: MsgVersion -->
<!-- Følgende elementer er gjort valgfrie: pasAnsvLege, hprNrPasAnsvLege, lokalisering, -->
<!-- DiagKonklusjon, Diagnose, MorfDiagnose, Sykdomstegn, HenvGrlag,  -->
<!-- BasisDiagnose, Basis, DiagMetoder, Behandling, BehB, Kirurgi, Straleterapi, MedikamentBeh, Opplysninger -->
<!-- Følgende elementer er gjort obligatoriske: MsgVersion, MIGversion, GenDate, MsgId, InstId, avd, AvdId, choice mellom infiltKreft, DCIS og andrePremalignTilst -->
<!-- Alle elementer som det tidligere ikke har blitt angitt noen lengde på (de som er av type varchar i oversikten over Kreftregisterets databasefelter), skal begrenses -->
<!-- til 255 tegn. Det nye elementet opBeskrivelse og elementet opplysning (underelement til Tilleggsopplysning) skal kunne ha fri lengde. -->
<!-- Change log brystkreft-v0.98.xsd  finished -->
<!-- -->
<!--	Modified 24. mars 2003 (ALB) -->
<!-- Old file name: brystkreft-v0.97.xsd -->
<!-- Endret rekkefølge på hvilkeUs og BildeDiag under BasisDiagnose -->
<!-- Endret navn fra Legeoppl til Legeopplysninger -->
<!-- Elementet Tilleggsopplysninger er gjort valgfritt -->
<!-- Endret fra stor til liten forbokstav på elementet lokalisering -->
<!-- Change log brystkreft-v0.97.xsd finished -->
<!-- -->
<!--	Modified 13. mars 2003 (AA) -->
<!-- Old file name: brystkreft_v096.xsd -->
<!-- Toppelementet "Message" er endret tilbake til "Melding" -->
<!-- Elementet Type er flyttet under Brystkreft, endret til typeMeld, minOccurs=1-->
<!-- MIGversion, GenDate og MsgId har endret minOccurs fra 1 til 0 -->
<!-- Nye frivillige elementer under BehInst: InstId, TypeInstId, AvdId, TypeAvdId -->
<!-- Nytt frivillig element under BasisDiagnose: hvilkeUs -->
<!-- Endret <sequence> under Brystkreft til <all> - betyr fri rekkefølge på elementene -->
<!-- Change log brystkreft_v096.xsd  finished-->
<!-- -->
<!--	Modified 5. mars 2003 (AA) -->
<!-- Old file name: brystkreft_v014.xsd -->
<!-- Included change log and administrative information as comments in top of the Schema -->
<!-- targetNamespace is changed to targetNamespace="http://www.kith.no/xmlstds/brystkreft in the header  -->
<!-- xmlns:kre is changed to xmlns:kre="http://www.kith.no/xmlstds/brystkreft"  in the header -->
<!-- Top element "Melding" is changed to "Message" -->
<!-- Element typeMeld is changed to Type -->
<!-- New elements in Message with other new elements below in the hierarky: MsgVersion, MIGversion, GenDate, MsgId, CopyDest,ServProvider, Reciever -->
<!-- Element hvilkenUs (in BasisDiagnose) is removed -->
<!-- Datatype for Kirgikoder (in Kirurgi) is changed form SET<ST> to SET<CS> -->
<!-- Sequence of Pasient, DignoseTid, DiagnoseKonklusjon and Diagnose is changed -->
<!-- New element Lokalisering in Topografi with datatype SET<CS> -->
<!-- Change log brystkreft_v014.xsd  finished-->
<!-- -->
<schema targetNamespace="http://www.kith.no/xmlstds/brystkreft" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" xmlns:kith="http://www.kith.no/xmlstds" xmlns:kre="http://www.kith.no/xmlstds/brystkreft">
	<import namespace="http://www.kith.no/xmlstds" schemaLocation="kith.xsd"/>
	<!-- LEVEL 1 -->
	<!-- Class: Melding -->
	<annotation>
		<documentation>
      Opplysninger om meldingen som utveksles mellom avsender og mottaker.
   </documentation>
	</annotation>
	<element name="Melding">
		<complexType>
			<sequence>
				<element name="MIGversion" type="kith:ST"/>
				<element name="GenDate" type="kith:TS"/>
				<element name="MsgId" type="kith:ST"/>
				<element ref="kre:Brystkreft"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 2 -->
	<!-- Class: Brystkreft -->
	<element name="Brystkreft">
		<complexType>
			<all>
				<element name="typeMeld" type="kith:CS"/>
				<element ref="kre:Pasient"/>
				<element ref="kre:BehInst"/>
				<element ref="kre:DiagnoseTid"/>
				<element ref="kre:DiagKonklusjon" minOccurs="0"/>
				<element ref="kre:Diagnose" minOccurs="0"/>
				<element ref="kre:Sykdomstegn" minOccurs="0"/>
				<element ref="kre:Klassifisering"/>
				<element ref="kre:Tumor"/>
				<element ref="kre:BasisDiagnose" minOccurs="0"/>
				<element ref="kre:Behandling" minOccurs="0"/>
				<element ref="kre:Opplysninger" minOccurs="0"/>
				<element ref="kre:Tilleggsopplysninger" minOccurs="0"/>
				<element ref="kre:Legeopplysninger"/>
			</all>
		</complexType>
	</element>
	<!-- LEVEL 3 -->
	<!-- Class: Basis for kreftdiagnosen -->
	<annotation>
		<documentation>
      De diagnostiske prosedyrer som danner grunnlaget for diagnosen, avkrysses. For undersøkelser utført i laboratorium angis år, preparatnummer og laboratorium.
   </documentation>
	</annotation>
	<element name="BasisDiagnose">
		<complexType>
			<sequence>
				<element ref="kre:Basis" minOccurs="0"/>
				<element name="bildeDiag" type="kith:BL" minOccurs="0"/>
				<element name="hvilkeUs" type="kith:ST" minOccurs="0"/>
				<element name="cytAr" type="kith:ST" minOccurs="0"/>
				<element name="cytPrepNr" type="kith:ST" minOccurs="0"/>
				<element name="cytLab" type="kith:ST" minOccurs="0"/>
				<element name="histAr" type="kith:ST" minOccurs="0"/>
				<element name="histPrepNr" type="kith:ST" minOccurs="0"/>
				<element name="histLab" type="kith:ST" minOccurs="0"/>
				<element name="histAr2" type="kith:ST" minOccurs="0"/>
				<element name="histPrepNr2" type="kith:ST" minOccurs="0"/>
				<element name="histLab2" type="kith:ST" minOccurs="0"/>
				<element name="obdAr" type="kith:ST" minOccurs="0"/>
				<element name="obdNr" type="kith:ST" minOccurs="0"/>
				<element name="obdLab" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Diagnostisk konklusjon -->
	<element name="DiagKonklusjon">
		<complexType>
			<sequence>
				<element name="metastaseArmhuleLymfe" type="kith:CS" minOccurs="0"/>
				<element name="metastaseBrystbenLymfe" type="kith:CS" minOccurs="0"/>
				<element name="metastaserAndreOrganer" type="kith:CS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Diagnose -->
	<annotation>
		<documentation>
      Når feltene for morfologisk diagnose (evt. Sykdomskategori og morfologisk undergruppe) er utfylt er "sikkerCancer" ikke obligatorisk. Hvis morfologi-feltene ikke kan fylles ut er "sikkerCancer" obligatorisk (og kan ikke være tom). 
   </documentation>
	</annotation>
	<element name="Diagnose">
		<complexType>
			<sequence>
				<element ref="kre:MorfDiagnose" minOccurs="0"/>
				<element name="sikkerCancer" type="kith:BL" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tilleggsopplysninger -->
	<annotation>
		<documentation>
      Dersom uttømmende informasjon om sykdommen ikke kan gis, ønskes oppgitt hvor denne kan innhentes, f.eks. dersom pasienten er henvist til annen avdeling for utredning og/eller behandling.
   </documentation>
	</annotation>
	<element name="Tilleggsopplysninger">
		<complexType>
			<sequence>
				<element name="opplysninger" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Pasient -->
	<annotation>
		<documentation>
      Opplysninger om pasienten ligger i klassene Pasient og Postadresse i EPJ-meldingen.
   </documentation>
	</annotation>
	<element name="Pasient">
		<complexType>
			<sequence>
				<element name="fodselsNr" type="kith:ST"/>
				<element name="navn" type="kith:ST"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tumor -->
	<element name="Tumor">
		<complexType>
			<sequence>
				<element name="side" type="kith:CS"/>
				<element ref="kre:Topografi" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Behandlingsinstitusjon -->
	<annotation>
		<documentation>
      Pasientopplysninger tilknyttet behandlingsinstitusjon. Institusjonens navn legges i EPJ-meldingen.
   </documentation>
	</annotation>
	<element name="BehInst">
		<complexType>
			<sequence>
				<element name="inst" type="kith:ST"/>
				<element name="InstId" type="kith:ST"/>
				<element name="TypeInstId" type="kith:CS" minOccurs="0"/>
				<element name="avd" type="kith:ST"/>
				<element name="AvdId" type="kith:ST"/>
				<element name="TypeAvdId" type="kith:CS" minOccurs="0"/>
				<element name="opphold" type="kith:CS" minOccurs="0"/>
				<element name="dato" type="kith:TS" minOccurs="0"/>
				<element name="status" type="kith:CS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Legeopplysninger -->
	<element name="Legeopplysninger">
		<complexType>
			<sequence>
				<element name="datoMeldt" type="kith:TS"/>
				<element name="pasAnsvLege" type="kith:ST" minOccurs="0"/>
				<element name="hprNrPasAnsvLege" type="kith:ST" minOccurs="0"/>
				<element name="meldtAv" type="kith:ST"/>
				<element name="hprNrMeldtAv" type="kith:ST"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Behandling -->
	<element name="Behandling">
		<complexType>
			<sequence>
				<element name="primBehMaal" type="kith:CS" minOccurs="0"/>
				<element ref="kre:BehB" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Opplysninger -->
	<annotation>
		<documentation>
      Opplysninger som registreres hvis ikke pasienten motsetter seg det.
   </documentation>
	</annotation>
	<element name="Opplysninger">
		<complexType>
			<sequence>
				<element name="royker" type="kith:CS" minOccurs="0"/>
				<element name="yrke" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Sykdomstegn -->
	<element name="Sykdomstegn">
		<complexType>
			<sequence>
				<element ref="kre:HenvGrlag" minOccurs="0"/>
				<element name="datoForsteSymptom" type="kith:TS" minOccurs="0"/>
				<element name="arveligDisp" type="kith:CS" minOccurs="0"/>
				<element name="typeArveligDisp" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Klassifisering av tilfellet -->
	<annotation>
		<documentation>
      Ett (og bare ett) av disse feltene må alltid være utfylt.
   </documentation>
	</annotation>
	<element name="Klassifisering">
		<complexType>
			<sequence>
				<choice>
					<element name="infiltKreft" type="kith:BL"/>
					<element name="DCIS" type="kith:BL"/>
					<element name="andrePremalignTilst" type="kith:BL"/>
				</choice>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Diagnosetidspunkt -->
	<annotation>
		<documentation>
      Tidspunktet diagnosen forelå.
   </documentation>
	</annotation>
	<element name="DiagnoseTid">
		<complexType>
			<sequence>
				<element name="dato" type="kith:TS"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 4 -->
	<!-- Class: Behandling B -->
	<annotation>
		<documentation>
      Brystkreft.
   </documentation>
	</annotation>
	<element name="BehB">
		<complexType>
			<sequence>
				<element name="reservFraMammografi" type="kith:BL" minOccurs="0"/>
				<element ref="kre:Kirurgi" minOccurs="0"/>
				<element ref="kre:Straleterapi" minOccurs="0"/>
				<element ref="kre:MedikamentBeh" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Henvisningsgrunnlag -->
	<element name="HenvGrlag">
		<complexType>
			<sequence>
				<element name="screening" type="kith:CS" minOccurs="0"/>
				<element name="palpTumor" type="kith:BL" minOccurs="0"/>
				<element name="andreBrystSymptom" type="kith:BL" minOccurs="0"/>
				<element name="hoyriskKontroll" type="kith:BL" minOccurs="0"/>
				<element name="datoHenvMottatt" type="kith:TS" minOccurs="0"/>
				<element name="datoPoliklinBeh" type="kith:TS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Basis -->
	<element name="Basis">
		<complexType>
			<sequence>
				<element name="klinUsAlene" type="kith:BL" minOccurs="0"/>
				<element ref="kre:DiagMetoder" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Morfologisk diagnose -->
	<element name="MorfDiagnose">
		<complexType>
			<sequence>
				<element name="morfDiag" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Topografi -->
	<element name="Topografi">
		<complexType>
			<sequence>
				<element name="multiple" type="kith:BL" minOccurs="0"/>
				<element name="palpBryst" type="kith:BL" minOccurs="0"/>
				<element name="palpArmhule" type="kith:BL" minOccurs="0"/>
				<element name="lokalisering" type="kith:CS" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 5 -->
	<!-- Class: Stråleterapi -->
	<element name="Straleterapi">
		<complexType>
			<sequence>
				<element name="ingenStral" type="kith:BL" minOccurs="0"/>
				<element name="postopBryst" type="kith:BL" minOccurs="0"/>
				<element name="postopRegLymfe" type="kith:BL" minOccurs="0"/>
				<element name="annenStral" type="kith:BL" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Medikamentell behandling -->
	<element name="MedikamentBeh">
		<complexType>
			<sequence>
				<element name="ingenMed" type="kith:BL" minOccurs="0"/>
				<element name="preopCytostatika" type="kith:BL" minOccurs="0"/>
				<element name="postopCytostatika" type="kith:BL" minOccurs="0"/>
				<element name="postopEndoBeh" type="kith:BL" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Kirurgi -->
	<element name="Kirurgi">
		<complexType>
			<sequence>
				<element name="kirurgiKoder" type="kith:CS" minOccurs="0" maxOccurs="unbounded"/>
				<element name="opBeskrivelse" type="kith:ST" minOccurs="0"/>
				<element name="bryst" type="kith:CS" minOccurs="0"/>
				<element name="armhule" type="kith:CS" minOccurs="0"/>
				<element name="datoStartBeh" type="kith:TS" minOccurs="0"/>
				<element name="datoSluttBeh" type="kith:TS" minOccurs="0"/>
				<element name="antInngrep" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Diagnostiske metoder -->
	<element name="DiagMetoder">
		<complexType>
			<sequence>
				<element name="FNAC" type="kith:BL" minOccurs="0"/>
				<element name="sylBiopsi" type="kith:BL" minOccurs="0"/>
				<element name="merkeBiopsi" type="kith:BL" minOccurs="0"/>
				<element name="pT" type="kith:ST" minOccurs="0"/>
				<element name="pN" type="kith:ST" minOccurs="0"/>
				<element name="pM" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
</schema>
