skjema/NPRbehandlerkravmelding/bkm_078(bkm).xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<schema xmlns:npr="http://www.npr.no/xmlstds" xmlns:kith="http://www.kith.no/xmlstds" xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.npr.no/xmlstds" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<include schemaLocation="bkm.xsd"/>
	<include schemaLocation="bkm_078(bkm)_CodingSchemes.xsd"/>
	<!-- LEVEL 1 -->
	<!-- Class: Melding -->
	<element name="Melding">
		<annotation>
			<documentation>
         Opplysninger som virksomheter eller helsepersonell i helsevesenet etter bestemmelser i lov eller i medhold av lov i gitte situasjoner er pliktig til aa rapportere.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:Institusjon"/>
			</sequence>
			<attribute name="versjon" type="string" use="required"/>
			<attribute name="fraDatoPeriode" type="date" use="required"/>
			<attribute name="uttakDato" type="date" use="required"/>
			<attribute name="kontPerson" type="string" use="required"/>
			<attribute name="meldTelefon" type="string" use="optional"/>
			<attribute name="meldEpost1" type="string" use="required"/>
			<attribute name="meldEpost2" type="string" use="optional"/>
			<attribute name="meldRefNr" type="string" use="required"/>
			<attribute name="tilDatoPeriode" type="date" use="required"/>
			<attribute name="navnEPJ" type="string" use="optional"/>
			<attribute name="versjonEPJ" type="string" use="optional"/>
		</complexType>
		<key name="InstitusjonP_ID">
			<selector xpath="npr:Institusjon"/>
			<field xpath="@institusjonID"/>
		</key>
	</element>
	<!-- LEVEL 2 -->
	<!-- Class: Helseinstitusjon -->
	<element name="Institusjon">
		<annotation>
			<documentation>
         Institusjon som hoerer under lov om kommunehelsetjenesten og lov om spesialisthelsetjenesten.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:Enhet"/>
				<element ref="npr:Pasient" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="institusjonID" type="string" use="required"/>
		</complexType>
		<key name="EnhetP_ID">
			<selector xpath="npr:Enhet"/>
			<field xpath="@enhetID"/>
		</key>
	</element>
	<!-- LEVEL 3 -->
	<!-- Class: Enhet -->
	<element name="Enhet">
		<annotation>
			<documentation>
         Organisatorisk enhet ved en helseinstitusjon.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:Krav"/>
			</sequence>
			<attribute name="enhetID" type="string" use="required"/>
			<attribute name="enhetKode" type="string" use="required"/>
			<attribute name="reshID" type="string" use="required"/>
			<attribute name="enhetLokal" type="string" use="optional"/>
		</complexType>
	</element>
	<!-- Class: Pasient -->
	<element name="Pasient">
		<annotation>
			<documentation>
         En person som henvender seg til helsevesenet med anmodning om helsehjelp, eller som helsevesenet gir eller tilbyr helsehjelp i individuelle tilfeller.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:PasientEx" minOccurs="0"/>
				<element ref="npr:EEA" minOccurs="0"/>
				<element ref="npr:Henvisningsperiode" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="npr:Episode" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
		<key name="HenvisningsperiodeP_ID">
			<selector xpath="npr:Henvisningsperiode"/>
			<field xpath="@henvisningsperiodeID"/>
		</key>
		<key name="EpisodeP_ID">
			<selector xpath="npr:Episode"/>
			<field xpath="@episodeID"/>
		</key>
		<keyref name="Episode_IDREF1" refer="npr:HenvisningsperiodeP_ID">
			<selector xpath="npr:Episode"/>
			<field xpath="@henvisningsperiodeID"/>
		</keyref>
	</element>
	<!-- LEVEL 4 -->
	<!-- Class: Krav -->
	<element name="Krav">
		<annotation>
			<documentation>
         Informasjon om krav.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:EnkeltRegning" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="antallRegninger" type="integer" use="required"/>
			<attribute name="sumKravBelop" type="decimal" use="required"/>
		</complexType>
	</element>
	<!-- Class: PasientEx -->
	<element name="PasientEx">
		<annotation>
			<documentation>
         Informasjon som er knyttet til rollen som pasient.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:AltIdent" minOccurs="0"/>
				<element ref="npr:Ident" minOccurs="0"/>
			</sequence>
			<attribute name="kjonn" type="npr:kjonn" use="optional"/>
			<attribute name="arbeidstager" type="npr:ja_nei" use="optional"/>
			<attribute name="etternavn" type="string" use="optional"/>
			<attribute name="mellomnavn" type="string" use="optional"/>
			<attribute name="fornavn" type="string" use="optional"/>
			<attribute name="telefon" type="string" use="optional"/>
		</complexType>
	</element>
	<!-- Class: EEA -->
	<element name="EEA">
		<annotation>
			<documentation>
         Informasjon om EEA-rettigheter.   Denne informasjonen maa vaere med for EEA-borgere.
      </documentation>
		</annotation>
		<complexType>
			<attribute name="eeaDok" type="string" use="optional"/>
			<attribute name="eeaCardId" type="string" use="optional"/>
			<attribute name="eeaId" type="string" use="optional"/>
			<attribute name="eeaTrygdekontorNavn" type="string" use="optional"/>
			<attribute name="eeaTrygdekontorNr" type="string" use="optional"/>
			<attribute name="eeaGyldighetFra" type="date" use="optional"/>
			<attribute name="eeaGyldighetTil" type="date" use="optional"/>
		</complexType>
	</element>
	<!-- Class: Henvisningsperiode -->
	<element name="Henvisningsperiode">
		<annotation>
			<documentation>
         Tidsperiode fra mottak av henvisning for en og samme lidelse til utredning, behandling, rehabilitering og oppfoelging er gjennomfoert, og ingen nye kontakter er avtalt.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:HenvisendeInstans"/>
			</sequence>
			<attribute name="henvisningsperiodeID" type="string" use="required"/>
			<attribute name="henvFraTjeneste" type="integer" use="optional"/>
			<attribute name="trygdenasjon" type="string" use="optional"/>
			<attribute name="henvTilTjeneste" type="integer" use="optional"/>
		</complexType>
	</element>
	<!-- Class: Episode -->
	<element name="Episode">
		<annotation>
			<documentation>
         Tidsperiode hvor pasienten faar helsehjelp ved en og samme helseinstitusjon for ett og samme helseproblem.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:Kontakt"/>
				<element ref="npr:Tilstand" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="npr:Tjeneste" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="episodeID" type="string" use="required"/>
			<attribute name="henvisningsperiodeID" type="string" use="optional"/>
			<attribute name="debitor" type="nonNegativeInteger" use="required"/>
			<attribute name="komNrHjem" type="npr:kommNr" use="optional"/>
			<attribute name="rettighetsvurdertAv" type="string" use="optional"/>
			<attribute name="rettighetsvurdertDato" type="date" use="optional"/>
		</complexType>
	</element>
	<!-- LEVEL 5 -->
	<!-- Class: Identifikator -->
	<element name="Ident">
		<annotation>
			<documentation>
         Identifikasjon som personen er eller har vaert kjent under. Vanligvis benyttes foedselsnummer eller D-nummer for personer. Hvis det ikke er mulig aa oppgi Ident maa foedselsDato oppgis.
      </documentation>
		</annotation>
		<complexType>
			<attribute name="typeId" type="string" use="required"/>
			<attribute name="id" type="string" use="required"/>
		</complexType>
	</element>
	<!-- Class: Alternativ Identifikator -->
	<element name="AltIdent">
		<complexType>
			<attribute name="fodselsDato" type="date" use="required"/>
		</complexType>
	</element>
	<!-- Class: Enkeltregning -->
	<element name="EnkeltRegning">
		<annotation>
			<documentation>
         Enkeltregning for en behandling. En behandlerkravregning kan inneholde mange enkeltregninger.   Heri ogsaa betalte egenandeler.
      </documentation>
		</annotation>
		<complexType>
			<attribute name="uuid" type="npr:guid" use="optional"/>
			<attribute name="typeTransaksjon" type="npr:type_okonomisk_transaksjon" use="required"/>
			<attribute name="kodeEgenandel" type="string" use="optional"/>
			<attribute name="regningNr" type="string" use="required"/>
			<attribute name="TransDatoTid" type="dateTime" use="required"/>
			<attribute name="episodeID" type="string" use="optional"/>
			<attribute name="sumBelop" type="decimal" use="required"/>
			<attribute name="kravGrunnlag" type="npr:krav_til_refusjon" use="required"/>
		</complexType>
	</element>
	<!-- Class: Henvisende instans -->
	<element name="HenvisendeInstans">
		<complexType>
			<attribute name="henvisendeLege" type="string" use="optional"/>
		</complexType>
	</element>
	<!-- Class: Kontakt -->
	<element name="Kontakt">
		<annotation>
			<documentation>
         Uavbrutt samhandling mellom pasient og helsepersonell hvor det utfoeres helsehjelp for pasienten.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:Helseperson" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="npr:Takst" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="kontaktType" type="nonNegativeInteger" use="required"/>
		</complexType>
	</element>
	<!-- Class: Tilstand -->
	<element name="Tilstand">
		<annotation>
			<documentation>
         En tilstand uttrykt med en eller flere diagnosekoder (ICD-10).
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:Kode" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="tilstNr" type="integer" use="required"/>
		</complexType>
		<key name="KodeP_ID">
			<selector xpath="npr:Kode"/>
			<field xpath="@kodeNr"/>
		</key>
	</element>
	<!-- Class: Tjeneste -->
	<element name="Tjeneste">
		<annotation>
			<documentation>
         En eller flere behandlingsrettede tiltak som utfoeres for en pasient under en og samme tjeneste (seanse).  			
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:Tiltak" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 6 -->
	<!-- Class: Helseperson -->
	<element name="Helseperson">
		<annotation>
			<documentation>
         Angir hvilke typer helsepersonell som deltar i direkte pasientkontakt, og ved indirekte pasientkontakt som samarbeidspartnere i utredning og planlegging av behandling av en pasient.
      </documentation>
		</annotation>
		<complexType>
			<attribute name="polUtforende" type="nonNegativeInteger" use="required"/>
		</complexType>
	</element>
	<!-- Class: Takst -->
	<element name="Takst">
		<annotation>
			<documentation>
         Informasjon om takster som er brukt.
      </documentation>
		</annotation>
		<complexType>
			<attribute name="kode" type="string" use="required"/>
			<attribute name="antall" type="integer" use="optional"/>
			<attribute name="takstBelop" type="decimal" use="required"/>
		</complexType>
	</element>
	<!-- Class: Tiltak -->
	<element name="Tiltak">
		<annotation>
			<documentation>
         Representerer et tiltak i en tjeneste. Et tiltak kan inneholde en eller flere forekomster av klassen Prosedyre.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:Prosedyre" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="typeTiltak" type="npr:type_tiltak" use="required"/>
		</complexType>
		<key name="ProsedyreP_ID">
			<selector xpath="npr:Prosedyre"/>
			<field xpath="@prosNr"/>
		</key>
	</element>
	<!-- LEVEL 7 -->
	<!-- Class: Prosedyre -->
	<element name="Prosedyre">
		<annotation>
			<documentation>
         Pasientrettet tiltak kategorisert etter en normgivende beskrivelse eller et kodeverk.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="npr:Kode" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="prosNr" type="integer" use="required"/>
		</complexType>
	</element>
	<!-- LEVEL 8 -->
	<!-- Class: Kode -->
	<element name="Kode">
		<annotation>
			<documentation>
         En bokstav- og/eller tallkombinasjon, eventuelt med skilletegn i form av f. eks. punktum eller mellomrom, som utvetydig representerer en kategori i et medisinsk kodeverk.
      </documentation>
		</annotation>
		<complexType>
			<attribute name="kodeNr" type="integer" use="required"/>
			<attribute name="Kodeverk" type="string" use="required"/>
			<attribute name="kodeVersjon" type="string" use="required"/>
			<attribute name="kodeVerdi" type="string" use="required"/>
			<attribute name="kodeBelop" type="decimal" use="optional"/>
		</complexType>
	</element>
</schema>
