skjema/eresept/m2/2007-03-30/ER-M2-2007-03-30.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- eResept M2 versjon 1.3 2007-03-30 -->
<!-- Endret siden versjon 1.1: -->
<!-- Oppdatert complexType Vare til å samsvare med M1 -->
<schema xmlns:m2="http://www.kith.no/xmlstds/eresept/m2/2007-03-30" xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:kith="http://www.kith.no/xmlstds" xmlns:fk1="http://www.kith.no/xmlstds/felleskomponent1" targetNamespace="http://www.kith.no/xmlstds/eresept/m2/2007-03-30" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.kith.no/xmlstds" schemaLocation="../felles/kith.xsd"/>
	<import namespace="http://www.kith.no/xmlstds/felleskomponent1" schemaLocation="../felles/felleskomponent1.xsd"/>
	<element name="SoknadNAV">
		<complexType>
			<sequence>
				<element name="KroniskSykdom" type="kith:CS">
					<annotation>
						<documentation>Bekreftelse på om det er en kronisk sykdom.</documentation>
					</annotation>
				</element>
				<element name="LangvarigBeh" type="kith:CS">
					<annotation>
						<documentation>Bekreftelse på at det er behov for langvarig behandling</documentation>
					</annotation>
				</element>
				<element name="SamPasient" type="kith:CS">
					<annotation>
						<documentation>Søker skal angi at pasienten har gitt sitt samtykke til at søker kan sende inn en individuell søknad på pasientens vegne</documentation>
					</annotation>
				</element>
				<element name="SamVedtak" type="kith:CS">
					<annotation>
						<documentation>Samtykke er innhentet til at søker får kopi av vedtak</documentation>
					</annotation>
				</element>
				<element ref="m2:TidligereBeh" maxOccurs="unbounded"/>
				<element ref="m2:Behandling"/>
				<element name="InstituertAv" type="m2:Organisation" minOccurs="0">
					<annotation>
						<documentation>Oppgir hvilken spesialist/avdeling som første gang instituerte legemiddelet. </documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Behandling">
		<complexType>
			<sequence>
				<element name="Diagnose" type="kith:CV" maxOccurs="unbounded">
					<annotation>
						<documentation>Diagnose i klartekst og Diagnosekode i henhold til gjeldende kodeverk</documentation>
					</annotation>
				</element>
				<element name="Begrunnelse" type="string" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Detaljert dokumentasjon av begrunnelsen for valgt behandling.</documentation>
					</annotation>
				</element>
				<element name="ArsakBehandling" type="kith:CV" maxOccurs="unbounded">
					<annotation>
						<documentation>Detaljert dokumentasjon av begrunnelsen for valgt behandling.</documentation>
					</annotation>
				</element>
				<element ref="m2:Forskrivning"/>
			</sequence>
		</complexType>
	</element>
	<element name="TidligereBeh">
		<complexType>
			<sequence>
				<element ref="m2:Forskrivning"/>
			</sequence>
		</complexType>
	</element>
	<!--Felles objekt: Forskrivning-->
	<element name="Forskrivning">
		<complexType>
			<sequence>
				<element name="Reiterasjon" type="int" default="0">
					<annotation>
						<documentation>Antall ganger forskrivningen kan gjentas uten ny forskrivning. Standardverdi = 0. </documentation>
					</annotation>
				</element>
				<element name="RefHjemmel" type="kith:CV" minOccurs="0">
					<annotation>
						<documentation>Rekvirent setter refusjonshjemmel for refusjon og refererer til blåreseptforskriften. </documentation>
					</annotation>
				</element>
				<element name="RefKode" type="kith:CV" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Diagnose i klartekst og Diagnosekode i henhold til gjeldende kodeverk. </documentation>
					</annotation>
				</element>
				<element name="Merknad" type="string" minOccurs="0">
					<annotation>
						<documentation>Påføres av rekvirent som en beskjed til utleverer</documentation>
					</annotation>
				</element>
				<element name="Bruksomrade" type="string" minOccurs="0">
					<annotation>
						<documentation>Kan benytters dersom det ikke finnes noen kode som passer for det aktuelle bruksområdet eller for å angi ytterligere opplysninger relatert til bruken av legemidlet.</documentation>
					</annotation>
				</element>
				<element name="DosVeiledEnkel" type="string">
					<annotation>
						<documentation>Forenklet doseingsveiledning til bruk av utleverer. </documentation>
					</annotation>
				</element>
				<element name="AntallPakninger" type="int">
					<annotation>
						<documentation>Antall pakninger av forskrevet enkeltpreparat</documentation>
					</annotation>
				</element>
				<choice>
					<element ref="m2:Vare"/>
					<element ref="m2:Legemiddelblanding"/>
					<element ref="m2:LegemiddelUtenMt"/>
				</choice>
			</sequence>
		</complexType>
	</element>
	<element name="Vare">
		<complexType>
			<complexContent>
				<extension base="m2:Vare"/>
			</complexContent>
		</complexType>
	</element>
	<element name="Legemiddelblanding">
		<complexType>
			<sequence>
				<element name="TilbOppl" type="string">
					<annotation>
						<documentation>Eventuelle opplysninger om hvordan blandingen av de beatandeler som inngår i blandingen skal foretas.</documentation>
					</annotation>
				</element>
				<element name="Bestanddel">
					<annotation>
						<documentation>Denne klassen benyttes til å beskrive de enkelte bestanddeler som inngår i en legemiddelblanding.</documentation>
					</annotation>
					<complexType>
						<complexContent>
							<extension base="m2:Vare">
								<sequence>
									<element name="Mengde" type="string">
										<annotation>
											<documentation>Antall måleenheter og målenhet av angitt legemiddeltype som skal inngå i blandingen.</documentation>
										</annotation>
									</element>
								</sequence>
							</extension>
						</complexContent>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="LegemiddelUtenMt">
		<complexType>
			<complexContent>
				<extension base="m2:Vare">
					<sequence>
						<element name="Begrunnelse" type="string">
							<annotation>
								<documentation>Begrunnelse for søknad om godkjenningsfritak.</documentation>
							</annotation>
						</element>
						<element name="Negativliste" type="kith:CS">
							<annotation>
								<documentation>Angir om virkestoffet finnes på negativlisten fra SLV</documentation>
							</annotation>
						</element>
						<element name="PositivINegativliste" type="kith:CS" minOccurs="0">
							<annotation>
								<documentation>Angir om foreskrevet legemiddel er positiv/forhåndsgodkjent innenfor negativlisten. </documentation>
							</annotation>
						</element>
						<element name="MTanerkjenteLand" type="kith:CS">
							<annotation>
								<documentation>Settes av legen hvis preparatet har markedsføringstillatelse i anerkjent land</documentation>
							</annotation>
						</element>
						<element name="Produsent" type="string">
							<annotation>
								<documentation>Navn på produsent av varen</documentation>
							</annotation>
						</element>
						<element name="MTland" type="kith:CS" minOccurs="0">
							<annotation>
								<documentation>Land med der varen har markedsføringstillatelse. </documentation>
							</annotation>
						</element>
						<element name="Mengde" type="string">
							<annotation>
								<documentation>Den totale mengde legen ønsker å forskrive av legemidlet</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<complexType name="Vare">
		<sequence>
			<element name="Gruppe" type="kith:CS" minOccurs="0">
				<annotation>
					<documentation>Attributtet oppstår i FEST og overføres til resepten direkte fra FEST</documentation>
				</annotation>
			</element>
			<element name="ProdGruppe" type="kith:CS">
				<annotation>
					<documentation>Hentes fra FEST.</documentation>
				</annotation>
			</element>
			<element name="Nr" type="string" minOccurs="0">
				<annotation>
					<documentation>Varenummer.</documentation>
				</annotation>
			</element>
			<element name="Betegnelse" type="string">
				<annotation>
					<documentation>Forkortelse av varenavn, styrke og legemiddelform som er tilpasset brukerbehovet.</documentation>
				</annotation>
			</element>
			<element name="Navn" type="string">
				<annotation>
					<documentation>Navn på vare/salgsnavn.</documentation>
				</annotation>
			</element>
			<element name="Styrke" type="kith:PQ" minOccurs="0">
				<annotation>
					<documentation>Angivelse av legemidles styrke og målenhet. </documentation>
				</annotation>
			</element>
			<element name="Pakningsstr" type="string" minOccurs="0">
				<annotation>
					<documentation>Pakningsstørrelse/minste salgsenhet til sluttbruker. </documentation>
				</annotation>
			</element>
			<element name="EnhetPakning" type="string" minOccurs="0">
				<annotation>
					<documentation>stk/ml/g/mg etc</documentation>
				</annotation>
			</element>
			<element name="Pakningstype" type="string" minOccurs="0">
				<annotation>
					<documentation>Eks: "Blister, endose", "Ferdigfylt sprøyte", "Ampulle" etc.</documentation>
				</annotation>
			</element>
			<element name="Atc" type="kith:CS" minOccurs="0">
				<annotation>
					<documentation>Anatomical Therapeutical Chemical-kode. </documentation>
				</annotation>
			</element>
			<element name="Legemiddelform" type="kith:CS" minOccurs="0">
				<annotation>
					<documentation>Kode som angir hvilken form legemidlet er på</documentation>
				</annotation>
			</element>
			<element name="Virkestoff" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- "Felleskomponenter 2", med person/virksomhet/helsepersonell -->
	<complexType name="Organisation">
		<annotation>
			<documentation>Beskriver en organisatorisk enhet. </documentation>
		</annotation>
		<sequence>
			<element name="TypeOrganisation" type="kith:CV" minOccurs="0" maxOccurs="2">
				<annotation>
					<documentation>Dersom dette er en organisatorisk enhet innenfor helsevesenet, kan det her angis en kode som angir hvilken type helsevirksomhet dette er i hehold til kodeverk 9040 Helsevirksomhet type, samt enhetens fagområde i henhold til kodeverk 8451. Begge kodeverk skal brukes hvis attributtet fylles ut.</documentation>
				</annotation>
			</element>
			<element name="OrganisationName" type="string">
				<annotation>
					<documentation>Offisielle betegnelse eller navn på den organsiatoriske enheten.</documentation>
				</annotation>
			</element>
			<element name="Ident" type="fk1:Ident" maxOccurs="unbounded">
				<annotation>
					<documentation>Felleskomponent som inneholder opplysninger om ID og Type ID.</documentation>
				</annotation>
			</element>
			<element name="TeleCom" type="fk1:TeleCom" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Felleskomponent som inneholder opplysninger om telekommunikasjonsadresse og type (privat, arbeid etc).</documentation>
				</annotation>
			</element>
			<element name="Address" type="fk1:Address" minOccurs="0">
				<annotation>
					<documentation>Felleskomponent som inneholder adresseopplysninger</documentation>
				</annotation>
			</element>
			<element name="HealthcareProfessional" type="m2:HealthcareProfessional" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="Person_a">
		<annotation>
			<documentation>Inneholder opplysninger om en person.</documentation>
		</annotation>
		<sequence>
			<element name="FamilyName" type="string" minOccurs="0">
				<annotation>
					<documentation>For å angi personens etternavn.</documentation>
				</annotation>
			</element>
			<element name="MiddleName" type="string" minOccurs="0">
				<annotation>
					<documentation>For å angi personens mellomnavn, dvs. navn som personen vanligvis ikke benytter sammen med fornavnet, og som heller ikke inngår som en del av etternavnet.</documentation>
				</annotation>
			</element>
			<element name="GivenName" type="string" minOccurs="0">
				<annotation>
					<documentation>For å angi personens fornavn.</documentation>
				</annotation>
			</element>
			<element name="DateOfBirth" type="date" minOccurs="0">
				<annotation>
					<documentation>Personens fødselsdato. Fødselsdato oppgis ikke hvis fødselsnummer oppgis.</documentation>
				</annotation>
			</element>
			<element name="Sex" type="kith:CS" minOccurs="0">
				<annotation>
					<documentation>Sosialt kjønn. Benyttes vanligvis ikke hvis fødselsnummer oppgis.</documentation>
				</annotation>
			</element>
			<element name="Nationality" type="kith:CS" minOccurs="0">
				<annotation>
					<documentation>Personens nasjonalitet. Skal kun brukes hvis pasientens nasjonalitet ikke er norsk (NO).</documentation>
				</annotation>
			</element>
			<element name="Ident" type="fk1:Ident" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Identifikasjon som personen er eller har vært kjent under. Vanligvis benyttes fødselsnummer eller D-nummer for personer.</documentation>
				</annotation>
			</element>
			<element name="Address" type="fk1:Address" minOccurs="0"/>
			<element name="TeleCom" type="fk1:TeleCom" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="HealthcareProfessional">
		<annotation>
			<documentation>Personell med autorisasjon eller lisens, personell i helsetjenesten eller i apotek som utfører helsehjelp eller elever og studenter som i forbindelse med helsefaglig opplæring utfører helsehjelp.</documentation>
		</annotation>
		<complexContent>
			<extension base="m2:Person_a"/>
		</complexContent>
	</complexType>
</schema>
