skjema/epikrise/Epikrise-v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- File name: epikrise-v1.2.xsd -->
<!-- Version: "v1.2 2012-02-15" -->
<!-- Endringer fra versjon 1.1 til versjon 1.2:
- Endret namespace xmlns:dis og targetNamespace til http://www.kith.no/xmlstds/epikrise/2012-02-15 
- Endret tegnset til UTF-8
- Fjernet 	XML-strukturen for <key name="EventP_ID"> da denne var modellert feil og ikke hadde noen funksjon.
- Fjernet PartyIdByRequester og PartyIdByServProv under HCP for å være kompatibel med informasjon i Hodemelding og øvrige basismeldinger)
- Fjernet elemenetet Role for å samordne med henvisning undet PatRelHCP. Feltet har fast verdi og gir dermed ingen merverdi
- Endret datatype ST til CS for ServReq/MsgDescr for å være kompatibel med tilsvarende felt i henvisningen
- Nytt element <Status> i under <Message> for å være kompatibel med Henvisning, Rekvirering av medisinske tjenester og Svarrapportering av medisinske tjenester.
- **Rask edit for publisering test** Endrer denne linjen på nytt for å teste videre
-->
<!-- KITH Epikrise versjon 1.1 2006-09-23 -->
<!-- Endret 20021107 for eget targetNamespace  -->
<!-- Endret 20060623 Ny RefDoc-struktur -->
<!-- Endret 20060623 Lagt til ComMethod i ServProvider og Requester -->
<!-- Endret 20060623 Endret datatype ST til AnyType for Observation/Description-->
<!-- Endret 20060623 Endret datatype ST til AnyType for Comment/TextResultValue-->
<!-- Endret 20060623 Endret datatype ST til AnyType for ReasonAsText/TextResultValue-->
<!-- Endret 20060623 Endret datatype ST til AnyType for Result/TextResultValue-->
<schema xmlns:dis="http://www.kith.no/xmlstds/epikrise/2012-02-15" xmlns:kith="http://www.kith.no/xmlstds" xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.kith.no/xmlstds/epikrise/2012-02-15" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.kith.no/xmlstds" schemaLocation="http://www.kith.no/xmlstds/kith.xsd"/>
	<!-- LEVEL 1 -->
	<!-- Class: Tilbakemeldingsmelding -->
	<annotation>
		<documentation>En melding bestående av en tilbakemelding.</documentation>
	</annotation>
	<element name="Message">
		<complexType>
			<sequence>
				<element name="Type" type="kith:CS" minOccurs="0"/>
				<element name="MsgVersion" type="kith:ST" minOccurs="0"/>
				<element name="MIGversion" type="kith:ST"/>
				<element name="GenDate" type="kith:TS"/>
				<element name="MsgId" type="kith:ST"/>
				<element name="Status" type="kith:CS" minOccurs="0"/>
				<element ref="dis:ServRprt"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 2 -->
	<!-- Class: Tilbakemelding -->
	<annotation>
		<documentation>Tilbakemelding fra en spesialist eller annen helsetjenesteenhet etter helt eller delvis utført behandling eller som svar på en forespørsel.</documentation>
	</annotation>
	<element name="ServRprt">
		<complexType>
			<sequence>
				<element name="ServType" type="kith:CS"/>
				<element name="IssueDate" type="kith:TS"/>
				<element name="ApprDate" type="kith:TS" minOccurs="0"/>
				<element name="Status" type="kith:CS"/>
				<element name="Priority" type="kith:CS" minOccurs="0"/>
				<element name="Ack" type="kith:CS" minOccurs="0"/>
				<element name="MsgDescr" type="kith:ST"/>
				<element name="ServProvId" type="kith:ST" minOccurs="0"/>
				<element ref="dis:ServReq" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:Event" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:Patient"/>
				<element ref="dis:ServProvider"/>
				<element ref="dis:CopyDest" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:Requester"/>
				<element ref="dis:RelServProvider" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:RefDoc" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 3 -->
	<!-- Class: Tjenesteyter -->
	<annotation>
		<documentation>Helsetjenesteenhet som yter tjenester i forbindelse med undersøkelse eller behandling av pasient.</documentation>
	</annotation>
	<element name="ServProvider">
		<complexType>
			<sequence>
				<element name="Role" type="kith:CS" minOccurs="0"/>
				<element name="ComMethod" type="kith:CS" minOccurs="0"/>
				<element ref="dis:HCP"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Referert dokument -->
	<element name="RefDoc">
		<annotation>
			<documentation>
         Referanse/peker til det evt. vedlagte dokumentet. Dokumentet kan ligge direkte inkludert i innhold (Content), som et annet vedlegg i samme sending, eller finnes eksternt.  Når tilsvarende informasjon ligger i eksisterende dokumentet, skal verdiene hentes fra (samsvare med) tilsvarende verdier i dokumentet.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="IssueDate" type="kith:TS" minOccurs="0"/>
				<element name="MsgType" type="kith:CS"/>
				<element name="Id" type="string" minOccurs="0"/>
				<element name="MimeType" type="string" minOccurs="0"/>
				<element name="Description" type="string" minOccurs="0"/>
				<element name="Compression" type="kith:CS" minOccurs="0"/>
				<choice>
					<element name="FileReference" type="anyURI" minOccurs="0"/>
					<element name="Content" minOccurs="0">
						<complexType>
							<complexContent>
								<restriction base="anyType">
									<sequence>
										<any processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
				</choice>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Pasient -->
	<annotation>
		<documentation>Opplysninger om pasienten.</documentation>
	</annotation>
	<element name="Patient">
		<complexType>
			<sequence>
				<element name="Sex" type="kith:CS" minOccurs="0"/>
				<element name="DateOfBirth" type="kith:TS" minOccurs="0"/>
				<element name="DateOfDeath" type="kith:TS" minOccurs="0"/>
				<element name="Name" type="kith:ST" minOccurs="0"/>
				<element name="IdByServProvider" type="kith:ST" minOccurs="0"/>
				<element name="IdByRequester" type="kith:ST" minOccurs="0"/>
				<element name="OffId" type="kith:ST" minOccurs="0"/>
				<element name="TypeOffId" type="kith:CS" minOccurs="0"/>
				<element ref="dis:PatientPrecaution" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:PatientRelParty" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:PatRelHCP" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:AdditionalId" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:Address" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Kopimottaker -->
	<annotation>
		<documentation>Helsetjenesteenhet som får eller som skal ha kopi av et dokument eller melding.</documentation>
	</annotation>
	<element name="CopyDest">
		<complexType>
			<sequence>
				<element name="Role" type="kith:CS" minOccurs="0"/>
				<element ref="dis:CopyDestRole" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:HCP"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Henvisende instans -->
	<annotation>
		<documentation>
      Helsetjenesteenhet som henviser pasient til undersøkelse eller behandling.
   </documentation>
	</annotation>
	<element name="Requester">
		<complexType>
			<sequence>
				<element name="Role" type="kith:CS" minOccurs="0"/>
				<element name="ComMethod" type="kith:CS" minOccurs="0"/>
				<element ref="dis:HCP"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Henvisning -->
	<annotation>
		<documentation>
      Henvisning av en pasient til undersøkelse/behandling hos spesialist eller annen helsetjenesteenhet.
   </documentation>
	</annotation>
	<element name="ServReq">
		<complexType>
			<sequence>
				<element name="ServType" type="kith:CS"/>
				<element name="IssueDate" type="kith:TS"/>
				<element name="ReceiptDate" type="kith:TS" minOccurs="0"/>
				<element name="ReqComment" type="kith:ST" minOccurs="0"/>
				<element name="MsgDescr" type="kith:CS"/>
				<element name="Id" type="kith:ST"/>
				<element ref="dis:ReasonAsText" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:Diagnosis" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 4 -->
	<!-- Class: Begrunnelse for henvisningen -->
	<annotation>
		<documentation>
      Begrunnelse for henvisningen som fri tekst.
   </documentation>
	</annotation>
	<element name="ReasonAsText">
		<complexType>
			<sequence>
				<element name="Heading" type="kith:CS" minOccurs="0"/>
				<element name="TextResultValue" type="anyType" minOccurs="0"/>
				<element name="TextCode" type="kith:CV" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Pasientrelatert helsetjenesteenhet -->
	<annotation>
		<documentation>
      Helsetjenesteenhet som er involvert i å yte helsetjeneste til en pasient og som ikke er spesielt relatert til en gitt hendelse.
   </documentation>
	</annotation>
	<element name="PatRelHCP">
		<complexType>
			<sequence>
				<element name="Relation" type="kith:CS"/>
				<element name="StartDateTime" type="kith:TS" minOccurs="0"/>
				<element name="EndDateTime" type="kith:TS" minOccurs="0"/>
				<!-- Fjernet elemenetet Role for å samordne med henvisning
				<element name="Role" type="kith:CS" minOccurs="0"/>
				-->
				<element ref="dis:HCP"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Alternativ pasientid -->
	<annotation>
		<documentation>
      Annen identifikasjon av personen som personen er eller har vært kjent under.
   </documentation>
	</annotation>
	<element name="AdditionalId">
		<complexType>
			<sequence>
				<element name="Id" type="kith:ST"/>
				<element name="Type" type="kith:CS"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Kopimottakerrolle -->
	<annotation>
		<documentation>
      Rolle til aktuelle kopimottaker.
   </documentation>
	</annotation>
	<element name="CopyDestRole">
		<complexType>
			<sequence>
				<element name="MsgType" type="kith:CS"/>
				<element name="ReqComMethod" type="kith:CS" minOccurs="0"/>
				<element name="ActComMethod" type="kith:CS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Kommentar til hendelsen -->
	<annotation>
		<documentation>
      Selve den tekstlige beskrivelsen for den aktuelle hendelsen. 
   </documentation>
	</annotation>
	<element name="Comment">
		<complexType>
			<sequence>
				<element name="Heading" type="kith:CS" minOccurs="0"/>
				<element name="TextResultValue" type="anyType" minOccurs="0"/>
				<element name="TextCode" type="kith:CV" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tilknyttet henvisning -->
	<annotation>
		<documentation>
      Referanse til henvisning som er relevant for denne hendelsen.
   </documentation>
	</annotation>
	<element name="AssRequest">
		<complexType>
			<sequence>
				<element name="IssueDate" type="kith:TS" minOccurs="0"/>
				<element name="MsgType" type="kith:CS"/>
				<element name="Id" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Pasientrelatert part -->
	<annotation>
		<documentation>
      Pasientrelatert part utenom helsetjenesteenheter som er involvert i håndtering av pasienten, f.eks. pårørende.
   </documentation>
	</annotation>
	<element name="PatientRelParty">
		<complexType>
			<sequence>
				<element name="Relation" type="kith:CS"/>
				<element name="Name" type="kith:ST" minOccurs="0"/>
				<element name="RelPartyOffId" type="kith:ST" minOccurs="0"/>
				<element ref="dis:Address" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Advarsel til tjenesteyter -->
	<annotation>
		<documentation>
      Pasientopplysninger av betydning for tjenesteyters håndtering av pasienten.
   </documentation>
	</annotation>
	<element name="PatientPrecaution">
		<complexType>
			<sequence>
				<element name="Precaution" type="kith:ST"/>
				<element name="StartDateTime" type="kith:TS" minOccurs="0"/>
				<element name="EndDateTime" type="kith:TS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Planlagt hendelse -->
	<!-- Benyttes foreløpig ikke -->
	<annotation>
		<documentation>
      Opplysninger om en ønsket, foreslått eller planlagt aktivitet.
   </documentation>
	</annotation>
	<element name="PlannedEvent">
		<complexType>
			<sequence>
				<element name="PlanningStage" type="kith:CS" minOccurs="0"/>
				<element name="StatusOfPlan" type="kith:CS" minOccurs="0"/>
				<element name="PlanComment" type="kith:ST" minOccurs="0"/>
				<element name="PlanningDate" type="kith:TS" minOccurs="0"/>
				<element name="ScheduledDate" type="kith:TS" minOccurs="0"/>
				<element name="AdviceSentTo" type="kith:CS" minOccurs="0"/>
				<element name="ExpectedDelay" type="kith:PQ" minOccurs="0"/>
				<element name="CommentExpDuration" type="kith:ST" minOccurs="0"/>
				<element name="Preparation" type="kith:ST" minOccurs="0"/>
				<element name="Advice" type="kith:ST" minOccurs="0"/>
				<element ref="dis:TransportArr" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Kodekommentar til hendelsen -->
	<annotation>
		<documentation>
      For angivelse av kodet opplysning knyttet til hendelsen.
   </documentation>
	</annotation>
	<element name="CodedComment">
		<complexType>
			<sequence>
				<element name="Concept" type="kith:CV"/>
				<element ref="dis:Modifier" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Henvisningsdiagnose -->
	<annotation>
		<documentation>
      Begrunnelse for henvisningen i form av en tilstandsangivelse (henvisningsdiagnose).
   </documentation>
	</annotation>
	<element name="Diagnosis">
		<complexType>
			<sequence>
				<element name="Concept" type="kith:CV"/>
				<element ref="dis:Modifier" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tjeneste -->
	<annotation>
		<documentation>
      Spesifikasjon av utført, planlagt eller rekvirert tjeneste.
   </documentation>
	</annotation>
	<element name="Service">
		<complexType>
			<sequence>
				<element name="ServId" type="kith:CV" minOccurs="0"/>
				<element name="MedSpecialty" type="kith:CV" minOccurs="0"/>
				<element name="AdmCat" type="kith:CS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Avsluttet hendelse -->
	<annotation>
		<documentation>
      Opplysninger om en hendelse som har funnet sted.
   </documentation>
	</annotation>
	<element name="ReportedEvent">
		<complexType>
			<sequence>
				<element name="StartDateTime" type="kith:TS"/>
				<element name="EndDateTime" type="kith:TS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Hendelsessted -->
	<annotation>
		<documentation>
      Sted for aktuelle hendelse.
   </documentation>
	</annotation>
	<element name="EventLocation">
		<complexType>
			<sequence>
				<element name="Role" type="kith:CS" minOccurs="0"/>
				<element name="StartDateTime" type="kith:TS" minOccurs="0"/>
				<element name="EndDateTime" type="kith:TS" minOccurs="0"/>
				<element ref="dis:Location"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tilknyttet tjenesteyter -->
	<annotation>
		<documentation>
      Helsetjenesteenhet involvert i å yte helsetjeneste i forbindelse med en hendelse eller selve tilbakemeldingen.
   </documentation>
	</annotation>
	<element name="RelServProvider">
		<complexType>
			<sequence>
				<element name="Relation" type="kith:CS"/>
				<element name="Role" type="kith:CS" minOccurs="0"/>
				<element ref="dis:HCP"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Hendelse -->
	<annotation>
		<documentation>
      Opplysninger om planlagt eller avsluttet hendelse.
   </documentation>
	</annotation>
	<element name="Event">
		<complexType>
			<sequence minOccurs="0">
				<choice>
					<element ref="dis:PlannedEvent"/>
					<element ref="dis:ReportedEvent"/>
				</choice>
				<element name="ServType" type="kith:CS"/>
				<element name="Recipient" type="kith:CS" minOccurs="0"/>
				<element name="Priority" type="kith:CS" minOccurs="0"/>
				<element name="AdmOutcome" type="kith:CS" minOccurs="0"/>
				<element name="ExpDuration" type="kith:PQ" minOccurs="0"/>
				<!-- Id er tatt ut i versjon 1.2 da denne ikke benyttes til intern referering i XML Schema lenger
				<element name="Id" type="kith:INT"/>
				-->
				<element ref="dis:Event" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:Service"/>
				<element ref="dis:RelServProvider" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:AssRequest" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:EventLocation" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:InfItem" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:Comment" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:CodedComment" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
		<!-- Denne strukturen er tatt ut i versjon 1.2 da denne ikke benyttes til intern referering i XML Schema lenger
			<key name="EventP_ID">
			<selector xpath="dis:Event"/>
			<field xpath="@Id"/>
		</key -->
	</element>
	<!-- Class: Klinisk opplysning -->
	<annotation>
		<documentation>
      Opplysninger om en enkelt klinisk opplysning.
   </documentation>
	</annotation>
	<element name="InfItem">
		<complexType>
			<sequence>
				<choice>
					<element ref="dis:ResultItem"/>
					<element ref="dis:Medication"/>
					<element ref="dis:Observation"/>
				</choice>
				<element name="Type" type="kith:CS"/>
				<element name="StartDateTime" type="kith:TS" minOccurs="0"/>
				<element name="EndDateTime" type="kith:TS" minOccurs="0"/>
				<element name="OrgDate" type="kith:TS" minOccurs="0"/>
				<element ref="dis:Origin" minOccurs="0"/>
				<element ref="dis:RelHCProvider" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 5 -->
	<!-- Class: Undersøkelsesresultat -->
	<annotation>
		<documentation>
      Opplysninger om resultatet av en undersøkelse.
   </documentation>
	</annotation>
	<element name="ResultItem">
		<complexType>
			<sequence>
				<choice>
					<element ref="dis:TextResult"/>
					<element ref="dis:Interval"/>
					<element ref="dis:NumResult"/>
					<element ref="dis:DateResult"/>
				</choice>
				<element name="ServType" type="kith:CS" minOccurs="0"/>
				<element name="InvDate" type="kith:TS" minOccurs="0"/>
				<element name="Comment" type="kith:ST" minOccurs="0"/>
				<element name="DevResultInd" type="kith:CS" minOccurs="0"/>
				<element ref="dis:ClinInv"/>
				<element ref="dis:DiagComment" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Pasienttransportforberedelse -->
	<annotation>
		<documentation>
      Opplysninger om planlagte eller arrangerte transportforberedelser for pasienten til og fra behandlingsstedet.
   </documentation>
	</annotation>
	<element name="TransportArr">
		<complexType>
			<sequence>
				<element name="Responsibility" type="kith:CS" minOccurs="0"/>
				<element name="Status" type="kith:CS" minOccurs="0"/>
				<element name="TransportRequirement" type="kith:CV" minOccurs="0"/>
				<element name="EscortRequired" type="kith:CS" minOccurs="0"/>
				<element name="Comment" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Opprinnelse til klinisk opplysning -->
	<annotation>
		<documentation>
      Helsetjenesteenhet som er kilde til en (eller flere) klinisk(e) opplysning(er).
   </documentation>
	</annotation>
	<element name="Origin">
		<complexType>
			<sequence>
				<element name="Role" type="kith:CS" minOccurs="0"/>
				<element ref="dis:HCP"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Medikamentell behandling -->
	<annotation>
		<documentation>
      Spesifikasjon av tidligere, planlagt eller pågående medikamentell behandling.
   </documentation>
	</annotation>
	<element name="Medication">
		<complexType>
			<sequence>
				<element name="DrugId" type="kith:CV"/>
				<element name="DosageCoded" type="kith:CV" minOccurs="0"/>
				<element name="Comment" type="kith:ST" minOccurs="0"/>
				<element name="Status" type="kith:CS"/>
				<element name="Form" type="kith:CV" minOccurs="0"/>
				<element name="RouteOfAdm" type="kith:CV" minOccurs="0"/>
				<element name="IntendedDuration" type="kith:PQ" minOccurs="0"/>
				<element name="QuantitySupplied" type="kith:PQ" minOccurs="0"/>
				<element name="UnitDose" type="kith:PQ" minOccurs="0"/>
				<element name="DosageText" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Annen klinisk opplysning -->
	<annotation>
		<documentation>
      Beskrivelse av klinisk opplysning bortsett fra medikamentell behandling og undersøkelsesresultat som er beskrevet strukturert.
   </documentation>
	</annotation>
	<element name="Observation">
		<complexType>
			<sequence>
				<element name="Description" type="anyType" minOccurs="0"/>
				<element name="Comment" type="kith:ST" minOccurs="0"/>
				<element ref="dis:CodedDescr" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Lokalitet -->
	<annotation>
		<documentation>
      Opplysninger om fysisk lokasjon.
   </documentation>
	</annotation>
	<element name="Location">
		<complexType>
			<sequence>
				<element name="Type" type="kith:CS" minOccurs="0"/>
				<element name="Description" type="kith:ST" minOccurs="0"/>
				<element ref="dis:Inst" minOccurs="0"/>
				<element ref="dis:Address" minOccurs="0"/>
				<element ref="dis:SubLocation" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tilknyttet klinisk tjenesteyter -->
	<annotation>
		<documentation>
      Helsetjenesteyter som er relatert til en klinisk opplysning.
   </documentation>
	</annotation>
	<element name="RelHCProvider">
		<complexType>
			<sequence>
				<element name="Relation" type="kith:CS"/>
				<element name="Role" type="kith:CS" minOccurs="0"/>
				<element ref="dis:HCP"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 6 -->
	<!-- Class: Kommentar som diagnose -->
	<annotation>
		<documentation>
      Kommentar til undersøkelsesresultatet som tilstand/diagnose.
   </documentation>
	</annotation>
	<element name="DiagComment">
		<complexType>
			<sequence>
				<element name="Concept" type="kith:CV"/>
				<element ref="dis:Modifier" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Beskrivelse som kode -->
	<annotation>
		<documentation>
      Annen klinisk opplysning i form av kode. 
   </documentation>
	</annotation>
	<element name="CodedDescr">
		<complexType>
			<sequence>
				<element name="Concept" type="kith:CV"/>
				<element ref="dis:Modifier" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Helsetjenesteenhet -->
	<annotation>
		<documentation>
      Opplysninger om en helsetjenesteenhet.
   </documentation>
	</annotation>
	<element name="HCP">
		<complexType>
			<sequence>
				<choice>
					<element ref="dis:Inst"/>
					<element ref="dis:HCProf"/>
				</choice>
				<element name="MedSpecialty" type="kith:CV" minOccurs="0"/>
				<!-- PartyIdByRequester og PartyIdByServProv er tatt ut i versjon 1.2 for å være kompatibel med informasjon i Hodemelding og øvrige basismeldinger)
				<element name="PartyIdByRequester" type="kith:ST" minOccurs="0"/>
				<element name="PartyIdByServProv" type="kith:ST" minOccurs="0"/>
				-->
				<element ref="dis:Address" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tekstlig resultat -->
	<annotation>
		<documentation>
      Undersøkelsesresultat angitt som et tekstlig svar.
   </documentation>
	</annotation>
	<element name="TextResult">
		<complexType>
			<sequence>
				<element ref="dis:Result" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Institusjon -->
	<annotation>
		<documentation>
      Institusjon i helsevesenet
   </documentation>
	</annotation>
	<element name="Inst">
		<complexType>
			<sequence>
				<element name="Name" type="kith:ST" minOccurs="0"/>
				<!-- Type er tatt ut i versjon 1.2 for å være kompatibel med informasjon i Hodemelding og øvrige basismeldinger)
				<element name="Type" type="kith:CS" minOccurs="0"/>
				-->
				<element name="Id" type="kith:ST" minOccurs="0"/>
				<element name="TypeId" type="kith:CS" minOccurs="0"/>
				<element ref="dis:Dept" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:HCPerson" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="dis:AdditionalId" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Adresse -->
	<annotation>
		<documentation>
      Adresse.
   </documentation>
	</annotation>
	<element name="Address">
		<complexType>
			<sequence>
				<element name="Type" type="kith:CS"/>
				<element name="StreetAdr" type="kith:ST" minOccurs="0"/>
				<element name="PostalCode" type="kith:ST" minOccurs="0"/>
				<element name="City" type="kith:ST" minOccurs="0"/>
				<element name="County" type="kith:CS" minOccurs="0"/>
				<element name="Country" type="kith:CS" minOccurs="0"/>
				<element name="CityDistr" type="kith:CS" minOccurs="0"/>
				<element name="TeleAddress" type="kith:URL" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Sublokalitet -->
	<annotation>
		<documentation>
      Ytterligere spesifikasjon av aktuelle lokalitet.
   </documentation>
	</annotation>
	<element name="SubLocation">
		<complexType>
			<sequence>
				<element name="Type" type="kith:CS"/>
				<element name="Place" type="kith:ST"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Klinisk undersøkelse -->
	<annotation>
		<documentation>
      Spesifikasjon av en klinisk undersøkelse som resulterer i et undersøkelsesresultat.
   </documentation>
	</annotation>
	<element name="ClinInv">
		<complexType>
			<sequence>
				<element name="Id" type="kith:CV"/>
				<element name="Spec" type="kith:CV" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Usikkerhetsintervall -->
	<annotation>
		<documentation>
      Undersøkelsesresultat angitt som et usikkerhetsintervall.
   </documentation>
	</annotation>
	<element name="Interval">
		<complexType>
			<sequence>
				<element name="Low" type="kith:PQ" minOccurs="0"/>
				<element name="High" type="kith:PQ" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Numerisk resultat -->
	<annotation>
		<documentation>
      Undersøkelsesresultat i form av en numerisk verdi.
   </documentation>
	</annotation>
	<element name="NumResult">
		<complexType>
			<sequence>
				<element name="ArithmeticComp" type="kith:CS" minOccurs="0"/>
				<element name="NumResultValue" type="kith:PQ"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Datoresultat -->
	<annotation>
		<documentation>
      Undersøkelsesresultat uttrykt som en dato.
   </documentation>
	</annotation>
	<element name="DateResult">
		<complexType>
			<sequence>
				<element name="DateResultValue" type="kith:TS"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Person i helsevesenet -->
	<annotation>
		<documentation>
      Person i helsevesenet som er involvert direkte eller indirekte i å yte helsetjenester til en pasient.
   </documentation>
	</annotation>
	<element name="HCProf">
		<complexType>
			<sequence>
				<element name="Type" type="kith:CS" minOccurs="0"/>
				<element name="Position" type="kith:CV" minOccurs="0"/>
				<element name="Name" type="kith:ST" minOccurs="0"/>
				<element name="Qual" type="kith:CV" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Id" type="kith:ST" minOccurs="0"/>
				<element name="TypeId" type="kith:CS" minOccurs="0"/>
				<element ref="dis:AdditionalId" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 7 -->
	<!-- Class: Resultat -->
	<annotation>
		<documentation>
      Tekstlig resultat.
   </documentation>
	</annotation>
	<element name="Result">
		<complexType>
			<sequence>
				<element name="Heading" type="kith:CS" minOccurs="0"/>
				<element name="TextResultValue" type="anyType" minOccurs="0"/>
				<element name="TextCode" type="kith:CV" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Moderator -->
	<annotation>
		<documentation>
      Modifikator til en tilstand/prosedyre.
   </documentation>
	</annotation>
	<element name="Modifier">
		<complexType>
			<sequence>
				<element name="Name" type="kith:CS"/>
				<element name="Value" type="kith:CV" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Avdeling -->
	<annotation>
		<documentation>
      Opplysninger om avdeling.
   </documentation>
	</annotation>
	<element name="Dept">
		<complexType>
			<sequence>
				<element name="Type" type="kith:CS" minOccurs="0"/>
				<element name="Name" type="kith:ST" minOccurs="0"/>
				<element name="Id" type="kith:ST" minOccurs="0"/>
				<element name="TypeId" type="kith:CS" minOccurs="0"/>
				<element ref="dis:AdditionalId" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Person i organisasjon -->
	<annotation>
		<documentation>
      Person i helsevesenett som er del av en institusjon eller avdeling.
   </documentation>
	</annotation>
	<element name="HCPerson">
		<complexType>
			<sequence>
				<element name="Name" type="kith:ST" minOccurs="0"/>
				<element name="Id" type="kith:ST" minOccurs="0"/>
				<element name="TypeId" type="kith:CS" minOccurs="0"/>
				<element ref="dis:AdditionalId" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
</schema>
