skjema/eresept/Forskrivning-2010-04-01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
eResept versjon 2.4 
Forskrivning
2010-04-01 / BUGFIX 3 2013-03-12
 -->
<!--
BUGFIX 3 2013-03-12
Endret kardinalitet: fs:FastDose/fs:DagerPa 1..1 -> 0..1
Endret kardinalitet: fs:FastDose/fs:DagerAv 1..1 -> 0..1
-->
<!-- 
BUGFIX 2013-02-21
Endret kardinalitet: fs:Dosering/fs:Doseringsregel 1..1 -> 0..1
-->
<!--
BUGFIX 2012-10-31
Endret kardinalitet: fs:Dosering/fs:Starttidspunkt 1..1 -> 0..1
Endret kardinalitet: fs:Dosering/fs:Sluttidspunkt 1..1 -> 0..1
Denne filen kan omdøpes til "Forskrivning-2010-04-01-BF1.xsd" om nødvendig.
-->
<!-- 
Endringer siden versjon 2.1/2.3.1
Ny: Legemiddeldose (V2.4 EO_052 Sak 721). Inkluderer Id, LmrLopenr, Mengde, Pakningstype, RefLegemiddelMerkevare. 
Legemiddel/NavnStyrkeForm -> NavnFormStyrke (V2.4 EO_052 Sak 788)
Ny: typeLegemiddel/Opioidsoknad (V2.4 EO_052 Sak 732)
Ny: AdministreringLegemiddel (V2.4 EO_052 Sak 722. Inkluderer Blandingsveske, RefBlandingsveske, Administrasjonsvei, KanKnuses, KanApnes, Bolus, InjeksjonshastighetBolus, Deling, EnhetDosering, Kortdose, ForhandsregelInntak.
Oppdatert 2010-03-26:
BestanddelAnnet/Navn -> NavnFormStyrke (V2.4 EO_051 Sak 655)
-->
<schema xmlns:fs="http://www.kith.no/xmlstds/eresept/forskrivning/2010-04-01" xmlns:kith="http://www.kith.no/xmlstds" xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.kith.no/xmlstds/eresept/forskrivning/2010-04-01" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.kith.no/xmlstds" schemaLocation="../felleskomponenter/kith.xsd"/>
	<element name="Forskrivning">
		<complexType>
			<sequence>
				<element name="Bruksomrade" type="string" minOccurs="0"/>
				<element name="DosVeiledEnkel" type="string" minOccurs="0"/>
				<element name="IngenKombinasjon" type="boolean" minOccurs="0"/>
				<element name="Bruk" type="kith:CS" minOccurs="0"/>
				<element ref="fs:Administrering" minOccurs="0"/>
				<element ref="fs:Dosering" minOccurs="0" maxOccurs="unbounded"/>
				<choice>
					<element ref="fs:LegemiddelMerkevare"/>
					<element ref="fs:Legemiddelpakning"/>
					<element ref="fs:LegemiddelVirkestoff"/>
					<element ref="fs:Legemiddelblanding"/>
					<element ref="fs:Legemiddeldose"/>
				</choice>
			</sequence>
		</complexType>
	</element>
	<element name="Administrering">
		<complexType>
			<sequence>
				<element name="AdmVed" type="kith:CS"/>
				<element name="AdmMate" type="kith:CS"/>
				<element name="AdmEtterSkjema" type="boolean" minOccurs="0"/>
				<element name="AdmSkjema" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="Refusjon">
		<complexType>
			<sequence>
				<element name="RefRefusjonsgruppe" type="IDREF" maxOccurs="unbounded">
					<annotation>
						<documentation>Referanse til refusjonsgruppe</documentation>
					</annotation>
				</element>
				<element name="GyldigFraDato" type="date"/>
				<element name="ForskrivesTilDato" type="date" minOccurs="0"/>
				<element name="UtleveresTilDato" type="date" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!--Dosering-->
	<element name="Dosering">
		<complexType>
			<sequence>
				<element name="Starttidspunkt" type="kith:TS" minOccurs="0"/>
				<element name="Sluttidspunkt" type="kith:TS" minOccurs="0"/>
				<element ref="fs:Doseringsregel" minOccurs="0"/>
				<choice>
					<element ref="fs:DoseFastTidspunkt" maxOccurs="unbounded"/>
					<element ref="fs:DoseEtterBehov" maxOccurs="unbounded"/>
				</choice>
			</sequence>
		</complexType>
	</element>
	<element name="Doseringsregel">
		<complexType>
			<sequence>
				<element name="DoseresEtter" type="kith:CS"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<complexType name="typeDose">
		<sequence>
			<element name="Mengde" type="kith:PQ"/>
			<element name="Intervall" type="kith:PQ" minOccurs="0"/>
			<element ref="fs:Infusjonshastighet" minOccurs="0"/>
		</sequence>
	</complexType>
	<element name="Infusjonshastighet">
		<complexType>
			<sequence>
				<element name="Volum" type="kith:PQ"/>
				<element name="Tidsenhet" type="kith:CS"/>
			</sequence>
		</complexType>
	</element>
	<element name="DoseFastTidspunkt">
		<complexType>
			<complexContent>
				<extension base="fs:typeDose">
					<sequence>
						<element name="Klokkeslett" type="time" minOccurs="0"/>
						<element name="Tidsomrade" type="kith:CS" minOccurs="0"/>
						<element name="GisEksakt" type="boolean"/>
						<element ref="fs:FastDose" minOccurs="0"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="DoseEtterBehov">
		<complexType>
			<complexContent>
				<extension base="fs:typeDose">
					<sequence>
						<element name="DoseDognMaks" type="kith:PQ"/>
						<element name="DoseTidsromMaks" type="kith:PQ"/>
						<element name="Tidsrom" type="kith:PQ"/>
						<element name="DoseIntervallMin" type="kith:PQ"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="FastDose">
		<complexType>
			<sequence>
				<element name="FasteUkedager" type="kith:CS" minOccurs="0" maxOccurs="unbounded"/>
				<element name="DagerPa" type="int" minOccurs="0"/>
				<element name="DagerAv" type="int" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!--Legemiddel-->
	<element name="LegemiddelMerkevare">
		<complexType>
			<complexContent>
				<extension base="fs:typeLegemiddel">
					<sequence>
						<element name="Id" type="ID" minOccurs="0"/>
						<element name="Varenavn" type="string"/>
						<element name="LegemiddelformLang" type="string" minOccurs="0"/>
						<element ref="fs:SortertVirkestoffMedStyrke" minOccurs="0" maxOccurs="unbounded"/>
						<element name="Refvirkestoff" type="IDREF" minOccurs="0" maxOccurs="unbounded"/>
						<element name="Lopenr" type="string" minOccurs="0"/>
						<element ref="fs:ProduktInfo" minOccurs="0"/>
						<element ref="fs:Reseptgyldighet" minOccurs="0" maxOccurs="unbounded"/>
						<element ref="fs:Hjelpestoff" minOccurs="0" maxOccurs="unbounded"/>
						<element ref="fs:Preparatomtaleavsnitt" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="Preparatomtaleavsnitt">
		<complexType>
			<sequence>
				<element name="Avsnittoverskrift" type="kith:CS"/>
				<element ref="fs:Lenke"/>
			</sequence>
		</complexType>
	</element>
	<element name="Legemiddelpakning">
		<complexType>
			<complexContent>
				<extension base="fs:typeLegemiddel">
					<sequence>
						<element name="Varenr" type="string"/>
						<element name="Ean" type="string" minOccurs="0">
							<annotation>
								<documentation>Strekkode</documentation>
							</annotation>
						</element>
						<element name="IkkeKonservering" type="boolean" minOccurs="0"/>
						<element ref="fs:Pakningsinfo" minOccurs="0" maxOccurs="unbounded"/>
						<element ref="fs:PakningsinfoResept" minOccurs="0" maxOccurs="unbounded"/>
						<element ref="fs:PrisVare" minOccurs="0" maxOccurs="unbounded"/>
						<element ref="fs:Markedsforingsinfo" minOccurs="0"/>
						<element ref="fs:Preparatomtaleavsnitt" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="PrisVare">
		<complexType>
			<sequence>
				<element name="Type" type="kith:CV"/>
				<element name="Pris" type="kith:MO"/>
				<element name="GyldigFraDato" type="date" minOccurs="0"/>
				<element name="GyldigTilDato" type="date" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="ProduktInfo">
		<complexType>
			<sequence>
				<element name="Varseltrekant" type="boolean" minOccurs="0"/>
				<element name="Referanseprodukt" type="string" minOccurs="0"/>
				<element name="Vaksinestandard" type="kith:CV" minOccurs="0"/>
				<element name="Produsent" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="Hjelpestoff">
		<complexType>
			<sequence>
				<element name="Navn" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="Reseptgyldighet">
		<complexType>
			<sequence>
				<element name="Kjonn" type="kith:CS" minOccurs="0"/>
				<element name="Varighet" type="duration"/>
			</sequence>
		</complexType>
	</element>
	<element name="Markedsforingsinfo">
		<complexType>
			<sequence>
				<element name="VarenrUtgaende" type="string" minOccurs="0"/>
				<element name="Markedsforingsdato" type="date" minOccurs="0"/>
				<element name="AvregDato" type="date" minOccurs="0"/>
				<element name="MidlUtgattDato" type="date" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="PakningByttegruppe">
		<complexType>
			<sequence>
				<element name="RefByttegruppe" type="IDREF"/>
				<element name="GyldigFraDato" type="date" minOccurs="0"/>
				<element name="GyldigTilDato" type="date" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="Pakningsinfo">
		<complexType>
			<sequence>
				<element name="RefLegemiddelMerkevare" type="IDREF"/>
				<element name="Pakningsstr" type="string"/>
				<element name="EnhetPakning" type="kith:CV"/>
				<element name="Pakningstype" type="kith:CV"/>
				<element name="Multippel" type="int" minOccurs="0"/>
				<element name="Antall" type="int" minOccurs="0"/>
				<element name="Mengde" type="decimal"/>
			</sequence>
		</complexType>
	</element>
	<element name="PakningsinfoResept">
		<complexType>
			<sequence>
				<element name="Varenavn" type="string"/>
				<element name="Pakningsstr" type="string"/>
				<element name="EnhetPakning" type="kith:CV"/>
			</sequence>
		</complexType>
	</element>
	<element name="Legemiddelblanding">
		<complexType>
			<sequence>
				<element name="Navn" type="string"/>
				<element name="TilbOppl" type="string"/>
				<element name="BestanddelLegemiddel" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<complexContent>
							<extension base="fs:typeBestanddel">
								<sequence>
									<choice>
										<element ref="fs:LegemiddelMerkevare"/>
										<element ref="fs:Legemiddelpakning"/>
										<element ref="fs:LegemiddelVirkestoff"/>
									</choice>
								</sequence>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="BestanddelAnnet" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<complexContent>
							<extension base="fs:typeBestanddel">
								<sequence>
									<element name="NavnFormStyrke" type="string"/>
								</sequence>
							</extension>
						</complexContent>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Legemiddeldose">
		<complexType>
			<complexContent>
				<extension base="fs:typeLegemiddel">
					<sequence>
						<element name="Id" type="ID"/>
						<element name="LmrLopenr" type="string" minOccurs="0"/>
						<element name="Mengde" type="kith:PQ"/>
						<element name="Pakningstype" type="kith:CV" minOccurs="0"/>
						<element name="RefLegemiddelMerkevare" type="IDREF"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="AdministreringLegemiddel">
		<complexType>
			<sequence>
				<element name="Blandingsveske" type="boolean" minOccurs="0"/>
				<element name="RefBlandingsveske" type="IDREF" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Administrasjonsvei" type="kith:CV" maxOccurs="unbounded"/>
				<element name="KanKnuses" type="kith:CS" minOccurs="0"/>
				<element name="KanApnes" type="kith:CS" minOccurs="0"/>
				<element name="Bolus" type="kith:CS" minOccurs="0"/>
				<element name="InjeksjonshastighetBolus" type="kith:CS" minOccurs="0"/>
				<element name="Deling" type="kith:CS" minOccurs="0"/>
				<element name="EnhetDosering" type="kith:CV" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Kortdose" type="kith:CV" minOccurs="0" maxOccurs="unbounded"/>
				<element name="ForhandsregelInntak" type="kith:CV" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<complexType name="typeLegemiddel">
		<sequence>
			<element name="Atc" type="kith:CV" minOccurs="0"/>
			<element name="NavnFormStyrke" type="string"/>
			<element name="Reseptgruppe" type="kith:CS"/>
			<element name="LegemiddelformKort" type="kith:CV" minOccurs="0"/>
			<element name="RefVilkar" type="IDREF" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Referanse til vilkår</documentation>
				</annotation>
			</element>
			<element name="Preparattype" type="kith:CS" minOccurs="0"/>
			<element name="TypeSoknadSlv" type="kith:CS" minOccurs="0"/>
			<element name="Opioidsoknad" type="boolean" minOccurs="0"/>
			<element ref="fs:Refusjon" minOccurs="0"/>
			<element ref="fs:PakningByttegruppe" minOccurs="0"/>
			<element ref="fs:AdministreringLegemiddel" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="typeBestanddel">
		<sequence>
			<element name="Mengde" type="kith:PQ"/>
		</sequence>
	</complexType>
	<!--Virkestofforskrivning-->
	<element name="LegemiddelVirkestoff">
		<complexType>
			<complexContent>
				<extension base="fs:typeLegemiddel">
					<sequence>
						<element name="Id" type="ID"/>
						<element ref="fs:SortertVirkestoffMedStyrke" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="Virkestoff">
		<complexType>
			<sequence>
				<element name="Id" type="ID"/>
				<element name="Navn" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="VirkestoffMedStyrke">
		<complexType>
			<sequence>
				<element name="Id" type="ID"/>
				<element name="Styrke" type="kith:PQ"/>
				<element name="StyrkeNevner" type="kith:PQ" minOccurs="0"/>
				<element name="RefVirkestoff" type="IDREF"/>
				<element name="AlternativStyrke" type="kith:PQ" minOccurs="0"/>
				<element name="AlternativStyrkeNevner" type="kith:PQ" minOccurs="0"/>
				<element name="Styrkeoperator" type="kith:CV"/>
				<element name="StyrkeOvreVerdi" type="double" minOccurs="0"/>
				<element name="AtcKombipreparat" type="kith:CV" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="SortertVirkestoffMedStyrke">
		<complexType>
			<sequence>
				<element name="Sortering" type="int"/>
				<element name="RefVirkestoffMedStyrke" type="IDREF"/>
			</sequence>
		</complexType>
	</element>
	<!--Handelsvare-->
	<element name="MedForbMatr">
		<complexType>
			<complexContent>
				<extension base="fs:typeVare">
					<sequence>
						<element ref="fs:BestanddelMatr" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="BestanddelMatr">
		<complexType>
			<sequence>
				<element name="Navn" type="string"/>
				<element name="Materiale" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="Naringsmiddel">
		<complexType>
			<complexContent>
				<extension base="fs:typeVare">
					<sequence>
						<element ref="fs:StyrkeFormStoff" minOccurs="0"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="Brystprotese" type="fs:typeVare"/>
	<complexType name="typeVare">
		<sequence>
			<element name="Nr" type="string"/>
			<element name="Navn" type="string"/>
			<element ref="fs:ProduktInfoVare" minOccurs="0"/>
			<element ref="fs:Leverandor" minOccurs="0"/>
			<element ref="fs:PrisVare" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="fs:Refusjon" minOccurs="0"/>
		</sequence>
	</complexType>
	<element name="ProduktInfoVare">
		<complexType>
			<sequence>
				<element name="ProduktNr" type="string"/>
				<element name="Volum" type="string" minOccurs="0"/>
				<element name="EnhetStorrelse" type="kith:CV"/>
				<element name="AntPerPakning" type="int"/>
				<element name="RefVilkar" type="IDREF" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Referanse til vilkår</documentation>
					</annotation>
				</element>
				<element name="TillattMerMakspris" type="boolean"/>
			</sequence>
		</complexType>
	</element>
	<element name="Leverandor">
		<complexType>
			<sequence>
				<element name="Navn" type="string"/>
				<element name="Adresse" type="string"/>
				<element name="Telefon" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="StyrkeFormStoff">
		<complexType>
			<sequence>
				<element name="Styrke" type="string" minOccurs="0"/>
				<element name="Form" type="string" minOccurs="0"/>
				<element name="Stoff" type="string" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="Lenke">
		<complexType>
			<sequence>
				<element name="Beskrivelse" type="string" minOccurs="0"/>
				<element name="Nhn" type="kith:URL"/>
				<element name="Www" type="kith:URL"/>
			</sequence>
		</complexType>
	</element>
</schema>
