skjema/pasientkommunikasjon/MeldingFraPasient-v1_1.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generert 31-10-2006  av KITH -->
<!-- Melding fra pasient v1.1 -->
<!-- Namespecase  http://www.kith.no/xmlstds/FraPasient/2006-10-31 -->
<schema xmlns:pas="http://www.kith.no/xmlstds/FraPasient/2006-10-31" xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:kith="http://www.kith.no/xmlstds" xmlns:fk1="http://www.kith.no/xmlstds/felleskomponent1" targetNamespace="http://www.kith.no/xmlstds/FraPasient/2006-10-31" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.kith.no/xmlstds" schemaLocation="kith.xsd"/>
	<import namespace="http://www.kith.no/xmlstds/felleskomponent1" schemaLocation="felleskomponent1.xsd"/>
	<!-- LEVEL 1 -->
	<!-- Class: Melding fra pasient -->
	<element name="MeldingFraPasient">
		<annotation>
			<documentation>
         Inneholder opplysninger som identifiserer dette som en unik melding fra pasient.  Meldingstype har fast verdi:  PATIENT_FROM   Melding fra pasient
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Type" type="kith:CS"/>
				<element name="MIGversion" type="string"/>
				<element name="GenDate" type="dateTime"/>
				<element name="MsgId" type="string"/>
				<element name="ProcessingStatus" type="kith:CS" minOccurs="0"/>
				<element name="RequestedPriority" type="kith:CS" minOccurs="0"/>
				<element name="Ack" type="kith:CS" minOccurs="0"/>
				<element name="SoftwareName" type="string" minOccurs="0"/>
				<element name="SoftwareVersion" type="string" minOccurs="0"/>
				<element name="SvarPaForesporsel" type="boolean"/>
				<element name="Merknad" type="string" minOccurs="0"/>
				<element ref="pas:Patient"/>
				<element ref="pas:HealthcareProfessional" minOccurs="0"/>
				<choice>
					<element ref="pas:VarselForfall" maxOccurs="unbounded"/>
					<element ref="pas:FornyelseResept" maxOccurs="unbounded"/>
					<element ref="pas:AnnenHenvendelse" maxOccurs="unbounded"/>
					<element ref="pas:Timebestilling" maxOccurs="unbounded"/>
					<element ref="pas:Attestbestilling" maxOccurs="unbounded"/>
				</choice>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 2 -->
	<!-- Class: Pasient -->
	<element name="Patient">
		<annotation>
			<documentation>
         Informasjon som er knyttet til rollen som pasient.   Alle elementer er frivilige, men navn eller Id (Ident) må alltid oppgis. Vanligvis oppgis både navn og Id.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="FamilyName" type="string" minOccurs="0"/>
				<element name="MiddleName" type="string" minOccurs="0"/>
				<element name="GivenName" type="string" minOccurs="0"/>
				<element name="DateOfBirth" type="date" minOccurs="0"/>
				<element name="Sex" type="kith:CS" minOccurs="0"/>
				<element name="Nationality" type="kith:CS" minOccurs="0"/>
				<element name="Ident" type="fk1:Ident" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Address" type="fk1:Address" minOccurs="0"/>
				<element name="TeleCom" type="fk1:TeleCom" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="pas:RepresentantPasient" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<complexType name="Address">
		<!-- Type is unknown. Have to be defined manually -->
	</complexType>
	<!-- Class: Varsel om forfall -->
	<element name="VarselForfall">
		<annotation>
			<documentation>
         Benyttes dersom pasienten ikke har mulighet til å møte til en avtalt konsultasjon, slik at tidspunktet må endres eller konsultasjonen avlyses. (Ved endring angis ønsket ny konsultasjonstid i en instans av Timebestilling).  
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Bekreftelsesform" type="kith:CS" maxOccurs="unbounded"/>
				<element name="Tidspunkt" type="dateTime"/>
				<element name="Forfallsgrunn" type="string"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Fornyelse av resept -->
	<element name="FornyelseResept">
		<annotation>
			<documentation>
         Benyttes ved behov for fornyelse av en tidligere utstedt resept.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Bekreftelsesform" type="kith:CS" maxOccurs="unbounded"/>
				<element name="Leveringsform" type="kith:CS"/>
				<element name="Merknad" type="string" minOccurs="0"/>
				<element ref="pas:BeskrivelseLegemiddel" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Timebestilling -->
	<element name="Timebestilling">
		<annotation>
			<documentation>
         Denne typen fragment benyttes av pasienten eller pasientens foresatte ved bestilling av time. Dersom henvendelsen f.eks. sendes til et legekontor hvor det finnes flere leger, skal en instans av "Helsepersonell" benyttes til å registrere hvilken lege det ønskes time hos.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Bekreftelsesform" type="kith:CS" maxOccurs="unbounded"/>
				<element name="Begrunnelse" type="string"/>
				<element name="Varighet" type="integer" minOccurs="0"/>
				<element ref="pas:OnsketTid" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="pas:HealthcareProfessional" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Attestbestilling -->
	<element name="Attestbestilling">
		<annotation>
			<documentation>
         Denne typen fragment benyttes dersom pasienten har behov forforlengelse av sykmelding, friskmelding, videreføring av behandlingsrekvisisjon, utstedelse av attesteller lignende. 
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Bekreftelsesform" type="kith:CS" maxOccurs="unbounded"/>
				<element name="Leveringsform" type="kith:CS"/>
				<element name="Begrunnelse" type="string"/>
				<element name="TypeAttest" type="kith:CS"/>
				<element name="AttestOpplysninger" type="string" minOccurs="0"/>
				<element name="OnsketDato" type="date" minOccurs="0"/>
				<element ref="pas:TilleggsopplRekvisisjon" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Annen henvendelse -->
	<element name="AnnenHenvendelse">
		<annotation>
			<documentation>
         Benyttes til generelle spørsmål og svar som ikke dekkes av noen av de spesialiserte typene henvendelser. 
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Bekreftelsesform" type="kith:CS" maxOccurs="unbounded"/>
				<element name="TypeHenvendelse" type="kith:CV" minOccurs="0"/>
				<element name="Overskrift" type="string" minOccurs="0"/>
				<element name="Notat" type="string"/>
				<element ref="pas:RefDoc" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 3 -->
	<!-- Class: Ønsket tidspunkt -->
	<element name="OnsketTid">
		<annotation>
			<documentation>
         Dersom pasienten har spesielle ønsker om tidspunkt for timen, kan dato og eventuelt tdispunkt oppgis her. Hvis det er ønskelig å spesifisere flere mulige tidspunkt, kan dette gjøres ved flere repetisjoner av denne klassen.  Dersom ønsket tidpsunkt ikke angis er det underforstått at timen ønskes så snart som mulig, eventuelt mellom de klokkeslettene som er angitt. 
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="OnsketDato" type="date" minOccurs="0"/>
				<element name="Klokkeslett" type="time" minOccurs="0"/>
				<element name="SenestKlokken" type="time" minOccurs="0"/>
				<element name="Tidspunkt" type="kith:CS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Referanse -->
	<element name="RefDoc">
		<annotation>
			<documentation>
         Referanse/peker til dokumentet. Dokumentet kan ligge direkte inkludert i innhold (Content), som et annet dokument/vedlegg vedlagt i samme meldingskonvolutt, eller finnes med en peker/referanse.  Når tilsvarende informasjon ligger i det eksisterende dokumentet, skal verdiene hentes fra (samsvare med) tilsvarende verdier i dokumentet.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="IssueDate" type="kith:TS" minOccurs="0"/>
				<element name="MsgType" type="kith:CS"/>
				<element name="Id" type="string" minOccurs="0"/>
				<element name="MimeType" type="string" minOccurs="0"/>
				<element name="Description" type="string" minOccurs="0"/>
				<element name="Compression" type="kith:CS" minOccurs="0"/>
				<choice>
					<element name="FileReference" type="anyURI" minOccurs="0"/>
					<element name="Content" type="anyType" minOccurs="0"/>
				</choice>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Rolle til representant for pasient -->
	<element name="RepresentantPasient">
		<annotation>
			<documentation>
         Dersom henvendelsen kommer fra en bemyndiget representant for pasienten, f.eks. mor eller far til et barn, skal det her registreres opplysninger om denne.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Slektskap" type="kith:CS"/>
				<element name="Omsorgsfunksjon" type="kith:CS" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
				<element ref="pas:Person"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tilleggsopplysninger rekvisisjon -->
	<element name="TilleggsopplRekvisisjon">
		<annotation>
			<documentation>
         Benyttes til å gi utfyllende opplysninger vedrørende en rekvisisjon e.l.. Merk at det ved behov kan gis opplysninger om hvem tjenesten rekvireres hos kan angis i en instans av "Virksomhet". 
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Tjenestetype" type="kith:CV" minOccurs="0"/>
				<element name="BeskrivelseTjeneste" type="string"/>
				<element name="FraDato" type="date" minOccurs="0"/>
				<element name="TilDato" type="date" minOccurs="0"/>
				<element name="AntallEnheter" type="float" minOccurs="0"/>
				<element name="Enhet" type="string" minOccurs="0"/>
				<element ref="pas:Organisation" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Beskrivelse legemiddel -->
	<element name="BeskrivelseLegemiddel">
		<annotation>
			<documentation>
         Denne typen fragment benyttes for å kommunisere opplysninger om legemiddelbruk. Ved mottak av denne typen opplysninger skal de vurderes av lege før de eventuelt legges inn i et dokument av typen "Rapportert legemiddelbruk" eller "Forskrivninger"
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Nr" type="string" minOccurs="0"/>
				<element name="Navn" type="string"/>
				<element name="Styrke" type="kith:PQ" minOccurs="0"/>
				<element name="StyrkeMerknad" type="string" minOccurs="0"/>
				<element name="Atc" type="kith:CS" minOccurs="0"/>
				<element name="Legemiddelform" type="kith:CS" minOccurs="0"/>
				<element name="BruksomradeKode" type="kith:CV" minOccurs="0"/>
				<element name="Bruksomrade" type="string" minOccurs="0"/>
				<element name="Kvantum" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 4 -->
	<!-- Class: Person -->
	<element name="Person">
		<complexType>
			<sequence>
				<element name="FamilyName" type="string" minOccurs="0"/>
				<element name="MiddleName" type="string" minOccurs="0"/>
				<element name="GivenName" type="string" minOccurs="0"/>
				<element name="DateOfBirth" type="date" minOccurs="0"/>
				<element name="Sex" type="kith:CS" minOccurs="0"/>
				<element name="Nationality" type="kith:CS" minOccurs="0"/>
				<element name="Ident" type="fk1:Ident" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Address" type="fk1:Address" minOccurs="0"/>
				<element name="TeleCom" type="fk1:TeleCom" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 5 -->
	<!-- Class: Helsepersonell -->
	<element name="HealthcareProfessional">
		<annotation>
			<documentation>
         For å beskrive egenskaper ved personen som helsepersonell.  Identifikasjon av helsepersonell (f.eks. HPR-nr eller HER-id) oppgis i klassen "Identifikator (Ident)".
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TypeHealthcareProfessional" type="kith:CS" minOccurs="0"/>
				<element name="RoleToPatient" type="kith:CS" minOccurs="0"/>
				<element name="FamilyName" type="string" minOccurs="0"/>
				<element name="MiddleName" type="string" minOccurs="0"/>
				<element name="GivenName" type="string" minOccurs="0"/>
				<element name="DateOfBirth" type="date" minOccurs="0"/>
				<element name="Sex" type="kith:CS" minOccurs="0"/>
				<element name="Nationality" type="kith:CS" minOccurs="0"/>
				<element name="Ident" type="fk1:Ident" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Address" type="fk1:Address" minOccurs="0"/>
				<element name="TeleCom" type="fk1:TeleCom" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Organisatorisk enhet -->
	<element name="Organisation">
		<annotation>
			<documentation>
         Denne klassen benyttes til å beskrive de organisatoriske enhetene som direkte eller indirekte er involvert i korrespondansen.   Hvis organisasjon oppgis som en hierarkisk struktur, skal høyste nivå av klassen tilsvare høyeste nivå i organisasjonen.
      </documentation>
		</annotation>
		<complexType>
			<sequence minOccurs="0">
				<element name="OrganisationName" type="string"/>
				<element name="TypeOrganisation" type="kith:CV" minOccurs="0"/>
				<element name="Ident" type="fk1:Ident" maxOccurs="unbounded"/>
				<element name="Address" type="fk1:Address" minOccurs="0"/>
				<element name="TeleCom" type="fk1:TeleCom" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="pas:Organisation" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="pas:HealthcareProfessional" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
</schema>
