skjema/pasientkommunikasjon/MeldingTilPasient-v1_1.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generert 31-10-2006 av KITH -->
<!-- Melding til pasient v1.1 -->
<!-- Namespecase  http://www.kith.no/xmlstds/TilPasient/2006-10-31 -->
<schema xmlns:pas="http://www.kith.no/xmlstds/TilPasient/2006-10-31" xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:kith="http://www.kith.no/xmlstds" xmlns:fk1="http://www.kith.no/xmlstds/felleskomponent1" targetNamespace="http://www.kith.no/xmlstds/TilPasient/2006-10-31" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.kith.no/xmlstds" schemaLocation="kith.xsd"/>
	<import namespace="http://www.kith.no/xmlstds/felleskomponent1" schemaLocation="felleskomponent1.xsd"/>
	<!-- LEVEL 1 -->
	<!-- Class: Melding til pasient -->
	<element name="MeldingTilPasient">
		<annotation>
			<documentation>
         Inneholder opplysninger som identifiserer dette som en unik melding til en pasient.  Fast verdi:  PATIENT_TO Melding til pasient
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Type" type="kith:CS"/>
				<element name="MIGversion" type="string"/>
				<element name="GenDate" type="dateTime"/>
				<element name="MsgId" type="string"/>
				<element name="ProcessingStatus" type="kith:CS" minOccurs="0"/>
				<element name="RequestedPriority" type="kith:CS" minOccurs="0"/>
				<element name="Ack" type="kith:CS" minOccurs="0"/>
				<element name="SoftwareName" type="string" minOccurs="0"/>
				<element name="SoftwareVersion" type="string" minOccurs="0"/>
				<element name="PasientSamtykke" type="kith:CS"/>
				<element name="SvarPaForesporsel" type="boolean"/>
				<element name="Merknad" type="string" minOccurs="0"/>
				<element ref="pas:Patient"/>
				<element ref="pas:HealthcareProfessional"/>
				<choice>
					<element ref="pas:InnkallingKonsultasjon" maxOccurs="unbounded"/>
					<element ref="pas:SvarAttestbestilling" maxOccurs="unbounded"/>
					<element ref="pas:KanselleringKonsultasjon" maxOccurs="unbounded"/>
					<element ref="pas:FornyetResept" maxOccurs="unbounded"/>
					<element ref="pas:AnnenBeskjedPasient" maxOccurs="unbounded"/>
				</choice>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 2 -->
	<!-- Class: Kansellering av konsultasjon mv -->
	<element name="KanselleringKonsultasjon">
		<annotation>
			<documentation>
         Benyttes dersom det er nødvendig å kansellere eller endre tidspunkt for en avtalt konsultasjon. Ved endring angis (forslag til) ny konsultasjonstid i en instans av "Innkalling til konsultasjon".  
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Bekreftelsesform" type="kith:CS" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Tidspunkt" type="dateTime"/>
				<element name="GrunnKanselering" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Svar på attestbestilling -->
	<element name="SvarAttestbestilling">
		<annotation>
			<documentation>
         Denne typen fragment benyttes for å svare på forespørsel fra pasienten vedrørende forforlengelse av sykmelding, friskmelding, videreføring av behandlingsrekvisisjon, utstedelse av attest eller lignende. 
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Bekreftelsesform" type="kith:CS" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Leveringsform" type="kith:CS" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
				<element name="TypeAttest" type="kith:CS"/>
				<element name="Avslag" type="boolean"/>
				<element ref="pas:TilleggsopplRekvisisjon" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Innkalling til konsultasjon mv -->
	<element name="InnkallingKonsultasjon">
		<annotation>
			<documentation>
         Denne typen fragment benyttes for å gi opplysninger om en konsultasjon som pasienten er kalt inn til, f.eks. en bekreftelse på en timebestilling.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Bekreftelsesform" type="kith:CS" minOccurs="0" maxOccurs="unbounded"/>
				<element name="InnkallingenGjelder" type="string"/>
				<element name="Klokkeslett" type="dateTime"/>
				<element name="Varighet" type="integer" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Pasient -->
	<element name="Patient">
		<annotation>
			<documentation>
         Informasjon som er knyttet til rollen som pasient.   Alle elementer er frivilige, men navn eller Id (Ident) må alltid oppgis. Vanligvis oppgis både navn og Id.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="FamilyName" type="string" minOccurs="0"/>
				<element name="MiddleName" type="string" minOccurs="0"/>
				<element name="GivenName" type="string" minOccurs="0"/>
				<element name="DateOfBirth" type="date" minOccurs="0"/>
				<element name="Sex" type="kith:CS" minOccurs="0"/>
				<element name="Nationality" type="kith:CS" minOccurs="0"/>
				<element name="Ident" type="fk1:Ident" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Address" type="fk1:Address" minOccurs="0"/>
				<element name="TeleCom" type="fk1:TeleCom" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="pas:RepresentantPasient" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Fornyet resept -->
	<element name="FornyetResept">
		<annotation>
			<documentation>
         Benyttes for å svare pasienten på forespørsel om fornyelse av resept.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Bekreftelsesform" type="kith:CS" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Fornyet" type="boolean"/>
				<element name="Merknad" type="string" minOccurs="0"/>
				<element name="Leveringsmate" type="kith:CS" minOccurs="0"/>
				<element ref="pas:BeskrivelseLegemiddel" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Annen beskjed til pasient -->
	<element name="AnnenBeskjedPasient">
		<annotation>
			<documentation>
         Benyttes til generelle spørsmål og svar som ikke dekkes av noen av de spesialiserte typene "Beskjed til pasient". 
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Bekreftelsesform" type="kith:CS" minOccurs="0" maxOccurs="unbounded"/>
				<element name="TypeBeskjed" type="kith:CV" minOccurs="0"/>
				<element name="Notat" type="string"/>
				<element ref="pas:RefDoc" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 3 -->
	<!-- Class: Beskrivelse legemiddel -->
	<element name="BeskrivelseLegemiddel">
		<annotation>
			<documentation>
         Denne typen fragment benyttes for å kommunisere opplysninger om legemiddelbruk. Ved mottak av denne typen opplysninger skal de vurderes av lege før de eventuelt legges inn i et dokument av typen "Rapportert legemiddelbruk" eller "Forskrivninger"
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Nr" type="string" minOccurs="0"/>
				<element name="Navn" type="string"/>
				<element name="Styrke" type="kith:PQ" minOccurs="0"/>
				<element name="StyrkeMerknad" type="string" minOccurs="0"/>
				<element name="Atc" type="kith:CS" minOccurs="0"/>
				<element name="Legemiddelform" type="kith:CS" minOccurs="0"/>
				<element name="BruksomradeKode" type="kith:CV" minOccurs="0"/>
				<element name="Bruksomrade" type="string" minOccurs="0"/>
				<element name="Kvantum" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Rolle til representant for pasient -->
	<element name="RepresentantPasient">
		<annotation>
			<documentation>
         Dersom henvendelsen kommer fra en bemyndiget representant for pasienten, f.eks. mor eller far til et barn, skal det her registreres opplysninger om denne.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Slektskap" type="kith:CS"/>
				<element name="Omsorgsfunksjon" type="kith:CS" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
				<element ref="pas:Person"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Referanse -->
	<element name="RefDoc">
		<annotation>
			<documentation>
         Referanse/peker til dokumentet. Dokumentet kan ligge direkte inkludert i innhold (Content), som et annet dokument/vedlegg vedlagt i samme meldingskonvolutt, eller finnes med en peker/referanse.  Når tilsvarende informasjon ligger i det eksisterende dokumentet, skal verdiene hentes fra (samsvare med) tilsvarende verdier i dokumentet.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="IssueDate" type="kith:TS" minOccurs="0"/>
				<element name="MsgType" type="kith:CS"/>
				<element name="Id" type="string" minOccurs="0"/>
				<element name="Compression" minOccurs="0">
					<complexType>
						<complexContent>
							<extension base="kith:CS"/>
						</complexContent>
					</complexType>
				</element>
				<element name="MimeType" type="string" minOccurs="0"/>
				<element name="Description" type="string" minOccurs="0"/>
				<choice>
					<element name="FileReference" type="anyURI" minOccurs="0"/>
					<element name="Content" type="anyType" minOccurs="0"/>
				</choice>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tilleggsopplysninger rekvisisjon -->
	<element name="TilleggsopplRekvisisjon">
		<annotation>
			<documentation>
         Benyttes til å gi utfyllende opplysninger vedrørende en rekvisisjon e.l.. Merk at det ved behov kan gis opplysninger om hvem tjenesten rekvireres hos kan angis i en instans av "Virksomhet". 
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Tjenestetype" type="kith:CV" minOccurs="0"/>
				<element name="BeskrivelseTjeneste" type="string"/>
				<element name="FraDato" type="date" minOccurs="0"/>
				<element name="TilDato" type="date" minOccurs="0"/>
				<element name="AntallEnheter" type="float" minOccurs="0"/>
				<element name="Enhet" type="string" minOccurs="0"/>
				<element ref="pas:Organisation" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 4 -->
	<!-- Class: Person -->
	<element name="Person">
		<complexType>
			<sequence>
				<element name="FamilyName" type="string" minOccurs="0"/>
				<element name="MiddleName" type="string" minOccurs="0"/>
				<element name="GivenName" type="string" minOccurs="0"/>
				<element name="DateOfBirth" type="date" minOccurs="0"/>
				<element name="Sex" type="kith:CS" minOccurs="0"/>
				<element name="Nationality" type="kith:CS" minOccurs="0"/>
				<element name="Ident" type="fk1:Ident" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Address" type="fk1:Address" minOccurs="0"/>
				<element name="TeleCom" type="fk1:TeleCom" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 5 -->
	<!-- Class: Helsepersonell -->
	<element name="HealthcareProfessional">
		<annotation>
			<documentation>
         For å beskrive egenskaper ved personen som helsepersonell.  Identifikasjon av helsepersonell (f.eks. HPR-nr eller HER-id) oppgis i klassen "Identifikator (Ident)".
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TypeHealthcareProfessional" type="kith:CS" minOccurs="0"/>
				<element name="RoleToPatient" type="kith:CS" minOccurs="0"/>
				<element name="FamilyName" type="string" minOccurs="0"/>
				<element name="MiddleName" type="string" minOccurs="0"/>
				<element name="GivenName" type="string" minOccurs="0"/>
				<element name="DateOfBirth" type="date" minOccurs="0"/>
				<element name="Sex" type="kith:CS" minOccurs="0"/>
				<element name="Nationality" type="kith:CS" minOccurs="0"/>
				<element name="Ident" type="fk1:Ident" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Address" type="fk1:Address" minOccurs="0"/>
				<element name="TeleCom" type="fk1:TeleCom" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Organisatorisk enhet -->
	<element name="Organisation">
		<annotation>
			<documentation>
         Denne klassen benyttes til å beskrive de organisatoriske enhetene som direkte eller indirekte er involvert i korrespondansen.   Hvis organisasjon oppgis som en hierarkisk struktur, skal høyste nivå av klassen tilsvare høyeste nivå i organisasjonen.
      </documentation>
		</annotation>
		<complexType>
			<sequence minOccurs="0">
				<element name="OrganisationName" type="string"/>
				<element name="TypeOrganisation" type="kith:CV" minOccurs="0"/>
				<element name="Ident" type="fk1:Ident" maxOccurs="unbounded"/>
				<element name="Address" type="fk1:Address" minOccurs="0"/>
				<element name="TeleCom" type="fk1:TeleCom" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="pas:Organisation" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="pas:HealthcareProfessional" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
</schema>
