skjema/henvisning/Henvisning-v0.91.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated on 30-08-2004  14:15:08 at KITH -->
<!-- XML-Schema level supported is specified by W3C -->
<!-- http://www.w3.org/2001/XMLSchema -->
<!-- -->
<!-- Skjema dekker opplysninger i "Henvisning" -->
<!-- -->
<!-- File name: Henvisning-v0.91.xsd -->
<!-- Version: "v0.91 2004-08-30" -->
<!-- -->
<!-- Change log -->
<!--	Modified 30. august 2004 (AA) -->
<!-- Old file name:  Henvisning-v0.9.xsd-->
<!-- Change: New classes -->
<!-- Change: Tre nye klasser er lagt inn for å kunne representrere strukturert bookingid -->
<!-- De nye klassene er "Booking", "Appointment" og "Suborg" -->
<!-- "Bookingid refereres fra "RefDoc" -->
<!-- Change log Henvisning-v0.9.xsd  finished-->
<!-- -->
<schema targetNamespace="http://www.kith.no/xmlstds/henvisning/2003-10-13" xmlns:ref="http://www.kith.no/xmlstds/henvisning/2003-10-13" xmlns:kith="http://www.kith.no/xmlstds" xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.kith.no/xmlstds" schemaLocation="http://www.kith.no/xmlstds/kith.xsd"/>
	<!-- LEVEL 1 -->
	<!-- Class: Henvisningsmelding -->
	<annotation>
		<documentation>
      En melding bestående av en henvisning.  Hver henvisning kan angi en ny pasient.
   </documentation>
	</annotation>
	<element name="Message">
		<complexType>
			<sequence>
				<element name="Type" type="kith:CS" minOccurs="0"/>
				<element name="MsgVersion" type="kith:ST" minOccurs="0"/>
				<element name="MIGversion" type="kith:ST"/>
				<element name="GenDate" type="kith:TS"/>
				<element name="MsgId" type="kith:ST"/>
				<element ref="ref:ServReq"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 2 -->
	<!-- Class: Henvisning -->
	<annotation>
		<documentation>
      Henvisning av en pasient til undersøkelse/behandling hos spesialist eller annen helsetjenesteenhet.
   </documentation>
	</annotation>
	<element name="ServReq">
		<complexType>
			<sequence>
				<element name="ServType" type="kith:CS"/>
				<element name="IssueDate" type="kith:TS"/>
				<element name="PaymentCat" type="kith:CS" minOccurs="0"/>
				<element name="ReqComment" type="kith:ST" minOccurs="0"/>
				<element name="Ack" type="kith:CS" minOccurs="0"/>
				<element name="MsgDescr" type="kith:CS"/>
				<element name="Id" type="kith:ST"/>
				<element ref="ref:Patient"/>
				<element ref="ref:ServProvider"/>
				<element ref="ref:Requester"/>
				<element ref="ref:CopyDest" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="ref:RefDoc" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="ref:ReasonAsText" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="ref:Diagnosis" maxOccurs="unbounded"/>
				<element ref="ref:ReqServ" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 3 -->
	<!-- Class: Tjenesteyter -->
	<annotation>
		<documentation>
      Helsetjenesteenhet som yter tjenester i forbindelse med undersøkelse eller behandling av pasient.
   </documentation>
	</annotation>
	<element name="ServProvider">
		<complexType>
			<sequence>
				<element name="Role" type="kith:CS" minOccurs="0"/>
				<element ref="ref:HCP"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Begrunnelse for henvisningen -->
	<annotation>
		<documentation>
      Begrunnelse for henvisningen som fri tekst.  En forekomst av klassen for hver type opplysning.  Diagnose oppgitt kun som klartekst (uten diagnosekode) angis her med type "DIAG". Diagnose oppgitt strukturert med diagnosekode og kodemening oppgis i "Henvisningsdiagnose". 
   </documentation>
	</annotation>
	<element name="ReasonAsText">
		<complexType>
			<sequence>
				<element name="Heading" type="kith:CS" minOccurs="0"/>
				<element name="TextResultValue" type="kith:ST" minOccurs="0"/>
				<element name="TextCode" type="kith:CV" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Referert dokument -->
	<annotation>
		<documentation>
      Referanse til dokument som er relevant for denne meldingen.
   </documentation>
	</annotation>
	<element name="RefDoc">
		<complexType>
			<sequence>
				<element name="IssueDate" type="kith:TS" minOccurs="0"/>
				<element name="MsgType" type="kith:CS"/>
				<element name="Id" type="kith:ST" minOccurs="0"/>
				<element ref="ref:Booking" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Pasient -->
	<annotation>
		<documentation>
      Opplysninger om pasienten.
   </documentation>
	</annotation>
	<element name="Patient">
		<complexType>
			<sequence>
				<element name="BasisForHealthServices" type="kith:CS" minOccurs="0"/>
				<element name="Sex" type="kith:CS" minOccurs="0"/>
				<element name="DateOfBirth" type="kith:TS" minOccurs="0"/>
				<element name="DateOfDeath" type="kith:TS" minOccurs="0"/>
				<element name="Name" type="kith:ST" minOccurs="0"/>
				<element name="IdByRequester" type="kith:ST" minOccurs="0"/>
				<element name="OffId" type="kith:ST" minOccurs="0"/>
				<element name="TypeOffId" type="kith:CS" minOccurs="0"/>
				<element ref="ref:PatientPrecaution" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="ref:InfItem" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="ref:PatRelHCP" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="ref:AdditionalId" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="ref:Address" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Kopimottaker -->
	<annotation>
		<documentation>
      Helsetjenesteenhet som får eller som skal ha kopi av et dokument eller en melding.  En kopimottaker i en henvisningsmelding kan både være den som får kopi av den aktuelle henvisningen og også en part som skal ha kopi av den resulterende svarrapporten/epikrisen når denne foreligger.
   </documentation>
	</annotation>
	<element name="CopyDest">
		<complexType>
			<sequence>
				<element name="Role" type="kith:CS" minOccurs="0"/>
				<element ref="ref:CopyDestRole" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="ref:HCP"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Henvisende instans -->
	<annotation>
		<documentation>
      Helsetjenesteenhet som henviser pasient til undersøkelse eller behandling.
   </documentation>
	</annotation>
	<element name="Requester">
		<complexType>
			<sequence>
				<element name="Role" type="kith:CS" minOccurs="0"/>
				<element ref="ref:HCP"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Henvisningsdiagnose -->
	<annotation>
		<documentation>
      Kompleks kode for å uttrykke en henvisningsdiagnose med et definert kodeverk.
   </documentation>
	</annotation>
	<element name="Diagnosis">
		<complexType>
			<sequence>
				<element name="Concept" type="kith:CV"/>
				<element ref="ref:Modifier" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Rekvirert tjeneste -->
	<annotation>
		<documentation>
      Opplysninger om rekvirert eller ønsket tjeneste.
   </documentation>
	</annotation>
	<element name="ReqServ">
		<complexType>
			<sequence>
				<element name="ServType" type="kith:CS"/>
				<element name="Purpose" type="kith:CS" minOccurs="0"/>
				<element name="ReqDate" type="kith:TS" minOccurs="0"/>
				<element name="Priority" type="kith:CS" minOccurs="0"/>
				<element name="Comment" type="kith:ST" minOccurs="0"/>
				<element ref="ref:Service" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 4 -->
	<!-- Class: Bookingid -->
	<annotation>
		<documentation>
      Inneholder informasjon om øverste nivå på den organisatorisk enhet som tilbyr time.  Hvis den organsiatoriske enhet oppgis som en hierarkisk modell (f.eks. institusjon, avdeling, seksjon) skal nivåene under oppgis i klassen "Organisatorisk underenhet" (SubOrg).   Informasjon om selve avtalen er knyttet til øverste nivå av organisatorisk enhet. 
	   </documentation>
	</annotation>
	<element name="Booking">
		<complexType>
			<sequence>
				<element name="Name" type="kith:ST"/>
				<element name="Id" type="kith:ST"/>
				<element name="TypeId" type="kith:ST" minOccurs="0"/>
				<element ref="ref:Appointment"/>
				<element ref="ref:SubOrg" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Pasientrelatert helsetjenesteenhet -->
	<annotation>
		<documentation>
      Pasientrelatert helsetjenesteenhet som er involvert i å yte helsetjeneste til en pasient og som ikke er spesielt relatert til en gitt hendelse.
   </documentation>
	</annotation>
	<element name="PatRelHCP">
		<complexType>
			<sequence>
				<element name="Relation" type="kith:CS"/>
				<element name="StartDateTime" type="kith:TS" minOccurs="0"/>
				<element name="EndDateTime" type="kith:TS" minOccurs="0"/>
				<element ref="ref:HCP"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Moderator -->
	<annotation>
		<documentation>
      Modifikator til en tilstand/prosedyre.
   </documentation>
	</annotation>
	<element name="Modifier">
		<complexType>
			<sequence>
				<element name="Name" type="kith:CS"/>
				<element name="Value" type="kith:CV" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Alternativ pasientid -->
	<annotation>
		<documentation>
      Annen identifikasjon av personen som personen er eller har vært kjent under.
   </documentation>
	</annotation>
	<element name="AdditionalId">
		<complexType>
			<sequence>
				<element name="Id" type="kith:ST"/>
				<element name="Type" type="kith:CS"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Kopimottakerrolle -->
	<annotation>
		<documentation>
      Rolle til aktuelle kopimottaker.
   </documentation>
	</annotation>
	<element name="CopyDestRole">
		<complexType>
			<sequence>
				<element name="MsgType" type="kith:CS"/>
				<element name="ReqComMethod" type="kith:CS" minOccurs="0"/>
				<element name="ActComMethod" type="kith:CS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Advarsel til tjenesteyter -->
	<annotation>
		<documentation>
      Pasientopplysninger av betydning for tjenesteyters håndtering av pasienten.
   </documentation>
	</annotation>
	<element name="PatientPrecaution">
		<complexType>
			<sequence>
				<element name="Precaution" type="kith:ST"/>
				<element name="StartDateTime" type="kith:TS" minOccurs="0"/>
				<element name="EndDateTime" type="kith:TS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tjeneste -->
	<annotation>
		<documentation>
      Spesifikasjon om utført, planlagt eller rekvirert tjeneste.
   </documentation>
	</annotation>
	<element name="Service">
		<complexType>
			<sequence>
				<element name="ServId" type="kith:CV" minOccurs="0"/>
				<element name="MedSpeciality" type="kith:CV" minOccurs="0"/>
				<element name="AdmCat" type="kith:CS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Klinisk opplysning -->
	<annotation>
		<documentation>
      Opplysninger om en enkelt klinisk opplysning som for eksempel sykehistorie, symptom, funn, diagnose, undersøkelsesresultat, medikamentell behandling eller operasjon.
   </documentation>
	</annotation>
	<element name="InfItem">
		<complexType>
			<sequence>
				<choice>
					<element ref="ref:ResultItem"/>
					<element ref="ref:Medication"/>
					<element ref="ref:Observation"/>
				</choice>
				<element name="Type" type="kith:CS"/>
				<element name="StartDateTime" type="kith:TS" minOccurs="0"/>
				<element name="EndDateTime" type="kith:TS" minOccurs="0"/>
				<element name="OrgDate" type="kith:TS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 5 -->
	<!-- Class: Undersøkelsesresultat -->
	<annotation>
		<documentation>
      Opplysninger om resultatet av en undersøkelse.
   </documentation>
	</annotation>
	<element name="ResultItem">
		<complexType>
			<sequence>
				<choice>
					<element ref="ref:TextResult"/>
					<element ref="ref:Interval"/>
					<element ref="ref:DateResult"/>
					<element ref="ref:NumResult"/>
				</choice>
				<element name="ServType" type="kith:CS" minOccurs="0"/>
				<element name="InvDate" type="kith:TS" minOccurs="0"/>
				<element name="Comment" type="kith:ST" minOccurs="0"/>
				<element name="DevResultInd" type="kith:CS" minOccurs="0"/>
				<element ref="ref:ClinInv"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Helsetjenesteenhet -->
	<annotation>
		<documentation>
      Opplysninger om en helsetjenesteenhet.  En helsetjenesteenhet kan være en institusjon (eventuelt en avdeling ved en institusjon), en aktør (person) i helsevesenet eller en aktør ved en institusjon/avdeling.
   </documentation>
	</annotation>
	<element name="HCP">
		<complexType>
			<sequence>
				<choice>
					<element ref="ref:Inst"/>
					<element ref="ref:HCProf"/>
				</choice>
				<element name="MedSpeciality" type="kith:CV" minOccurs="0"/>
				<element name="PartyIdByRequester" type="kith:ST" minOccurs="0"/>
				<element name="PartyIdByServProv" type="kith:ST" minOccurs="0"/>
				<element ref="ref:Address" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Medikamentell behandling -->
	<annotation>
		<documentation>
      Spesifikasjon av tidligere, planlagt eller pågående medikamentell behandling.
   </documentation>
	</annotation>
	<element name="Medication">
		<complexType>
			<sequence>
				<element name="DrugId" type="kith:CV"/>
				<element name="Comment" type="kith:ST" minOccurs="0"/>
				<element name="Status" type="kith:CS"/>
				<element name="IntendedDuration" type="kith:PQ" minOccurs="0"/>
				<element name="QuantitySupplied" type="kith:PQ" minOccurs="0"/>
				<element name="UnitDose" type="kith:PQ" minOccurs="0"/>
				<element name="DosageText" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Avtale -->
	<annotation>
		<documentation>
      Informasjon om selve avtalen (tidspunkt, ressurs og tjeneste). Denne informasjonen er alltid knyttet til øverste organisatoriske enhet som er oppgitt i booking-id'en.
   </documentation>
	</annotation>
	<element name="Appointment">
		<complexType>
			<sequence>
				<element name="StartDateTime" type="kith:TS"/>
				<element name="EndDateTime" type="kith:TS"/>
				<element name="ResourceId" type="kith:ST"/>
				<element name="Index" type="kith:INT"/>
				<element name="Service" type="kith:CS"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Annen klinisk opplysning -->
	<annotation>
		<documentation>
      Beskrivelse av klinisk opplysning bortsett fra medikamentell behandling og undersøkelsesresultat som er beskrevet strukturert.
   </documentation>
	</annotation>
	<element name="Observation">
		<complexType>
			<sequence>
				<element name="Description" type="kith:ST" minOccurs="0"/>
				<element name="Comment" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 6 -->
	<!-- Class: Organisatorisk underenhet -->
	<element name="SubOrg">
		<complexType>
			<sequence minOccurs="0">
				<element name="Name" type="kith:ST"/>
				<element name="Id" type="kith:ST"/>
				<element name="TypeId" type="kith:ST" minOccurs="0"/>
				<element ref="ref:SubOrg" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tekstlig resultat -->
	<annotation>
		<documentation>
      Undersøkelsesresultat angitt som et tekstlig svar.
   </documentation>
	</annotation>
	<element name="TextResult">
		<complexType>
			<sequence>
				<element ref="ref:Result" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Institusjon -->
	<annotation>
		<documentation>
      Institusjon i helsevesenet.
   </documentation>
	</annotation>
	<element name="Inst">
		<complexType>
			<sequence>
				<element name="Name" type="kith:ST" minOccurs="0"/>
				<element name="Id" type="kith:ST" minOccurs="0"/>
				<element name="TypeId" type="kith:CS" minOccurs="0"/>
				<element ref="ref:Dept" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="ref:HCPerson" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Adresse -->
	<annotation>
		<documentation>
      Adresse.
   </documentation>
	</annotation>
	<element name="Address">
		<complexType>
			<sequence>
				<element name="Type" type="kith:CS"/>
				<element name="StreetAdr" type="kith:ST" minOccurs="0"/>
				<element name="PostalCode" type="kith:ST" minOccurs="0"/>
				<element name="City" type="kith:ST" minOccurs="0"/>
				<element name="County" type="kith:CS" minOccurs="0"/>
				<element name="Country" type="kith:CS" minOccurs="0"/>
				<element name="CityDistr" type="kith:CS" minOccurs="0"/>
				<element name="TeleAddress" type="kith:URL" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Klinisk undersøkelse -->
	<annotation>
		<documentation>
      Spesifikasjon av en klinisk undersøkelse som resulterer i et undersøkelsesresultat.
   </documentation>
	</annotation>
	<element name="ClinInv">
		<complexType>
			<sequence>
				<element name="Id" type="kith:CV"/>
				<element name="Spec" type="kith:CV" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Usikkerhetsintervall -->
	<annotation>
		<documentation>
      Undersøkelsesresultat angitt som et usikkerhetsintervall.
   </documentation>
	</annotation>
	<element name="Interval">
		<complexType>
			<sequence>
				<element name="Low" type="kith:PQ" minOccurs="0"/>
				<element name="High" type="kith:PQ" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Datoresultat -->
	<annotation>
		<documentation>
      Undersøkelsesresultat uttrykt som en dato, for eksempel forventet dato for nedkomst.
   </documentation>
	</annotation>
	<element name="DateResult">
		<complexType>
			<sequence>
				<element name="DateResultValue" type="kith:TS"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Numerisk resultat -->
	<annotation>
		<documentation>
      Undersøkelsesresultat i form av en numerisk verdi.
   </documentation>
	</annotation>
	<element name="NumResult">
		<complexType>
			<sequence>
				<element name="ArithmeticComp" type="kith:CS" minOccurs="0"/>
				<element name="NumResultValue" type="kith:PQ"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Person i helsevesenet -->
	<annotation>
		<documentation>
      Person i helsevesenet som er involvert direkte eller indirekte i å yte helsetjenester til en pasient.
   </documentation>
	</annotation>
	<element name="HCProf">
		<complexType>
			<sequence>
				<element name="Type" type="kith:CS" minOccurs="0"/>
				<element name="Name" type="kith:ST" minOccurs="0"/>
				<element name="Id" type="kith:ST" minOccurs="0"/>
				<element name="TypeId" type="kith:CS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- LEVEL 7 -->
	<!-- Class: Resultat -->
	<annotation>
		<documentation>
      Tekstlig resultat.
   </documentation>
	</annotation>
	<element name="Result">
		<complexType>
			<sequence>
				<element name="Heading" type="kith:CS" minOccurs="0"/>
				<element name="TextResultValue" type="kith:ST" minOccurs="0"/>
				<element name="TextCode" type="kith:CV" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Avdeling -->
	<annotation>
		<documentation>
      Opplysninger om avdeling.  Forutsetter at institusjon er angitt.
   </documentation>
	</annotation>
	<element name="Dept">
		<complexType>
			<sequence>
				<element name="Type" type="kith:CS" minOccurs="0"/>
				<element name="Name" type="kith:ST" minOccurs="0"/>
				<element name="Id" type="kith:ST" minOccurs="0"/>
				<element name="TypeId" type="kith:CS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Person i organisasjon -->
	<annotation>
		<documentation>
      Person i helsevesenet som er del av en institusjon eller avdeling.
   </documentation>
	</annotation>
	<element name="HCPerson">
		<complexType>
			<sequence>
				<element name="Name" type="kith:ST" minOccurs="0"/>
				<element name="Id" type="kith:ST" minOccurs="0"/>
				<element name="TypeId" type="kith:CS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
</schema>
