skjema/plo/v1.5/poKomponent-v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Versjon 1.5 2009-06-30 -->
<!-- Endret 28. sep 2009 (AA)
    - Endret kardinalitet på FasteHjelpemidler under OpplysningerOmHjelpemidler fra 1..* til 0..*
-->
<!-- Endret 18. sep 2009 (MA)
	- Fjernet klassen "TjenesterSomMottas" og fjernet referanse til denne i klassen Sykepleierdokumentasjon
  -->
<!-- Endret 23. juni 2009 (AA, MA)
	- Endret tegnsett til UTF-8
	- La til klassen TilknyttetEnhet som kan brukes i alle PLO-schemaene til å legge inn kontaktinformasjon om organisasjon
	- Følgende XML-element er fjernet:
		../OpplysningerTilSoknad/LegemiddellisteVedlagt da opplysningen  ikke er relevant i denne sammenhengen
		../OpplysningerTilSoknad/LegemidlerMedPasienten da opplysningen  ikke er relevant i denne sammenhengen
	- La til ny klasse "TjenesterSomMottas" som refererer til den eksisterende klassen "EksisterendeTjeneste". Den nye klassen "TjenesterSomMottas" blir brukt fra klassen Sykepleierdokumentasjon.
	- Klassen "InnholdKonsultasjon" endret navn til "TypeInnholdIMelding", og elementet "TypeInnholdKonsultasjon" endret navn til "TypeInnhold" og endret datatype fra CS til CV
	- Nytt element i klassen UtskrevetTil: "Uttilstand" med datatype CV som bruker kodeverk 8431
-->
<!--	Endret 18. november 2008 (AA)
			Endret kardinalitet fra 1 til 0..1 for TidligereSykdomFragment samt inkludert et logisk tilleggskrav som ikke fanges opp av XML Schema (se tekst under <annotation>)
-->
<!-- Endret 20. februar 2008 (AA)
poKomponent: Inngår som en del av pleie- og omsorgsmeldingene
|	poKomponent har blitt revidert og fått nytt namespace http://www.kith.no/xmlstds/po/poKomponent/2008-01-20
  |	Nye element:
	- ../InformasjonOmForsendelsen/SvarPaaForesporsel med datatype boolean
  | Ny Complex type
	- ../Foresporsel 
Endret navn på følgende Complex type og flyttet disse til EPJ-Cave-mv.xsl:
	- ../InfoCave til Cave
	- ../InfoSakshodeCave til SakshodeCave
	- ../InfoAllerginotat til Allerginotat
    - ../AllergiskMot til Allergi
Flyttet følgende Complex type til EPJ-Cave-mv.xsl:
Endret navn på følgende Complex type og flyttet disse til EPJ-journalnotat-mv.xsl:
	- ../InfoGenereltJournalnotat til GenereltJournalnotat
  |	Fjernet følgende Complex type med underelementer:
    - ../TypeInnholdOverforingHelseopplysninger
    - ../OpplysningForesporsel
	- ../InfoSeponertLegemiddel (håndteres i Legemiddelinfo)
    - ../InfoLegemidlerIBruk (håndteres i Legemiddelinfo)
    - ../OpplysningOmLegemiddelbruk (håndteres i Legemiddelinfo)
    - ../PnDose (Forenklet dosering håndteres i Foskrivningsinfo)
    - ../Dosering (Forenklet dosering håndteres i Foskrivningsinfo)
    - ../FastTidspunktDose (Forenklet dosering håndteres i Foskrivningsinfo)
    - ../Infusjonshastighet
  | Fjernet følgende element:
    - ../InnholdKonsultasjon/SvarForesp
  | Endret og flyttet følgende Complex type med underelementer
	- ../InfoLegemidlerIBruk er endret til Legemiddelinfo og flyttet til EPJ-Legemiddel-mv.xsl
    - ../InfoLegemidlerAdministrertVed er endrit til LegemidlerAdministrertVedOverforing
  |	Nytt element:
    - ../InformasjonOmForsendelsen/Foresporsel
-->
<!-- Endret 16.oktober 2007 (JSD)
  |	poKomponent har blitt revidert og fått nytt namespace http://www.kith.no/xmlstds/po/poKomponent/2007-10-16
  |	Endret dataype på følgende elemente:
	- ../Infusjonshastighet/Infusjonsvolum fra decimal til PQ
	- ../PnDose/GjentagelseIntervall fra integer til PQ
	- ../PnDose/MaksDogndose fra double til PQ
	- ../PnDose/MaksDosePrTidsenhet fra double til PQ
	- ../PnDose/MinDoseIntervall fra double til PQ
  |	Fjernet følgende element:
	- ../PlanlagtGjennomforingTiltak/Gjentakelsesintervall
	- ../PlanlagtGjennomforingTiltak/Tidsenhet
  |	Nytt element: ../PlanlagtGjennomforingTiltak/GjentagelseIntervall med datatype PQ (Erstatter Gjentakelsesintervall og Tidsenhet) 
-->
<!-- Endret 31. mai 2007 (AA)
  |	poKomponent har blitt revidert og fått nytt namespace http://www.kith.no/xmlstds/po/poKomponent/2007-05-31
  |	Endret navn på følgende element:
	- Kontakperson til Kontaktperson
	- InfoViktigeOpplysninger til InfoAndreViktigeOpplysninger
	- AnsvarligTjenesteyter til AnsvarligRapport
	- ReservasjonOnskeFraPasient til ReservasjonOnske
	- KontkaktAvsluttet til KontaktAvsluttet
	- FastLegemiddel til FastLegemeiddel
	- StedForAktivitet til StedForKontaktepisode
	- StedForTjenesten til StedForKontakt
	- KategoreHelsepersonell til KategoriHelsepersonell
	- Sykepleieropplysninger til OpplysningerRelevantOppfolging
  |	Nye elementstrukturer:
	- TypeInnholdOverforingHelseopplysninger
	- OpplysningForesporsel
	- InnholdKonsultasjon
	- InfoAndreViktigeOpplysninger
	- OpplysningerOmHjelpemidler
	- Doseringsregel
	- Infusjonshastighet
  |	Endret dataype på elementet AnafylaktiskeReaksjoner fra string til CS
  |	Endret kardinalitet på følgende element:
	- Referanseperson under ParorendeForesatt fra 0..1 til 1
	- LegemiddellisteVedlagt fra 0..1 til 1
	- FravarendeFraDato fra 1 til 0..1
	- FravarendeTilDato fra 1 til 0..1
	- IverksatteTiltak fra 0..1 til 0..*
	- Journaltekst fra 1 til 1..*
	- InfoTidligereSykdommer fra 0..1 til 0..*
  |	Fjernet elementstrukturen DoserEtterSkjema
  | Fjernet elementet Tidsenhet under PnDose og FastTidspunktDose -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema.xsd" xmlns:kith="http://www.kith.no/xmlstds" xmlns:po="http://www.kith.no/xmlstds/po/poKomponent/2009-06-30" xmlns:fk1="http://www.kith.no/xmlstds/felleskomponent1" xmlns:epj1="http://www.kith.no/xmlstds/epj/epj1/2008-02-20" xmlns:epj2="http://www.kith.no/xmlstds/epj/epj2/2008-02-20" xmlns:epj3="http://www.kith.no/xmlstds/epj/epj3/2008-02-20" targetNamespace="http://www.kith.no/xmlstds/po/poKomponent/2009-06-30" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.kith.no/xmlstds" schemaLocation="kith.xsd"/>
	<import namespace="http://www.kith.no/xmlstds/felleskomponent1" schemaLocation="felleskomponent1.xsd"/>
	<import namespace="http://www.kith.no/xmlstds/epj/epj1/2008-02-20" schemaLocation="EPJ-cave-mv.xsd"/>
	<import namespace="http://www.kith.no/xmlstds/epj/epj2/2008-02-20" schemaLocation="EPJ-journalnotat-mv.xsd"/>
	<import namespace="http://www.kith.no/xmlstds/epj/epj3/2008-02-20" schemaLocation="EPJ-legemiddel-mv.xsd"/>
	<!--** PO-melding-->
	<!-- Class: ParorendeForesatt -->
	<element name="ParorendeForesatt">
		<complexType>
			<sequence>
				<element name="Slektskap" type="kith:CS" minOccurs="0"/>
				<element name="Omsorgsfunksjon" type="kith:CS" minOccurs="0"/>
				<element name="Referanseperson" type="fk1:Person"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tilknyttet Enhet -->
	<element name="TilknyttetEnhet">
		<complexType>
			<sequence>
				<element name="Kontaktenhet" type="fk1:Organisation"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Kontaktperson helsepersonell -->
	<element name="KontaktpersonHelsepersonell">
		<complexType>
			<sequence>
				<element name="Kontaktperson" type="fk1:HealthcareProfessional"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tilleggsopplysninger pasient -->
	<element name="TilleggsopplysningPasient">
		<annotation>
			<documentation>
         Særskilte pasientopplysninger som ikke dekkes av den generelle personklassen kan angis her.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="SivilStatus" type="kith:CS" minOccurs="0"/>
				<element name="BorAlene" type="boolean" minOccurs="0"/>
				<element name="Sprak" type="kith:CS" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Sendt dokument -->
	<element name="SendtDokument">
		<annotation>
			<documentation>
         Denne klassen benyttes til å angi om det er oversendt andre dokumenter som kan være relevante i forhold til den informasjonen som oversendes gjennom denne meldingen.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Opplysning" type="kith:CV"/>
				<element name="JaNei" type="boolean"/>
				<element name="DatoSendt" type="date" minOccurs="0"/>
				<element name="TypeMottaker" type="kith:CV" minOccurs="0"/>
				<element name="NavnMottaker" type="string" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Informasjon om forsendelsen -->
	<element name="InformasjonOmForsendelsen">
		<complexType>
			<sequence>
				<element name="Forsendelsesstatus" type="kith:CS"/>
				<element name="ForbeholdOmVideresending" type="boolean" minOccurs="0"/>
				<element name="SvarPaaForesporsel" type="boolean" minOccurs="0"/>
				<element ref="po:Foresporsel" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Ansvar for rapport -->
	<element name="AnsvarForRapport">
		<annotation>
			<documentation>
         Benyttes for å registrere hvem som er ansvarlig for denne rapporten.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="AnsvarligRapport" type="fk1:HealthcareProfessional"/>
				<element name="GodkjentDato" type="date" minOccurs="0"/>
				<element name="TypeRelasjon" type="kith:CV" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Forespørsel -->
	<element name="Foresporsel">
		<annotation>
			<documentation>
         Inneholder selve forespørselen og informasjon relatert til denne. Når forespørselen er gjort via Dialogmeldingen skal informasjon hentes direkte ut fra tilsvarende dataelement under "Forespørsel (Foresporsel)" i Dialogmeldingen.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TypeForesp" type="kith:CV"/>
				<element name="Formål" type="kith:CV" minOccurs="0"/>
				<element name="Hastegrad" type="kith:CS" minOccurs="0"/>
				<element name="TypeJournalinfo" type="kith:CV" minOccurs="0"/>
				<element name="Sporsmal" type="string" minOccurs="0"/>
				<element name="Begrunnelse" type="string" minOccurs="0"/>
				<element name="FraDato" type="date" minOccurs="0"/>
				<element name="TilDato" type="date" minOccurs="0"/>
				<element name="RefDokIdForesp" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!--** Melding om fravær-->
	<!-- Class: Fraværsassistent -->
	<element name="Fraversassistent">
		<annotation>
			<documentation>
         Inneholder opplysninger om at mottaker av meldingen er fraværende. Inneholder opplysninger om henvendelsen blir videresendt for videre oppfølging og hvem som eventuelt følger opp henvendelsen i fraværsperioden
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="MottakerFravarende" type="boolean"/>
				<element name="MeldingVideresendt" type="boolean" minOccurs="0"/>
				<element name="FravarendeFraDato" type="date" minOccurs="0"/>
				<element name="FravarendeTilDato" type="date" minOccurs="0"/>
				<element name="VideresendtTil" type="fk1:HealthcareProfessional" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!--** Overføring av helseopplysninger-->
	<!-- Class: Opplysninger til søknad -->
	<element name="OpplysningerTilSoknad">
		<annotation>
			<documentation>
         Inneholder administrative opplysninger i forbindelse med oversending av helseopplysninger ved søknad til kommunale tjenester.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="EgensoknadSendt" type="boolean"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om informasjon som er gitt -->
	<element name="InfoInformasjonGitt">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører. Benyttes til å registrere hvilken informasjon pasienten/pårørende har fått.   Tilsvarende informasjon er dekket i EPJ-dokumentet "Gitt informasjon om". 
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:InformasjonGitt" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om behov for assistert kommunikasjon mv -->
	<element name="InfoAssistertKommunikasjon">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører og benyttes for å registrere hvilket behov og ønsker pasienten og dennes omsorgspersoner har når det gjelder bruk av tolk, samt opplysninger om andre praktiske forhold de som har kontakt med personen bør ha kjennskap til.  Tilsvarende informasjon er dekket i EPJ-dokumentet "Behov for assistert kommunikasjons mv".
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:AssistertKommunikasjon"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om IPLOS-relevant informasjon -->
	<element name="InfoIPLOSrelevantInformasjon">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører for å gruppere informasjon relevant for IPLOS-rapportering.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:TidsperiodeDiagnose" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="po:TidsfestetHendelse" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om kartlegging av funksjonsnivå -->
	<element name="InfoKartleggingFunksjonsniva">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører og inneholder informasjon om tjenestemottakerens funksjonsnivå. Benyttes primært i forbindelse med søknadsbehandlingen.  Tilsvarende informasjon er dekket i EPJ-dokumentet "Kartlegging av funksjonsnivå".
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:SamletVurderingFunksjonsniva" minOccurs="0"/>
				<element ref="po:KartlagtFunksjon" maxOccurs="unbounded"/>
				<element ref="po:Ansvarlig" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!--** Orientering om tjenestetilbud-->
	<!-- Class: Eksisterende tjeneste -->
	<element name="EksisterendeTjeneste">
		<annotation>
			<documentation>
         Inneholder opplysninger om en tjeneste som pasienten allerede har. Dette kan både være kommunale pleie- og omsorgstjenester og private tjenester som tjenestemottakeren har skaffet og betaler selv.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="IPLOStjenestetype" type="kith:CV" minOccurs="0"/>
				<element name="BetegnelseTjeneste" type="string" minOccurs="0"/>
				<element name="PrivatTjeneste" type="boolean"/>
				<element name="TjenestenLevertAv" type="string" minOccurs="0"/>
				<element name="OpplysningerOmTjenesten" type="string" minOccurs="0"/>
				<element name="AntallEnheter" type="decimal" minOccurs="0"/>
				<element name="Enhet" type="string" minOccurs="0"/>
				<element name="Startdato" type="date" minOccurs="0"/>
				<element name="Sluttdato" type="date" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!--** Pasientlogistikk-->
	<!-- Class: Tidsfestet hendelse -->
	<element name="TidsfestetHendelse">
		<annotation>
			<documentation>
         Benyttes for å kommunisere forskjellige typer "hendelser", både planlagte og slike som har funnet sted. Eksempler på slike hendelser kan f.eks. være:  Innlagt tidspunkt  Forventet utskrivningsklar dato  Utskrivningsklar tidspunkt
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Hendelsekode" type="kith:CV" minOccurs="0"/>
				<element name="BeskrivelseAvHendelse" type="string" minOccurs="0"/>
				<element name="TidspunktForHendelse" type="kith:TS"/>
				<element name="Anslag" type="boolean"/>
				<element name="Merknad" type="string" minOccurs="0"/>
				<element ref="po:StedForHendelse" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Utskrevet til -->
	<element name="UtskrevetTil">
		<annotation>
			<documentation>
         Opplysning om hvor pasienten skrives ut.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Uttilstand" type="kith:CV" minOccurs="0"/>
				<element name="UtTil" type="kith:CV"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Avtale om adm. av legemidler -->
	<element name="AvtaleOmAdmLegemidler">
		<annotation>
			<documentation>
         Inneholder opplysninger om det foreligger avtale om administrering av legemidler og administrering av multidosepakning for pasienten/brukeren.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="AvtaleAdmLegemidler" type="boolean"/>
				<element name="AvtaleAdmMultidose" type="boolean"/>
				<element name="Merknad" type="string" minOccurs="0"/>
				<element ref="po:AdmInstrukser" minOccurs="0"/>
				<element ref="po:Tiltaksbeskrivelse" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!--** Tverrfaglig rapport-->
	<!-- Class: Medisinskfaglige opplysninger -->
	<element name="MedisinskfagligeOpplysninger">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører og inneholder medisinskfaglige opplysninger som naturlig dekkes i "Den gode epikrise" bortsett fra opplysninger om legemidler og diagnose som ligger i egne informasjonsgrupper.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:RegistrertBlodtype" minOccurs="0"/>
				<element ref="po:InfoTidligereSykdommer" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="epj1:Cave" minOccurs="0"/>
				<element ref="epj1:Allerginotat" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="epj2:GenereltJournalnotat" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Sykepleierdokumentasjon -->
	<element name="Sykepleierdokumentasjon">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører for å overføre sykepleieropplysninger.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:InfoFraSykepleier" minOccurs="0"/>
				<element ref="epj3:LegemidlerAdministrertVedOverforing" minOccurs="0"/>
				<element ref="po:InfoAvtaleOmLegemiddeladm" minOccurs="0"/>
				<element ref="po:InfoVurderinger" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="po:IverksatteTiltak" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="po:AnbefaltVidereTiltak" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="po:InfoMaalForventetRes" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="po:Ansvarlig" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om medisinsk diagnose -->
	<element name="InfoMedisinskDiagnose">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører for å gruppere informasjon om medisinske diagnoser etter de gjeldene kodeverk. Tilsvarende informasjon ligger i EPJ-dokumentet "Medisinsk diagnose".
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:MedisinskDiagnose" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om kontaktepisode -->
	<element name="InfoKontaktepisode">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører. Benyttes for å angi overordnet beskrivelse av en kontaktepisode. Tilsvarende informasjon er dekket i EPJ-dokumentet "Sakshode kontaktepisode"   
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:FellesinfoKontaktepisode"/>
				<element ref="po:TilleggsinfoKontaktepisode" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om reservasjon/ønske fra pasient -->
	<element name="InfoReservasjon">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører. Benyttes for å for å registrere eventuelle reservasjoner og/eller ønsker tjenestemottakeren måtte komme med. Tilsvarende informasjon er dekket i EPJ-dokumentet "Reservasjon/ønske fra pasient" .
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:ReservasjonOnske" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om andre viktige opplysninger -->
	<element name="InfoAndreViktigeOpplysninger">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører og inneholder opplysninger om spesielle forhold som helsepersonellet bør være oppmerksom på når det gjelder pasienten og som ikke faller inn under Cave-begrepet eller NB-notat. Allergier som hører inn under CAVE skal oppgis under  "Cave".
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="epj2:GenereltJournalnotat" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="epj1:Allerginotat" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Opplysninger fra andre faggrupper -->
	<element name="OpplysningerAndreFaggrupper">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunkasjon med andre aktører for å overføre opplysninger fra andre faggrupper som pasienten mottar tjenester fra, og opplysninger som skal formidles fra disse.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:AndreFagrapporter" minOccurs="0"/>
				<element ref="po:AnbefaltVidereTiltak" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="po:InfoVurderinger" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Opplysninger om opphold -->
	<element name="OpplysningOpphold">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører. Benyttes for å for å registrere opplysninger om tidspunkt og sted releavnt for oppholdet.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:TidsfestetHendelse"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om kontrolltime -->
	<element name="InfoKontrolltime">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører og inneholder informasjon om kontrolltime (om time skal bestille, er bsetilt og eventuelt tidspunkt, hvem er informert).
      </documentation>
		</annotation>
		<complexType>
			<choice>
				<element ref="po:InformasjonOmTime"/>
				<element ref="po:KontrolltimeBestill"/>
			</choice>
		</complexType>
	</element>
	<!-- Class: Opplysninger om hjelpemidler -->
	<element name="OpplysningerOmHjelpemidler">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører for å gruppere informasjon om hjelpemidler som er i bruk eller som det er søkt om.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:FasteHjelpemidler" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="po:StatusHjelpemiddel" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!--  Class: Behov for tjeneste   -->
	<element name="TjenesteBehov">
		<annotation>
			<documentation>Benyttes til å beskrive en tjeneste som pasienten har behov for ved overføring til pleie- og omsorgstjenesten.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="IPLOStjenestetype" type="kith:CV" minOccurs="0"/>
				<element name="BetegnelseTjeneste" type="string" minOccurs="0"/>
				<element name="VedInstitusjon" type="string" minOccurs="0"/>
				<element name="BeskrivelseAvTjeneste" type="string" minOccurs="0"/>
				<element name="AntallEnheterOnsket" type="double" minOccurs="0"/>
				<element name="Enhet" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Assistert kommunikasjon -->
	<element name="AssistertKommunikasjon">
		<annotation>
			<documentation>
         Fragment av denne typen benyttes til å registrere opplysninger om hvilket behov pasienten eller en av dennes pårørende har når det gjelder behov for tolk mv.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="PersonTolkebehov" type="fk1:Person" minOccurs="0"/>
				<element name="Horselsvikt" type="boolean" minOccurs="0"/>
				<element name="Synsvikt" type="boolean" minOccurs="0"/>
				<element name="BehovTolkSprak" type="kith:CS" minOccurs="0"/>
				<element name="PreferertTolk" type="fk1:Person" minOccurs="0"/>
				<element name="BehovOpphortDato" type="kith:TS" minOccurs="0"/>
				<element name="Merknad" type="kith:ST" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Element Person written before    -->
	<!-- Class: Hjelpemiddelbeskrivelse -->
	<element name="Hjelpemiddelbeskrivelse">
		<annotation>
			<documentation>
         Denne typen fragment benyttes til å beskrive konkrete typer hjelpemiddel.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Sekvensnummer" type="integer" minOccurs="0"/>
				<element name="HjelpemiddelkodeRTV" type="kith:CV" minOccurs="0"/>
				<element name="BetegnelseHjelpemiddel" type="string"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Registrert blodtype -->
	<element name="RegistrertBlodtype">
		<annotation>
			<documentation>
         Denne type fragment benyttes til registrering av blodtype.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Blodtype" type="kith:CS"/>
				<element name="Rhesusgruppe" type="kith:CS" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Andre fagrapporter -->
	<element name="AndreFagrapporter">
		<annotation>
			<documentation>
         Inneholder informasjon fra andre typer fagrapporter. 
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="BehandlingStart" type="date" minOccurs="0"/>
				<element name="StatusInnleggelse" type="string" minOccurs="0"/>
				<element name="StatusBehandlingsstart" type="string" minOccurs="0"/>
				<element name="ForventetStatusUtskriving" type="string" minOccurs="0"/>
				<element name="AnsvarligRapport" type="fk1:HealthcareProfessional" minOccurs="0"/>
				<element ref="epj2:Journaltekst" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om tidligere sykdommer -->
	<element name="InfoTidligereSykdommer">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører og inneholder stikkord vedrørende tidligere sykdommer generelt og funksjonshemming, kronisk eller langvarig sykdom spesielt. Hver forekomst av InfoTidligereSykdommer skal inneholde en av følgende 3 alternativer: Kun TidligereSykdomFragment, kun Journaltekst eller både TidligereSykdomFragment og Journaltekst (som da vil inneholde utfyllende opplysninger om sykdommen).
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:TidligereSykdomFragment" minOccurs="0"/>
				<element ref="epj2:Journaltekst" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info fra sykepleier -->
	<element name="InfoFraSykepleier">
		<annotation>
			<documentation>
         Denne informasjonsgrupperingen benyttes ved kommunikasjon med andre aktører og inneholder informasjon fra sykepleier.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:OpplysningerRelevantOppfolging" minOccurs="0"/>
				<element ref="epj2:Journaltekst" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Informasjon om bestilt kontrolltime -->
	<element name="InformasjonOmTime">
		<annotation>
			<documentation>
         Inneholder informasjon om det er bestilt eller skal bestilles kontrolltime på sykehus/legekontor og hvem som er ansvarlig for bestillingen.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="BestiltKontrolltime" type="boolean"/>
				<element name="TidspunktTime" type="dateTime" minOccurs="0"/>
				<element name="Varighet" type="integer" minOccurs="0"/>
				<element name="StedTime" type="string" minOccurs="0"/>
				<element ref="po:InformertOm" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Kontrolltime skal bestilles -->
	<element name="KontrolltimeBestill">
		<complexType>
			<sequence>
				<element name="PasientParorendeBestiller" type="boolean"/>
				<element ref="po:InformertOm" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Kartlagt funksjon -->
	<element name="KartlagtFunksjon">
		<annotation>
			<documentation>
         Registrering av hvilken funksjon som er vurdert samt resultatet av vurderingen.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Funksjonsvariabel" type="kith:CV" minOccurs="0"/>
				<element name="Vurdering" type="integer" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Opplysning om informasjon som er gitt -->
	<element name="InformasjonGitt">
		<annotation>
			<documentation>
         Hvert fragment av denne typen skal inneholde opplysninger om en type informasjon som pasienten har fått.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TypeInformasjon" type="kith:CV" minOccurs="0"/>
				<element name="BeskrivelseInformasjon" type="string" minOccurs="0"/>
				<element name="MuntligInformasjon" type="boolean"/>
				<element name="InformasjonGittTil" type="fk1:Person"/>
				<element name="InformasjonGittDato" type="date"/>
				<element name="InformasjonGittAv" type="fk1:HealthcareProfessional"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om avtale om legemiddeladministrering -->
	<element name="InfoAvtaleOmLegemiddeladm">
		<annotation>
			<documentation>
         Benyttes ved kommunkasjon med andre aktører for å gruppere informasjon med innhold i avtale om administrering av legemidler.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:AvtaleOmAdmLegemidler"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Ansvarlig -->
	<element name="Ansvarlig">
		<annotation>
			<documentation>
         Denne typen fragment benyttes til å registrere opplysninger om ansvar vedrørende ansvarlig for en bestemt vurdering e.l. Merk at dersom den ansvarlige er en tjenesteyter i den virksomhet som journalen føres, skal dette framgå av den generelle registreringsinformasjonen. Denne fragmenttypen er derfor primært beregnet på å registrere opplysninger relatert til vurderinger mv. som er foretatt eksternt samt i forbindelse med elektronisk overføring av slike opplysninger til andre virksomheter. Merk også at det ikke er obligatorisk å angi ansvarlig person, ofte kan det være tilstrekkelig å angi virksomhet.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TypeHendelse" type="kith:CV" minOccurs="0"/>
				<element name="TidspunktForHendelse" type="dateTime"/>
				<element name="Ekstern" type="boolean"/>
				<element name="AnsvarligTjenesteyter" type="fk1:HealthcareProfessional" minOccurs="0"/>
				<element name="Virksomhet" type="fk1:Organisation" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Type innhold i konsultasjon -->
	<element name="InnholdKonsultasjon">
		<annotation>
			<documentation>
         Inneholder informasjon om 
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TypeInnholdKonsultasjon" type="kith:CS"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!--<element name="InnholdKonsultasjon">-->
	<!-- Class: Type innhold i melding. Ny klasse i Medisinske opplysninger. Generaliserng av klassen "InnholdKonsultasjon" (Type innhold i konsultasjon) -->
	<element name="TypeInnholdIMelding">
		<annotation>
			<documentation>
         Inneholder informasjon om 
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TypeInnhold" type="kith:CV"/>
				<!-- endret navn fra "TypeInnholdKonsultasjon" og endret datatype fra CS til CV -->
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Fellesinfo kontaktepisode -->
	<element name="FellesinfoKontaktepisode">
		<annotation>
			<documentation>
         Kode som angir hvor og hvordan kontakten fant sted, for eksempel på "legevisitt", "hjemmebesøk" eller ved "telefonhenvendelse". Betegnelse hentes ved framvisning
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Kontakttype" type="kith:CV"/>
				<element name="Konsultasjonsform" type="kith:CV" minOccurs="0"/>
				<element name="KontaktStartet" type="kith:TS"/>
				<element name="KontaktAvsluttet" type="kith:TS" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Anbefalt videre tiltak -->
	<element name="AnbefaltVidereTiltak">
		<annotation>
			<documentation>
         Benyttes ved kommunikasjon med andre aktører for å gruppere informasjon med  opplysninger om anbefalt videre tiltak.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:Tiltaksbeskrivelse"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Reservasjon/ønske -->
	<element name="ReservasjonOnske">
		<annotation>
			<documentation>
         Hvert enkelt fragment av denne typen fragment inneholder en reservasjon eller et ønsk tjenestemottakeren har framsatt.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Gjelder" type="string"/>
				<element name="FramsattAv" type="fk1:Person"/>
				<element name="FramsattDato" type="date"/>
				<element name="TrukketTilbakeAv" type="fk1:Person" minOccurs="0"/>
				<element name="TrukketTilbakeDato" type="date" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Faste hjelpemidler -->
	<element name="FasteHjelpemidler">
		<annotation>
			<documentation>
         Fragment av denne typen benyttes for å registrere om tjenestemottakeren er avhengig av briller, høreapparat eller lignende.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Briller" type="kith:CS" minOccurs="0"/>
				<element name="HjelpemiddelHorsel" type="kith:CS" minOccurs="0"/>
				<element name="Pacemaker" type="boolean" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Samlet vurdering funksjonsnivå -->
	<element name="SamletVurderingFunksjonsniva">
		<annotation>
			<documentation>
         Denne fragmenttypen benyttes for å registrere en samlet vurdering basert på et sett av enkeltvurderinger knyttet til funksjonsvariabler.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Pleietyngde" type="decimal" minOccurs="0"/>
				<element name="VurderingPleietyngde" type="string" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Element decimal written before    -->
	<!-- Class: Tidsperiode for diagnosen -->
	<element name="TidsperiodeDiagnose">
		<annotation>
			<documentation>
         Inneholder start- og eventuelt sluttidspunkt for den aktuelle diagnosekoden. 
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="StartdatoDiagnose" type="date"/>
				<element name="SluttdatoDiagnose" type="date" minOccurs="0"/>
				<element ref="po:MedisinskDiagnose"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om mål/forventet resultat -->
	<element name="InfoMaalForventetRes">
		<annotation>
			<documentation>
         Benyttes ved kommunikasjon med andre aktører for å gruppere informasjon med  opplysninger vedrørende de mål som settes eller de resultat som kan forventes på bakgrunn av de undersøkelser/vurderinger som er gjort.  Tilsvarende informasjon er dekket i EPJ-dokumentet "Dokumentasjon av mål/forventet resultat".
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:InnholdMaaldokument"/>
				<element ref="epj2:Journaltekst" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Info om vurderinger -->
	<element name="InfoVurderinger">
		<annotation>
			<documentation>
         Benyttes ved kommunikasjon med andre aktører for å gruppere informasjon med  opplysninger om vurdering av tjenestemottakerens ressurser, behov og eller problem. Tilsvarende informasjon er dekket i EPJ-dokumentet "Vurderingsdokument".
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="po:InnholdVurdering"/>
				<element ref="epj2:Journaltekst" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Iverksatte tiltak -->
	<element name="IverksatteTiltak">
		<complexType>
			<sequence>
				<element ref="po:Tiltaksbeskrivelse"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tilleggsinfo kontaktepisode -->
	<element name="TilleggsinfoKontaktepisode">
		<annotation>
			<documentation>
         Denne klassen benyttes for å angi hvor kontaktepisoden fant sted. Denne klassen er en utvidelse av EPJ-fragmentet "Tilleggsinfo sakshode kontaktepisode PLO".  Minimum et dataelement må ha verdi.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="StedForKontaktepisode" type="kith:CV" minOccurs="0"/>
				<element name="StedForKontakt" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Opplysninger relevant for oppfølging -->
	<element name="OpplysningerRelevantOppfolging">
		<annotation>
			<documentation>
         Inneholder informasjon fra sykepleier som er relevant for videre oppfølging av pasienten.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="BandasjemateriellEngangsutstyr" type="boolean" minOccurs="0"/>
				<element name="HjelpLegemiddeladm" type="boolean" minOccurs="0"/>
				<element name="EndringFunksjonsnivaa" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Medisinsk diagnose fragment -->
	<element name="MedisinskDiagnose">
		<annotation>
			<documentation>
         Benyttes for å registrere en enkelt diagnose i form av en kode eller som tekst.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Hoveddiagnose" type="boolean"/>
				<element name="Diagnosekode" type="kith:CV" minOccurs="0"/>
				<element name="DiagnoseBeskrivelse" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Status til hjelpemiddel -->
	<element name="StatusHjelpemiddel">
		<annotation>
			<documentation>
         Angir status til aktiviteten.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Status" type="kith:CS"/>
				<element ref="po:Hjelpemiddelbeskrivelse"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Sted for hendelsen -->
	<element name="StedForHendelse">
		<annotation>
			<documentation>
         Om ønskelig kan det her registreres hvor hendelsen blir eller ble gjennomført.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="StedHendelse" type="string"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Innhold vurdering -->
	<element name="InnholdVurdering">
		<annotation>
			<documentation>
         Inneholder en konkret vurdering av tjenestemottakerens ressurser, behov og/eller problem foretatt ved et enkelt tilfelle.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="VurderingenGjelder" type="string"/>
				<element name="Stikkord" type="string" minOccurs="0" maxOccurs="unbounded"/>
				<element name="FraDato" type="date" minOccurs="0"/>
				<element name="TilDato" type="date" minOccurs="0"/>
				<element name="KategoriHelsepersonell" type="kith:CS" minOccurs="0"/>
				<element ref="po:Enkeltvurdering" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Informert om -->
	<element name="InformertOm">
		<annotation>
			<documentation>
         Inneholder opplysninger om pasient og/eller pårørende er informert om den aktuelle opplysningen.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="PasientInformert" type="boolean"/>
				<element name="ParorendeInformert" type="boolean"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tiltaksbeskrivelse -->
	<element name="Tiltaksbeskrivelse">
		<annotation>
			<documentation>
         Skal inneholde opplysninger om en enkelte intervensjon eller annet tiltak som er iverksatt eller planlagt iverksatt.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="IntervensjonTiltakKode" type="kith:CV" minOccurs="0" maxOccurs="unbounded"/>
				<element name="IntervensjonTiltakBeskrivelse" type="string" minOccurs="0"/>
				<element name="KategoriHelsepersonell" type="kith:CS" minOccurs="0"/>
				<element name="Stikkord" type="string" minOccurs="0" maxOccurs="unbounded"/>
				<element name="EvalueringTidspunkt" type="date" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
				<element ref="po:GjennomforingAvTiltak" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="po:PlanlagtGjennomforingTiltak" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Tidligere sykdom fragment -->
	<element name="TidligereSykdomFragment">
		<annotation>
			<documentation>
         Benyttes for å registrere korte opplysninger vedrørende en tidligere sykdom eller funksjonshemming.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="FunksjonshemmingKroniskSykdom" type="boolean"/>
				<element name="TidligereSykdom" type="string"/>
				<element name="Diagnosekode" type="kith:CV" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Administreringsinstruksjoner -->
	<element name="AdmInstrukser">
		<annotation>
			<documentation>
         Informasjon om hvordan legemidler og insulin skal administreres.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Utleveringsform" type="kith:CS" minOccurs="0"/>
				<element name="SarskilteTiltak" type="kith:CS" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Utlevert legemiddel -->
	<!-- Class: Innhold mål/dokument -->
	<element name="InnholdMaaldokument">
		<annotation>
			<documentation>
         Skal inneholde beskrivelse av et mål som er satt eventuelt hvilket resultat som kan forventes på bakgrunn av de undersøkelser/vurderinger som er gjort.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="MaalForventetResultat" type="kith:CV" minOccurs="0"/>
				<element name="ForventetGradMaaloppnaaelse" type="kith:CV" minOccurs="0"/>
				<element name="Beskrivelse" type="string" minOccurs="0"/>
				<element name="KategoriHelsepersonell" type="kith:CS" minOccurs="0"/>
				<element name="ForventesOppnaadd" type="date" minOccurs="0"/>
				<element name="FraDato" type="date" minOccurs="0"/>
				<element name="TilDato" type="date" minOccurs="0"/>
				<element name="Stikkord" type="string" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Planlagt gjennomføring av tiltak -->
	<element name="PlanlagtGjennomforingTiltak">
		<annotation>
			<documentation>
         Fragment av denne typen benyttes dersom et tiltak skal repeteres flere ganger, eller dersom gjennomføringen av tiltaket skal skje på et annet tidspunkt enn det ble planlagt.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="PlanlagtStart" type="date"/>
				<element name="PlanlagtSlutt" type="date" minOccurs="0"/>
				<element name="FasteUkedager" type="kith:CS" minOccurs="0" maxOccurs="unbounded"/>
				<element name="GjentagelseIntervall" type="kith:PQ" minOccurs="0"/>
				<element name="EtterBehov" type="boolean" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Gjennomføring av tiltak -->
	<element name="GjennomforingAvTiltak">
		<annotation>
			<documentation>
         Dette fragmentet benyttes til å dokumentere gjennomføring av tiltak. Dersom gjennomføringen gjelder et tiltak som er beskrevet i et annet tiltaksdokument, skal det registreres en referanse (v.h.a. EPJ Link) til tiltaksbeskrivelsen. Dette er spesielt aktuelt for tiltak som skal gjentas flere ganger.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="UtfortTidspunkt" type="date"/>
				<element name="TiltakKanTermineres" type="boolean" minOccurs="0"/>
				<element name="Merknad" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<!-- Class: Enkeltvurdering -->
	<element name="Enkeltvurdering">
		<annotation>
			<documentation>
         Benyttes til å registrere vurdering av et enkelt forhold. Gir mulighet både for kodet vurdering og for vurdering i form av fri tekst.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Funksjonsområde" type="kith:CV" minOccurs="0"/>
				<element name="KodetVurdering" type="kith:CV" minOccurs="0"/>
				<element name="VurderingTekst" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
</schema>
