skjema/NAVSykmelding/rtv-smlepo-v075.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--Edited by Espen Stranger Seland, KITH (www.kith.no)	-->
<!--This version: 075 2004-04-30								-->
<!--Copyright 2001-2004 Rikstrygdeverket					-->
<!--Filename: rtv-smlepo-v075.xsd							-->
<!--Latest version can be found at: 							-->
<!--		http://www.kith.no/xmlstds/schemas/					-->
<!--Changes since v072:										-->
<!--		Arbeidsoppgaver 1..1 -> 0..1 							-->
<!--		ForsteKonsultasjon 1..1 -> 0..1 						-->
<!--		MedisinskeBehArsaker 1..1 -> 0..1					-->
<!--		ArbeidsrelatertAktivitet 1..1 -> 0..1					-->
<!--		Friskmeldt integer 1..1 -> string 0..1					-->
<!--		typeTilpasning/Uke integer -> string					-->
<!--		SykdommenSelv 1..1 -> 0..1 							-->
<!--		Behandlingsopplegg 1..1 -> 0..1 						-->
<!--		AndreArsaker 1..1 -> 0..1 								-->
<!--		Begrunnelse 1..1 -> 0..1 								-->
<!--		StatusPresens 1..1 -> 0..1 							-->
<!--		ForslagTiltak 1..1 -> 0..1 								-->
<!--Changes since v073:										-->
<!--		ForsteFraversdag 1..0 -> 0..1 (EDIFACT)				-->
<!--Changes since v074:										-->
<!--		SykmeldGjelder 1..4 -> 1..3							-->
<!--		New annotations on some elements				-->
<schema targetNamespace="http://www.kith.no/xmlstds/sykmelding/2004-05-03" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:rtv="http://www.kith.no/xmlstds/sykmelding/2004-05-03" xmlns:xsd="schemaLocation for xmlns:xsd http://www.w3.org/2001/XMLSchema.xsd" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>
	<!--

SYKMELDING

-->
	<element name="Sykmelding">
		<annotation>
			<documentation>Medisinsk vurdering av arbeidsmulighet ved sykdom</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="SykmeldGjelder" type="rtv:typeSykmelding" maxOccurs="3">
					<annotation>
						<documentation>[0.1-0.4] For å angi om det er første medisinske vurdering, påfølgende vurdering, endringer og/eller informasjon i del II</documentation>
					</annotation>
				</element>
				<element name="Pasientopplysninger">
					<annotation>
						<documentation>[1] Opplysninger om personen og arbeidsforholdet</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="Navn" type="rtv:typeNavn">
								<annotation>
									<documentation>[1.1] Pasientens navn</documentation>
								</annotation>
							</element>
							<element name="Fodselsnummer" type="string">
								<annotation>
									<documentation>[1.2] Fødselsnummer (11 siffer)</documentation>
								</annotation>
							</element>
							<element ref="rtv:Arbeidsforhold" minOccurs="0"/>
							<element name="Leder" minOccurs="0">
								<annotation>
									<documentation>[1.3.1] Navn på nærmeste leder</documentation>
								</annotation>
							</element>
							<element name="FlereArbeidsforhold" type="rtv:typeJaNei" minOccurs="0">
								<annotation>
									<documentation>[1.4]</documentation>
								</annotation>
							</element>
							<element name="Identifikasjon" minOccurs="0">
								<annotation>
									<documentation>[1.5] For å angi om pasienten er kjent eller har vist dokumentasjon</documentation>
								</annotation>
								<complexType>
									<choice>
										<element name="Kjent" type="boolean">
											<annotation>
												<documentation>[1.5] Angir om personen er kjent.</documentation>
											</annotation>
										</element>
										<element name="Legitimasjon" type="boolean">
											<annotation>
												<documentation>[1.5.1] Angir om legitimasjon er vist.</documentation>
											</annotation>
										</element>
									</choice>
								</complexType>
							</element>
							<element name="Trygdekontor" type="string" minOccurs="0">
								<annotation>
									<documentation>[1.6]</documentation>
								</annotation>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="Arbeidsmulighet" minOccurs="0">
					<annotation>
						<documentation>[2] Arbeidsmulighet / forenklet funksjonsvurdering</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="Arbeidsoppgaver" type="rtv:typeTekst" minOccurs="0">
								<annotation>
									<documentation>[2.1.1]</documentation>
								</annotation>
							</element>
							<element name="ForsteFraversdag" type="date" minOccurs="0">
								<annotation>
									<documentation>[2.2] Pasientens opplysning om første fraværsdag.</documentation>
								</annotation>
							</element>
							<element name="ForsteKonsultasjon" type="date" minOccurs="0">
								<annotation>
									<documentation>[2.3] Legens opplysninger om når første konsultasjon har vært utført.</documentation>
								</annotation>
							</element>
							<element name="DatoTelefonKonsultasjon" type="date" minOccurs="0">
								<annotation>
									<documentation>[2.4] Dato for når telefonkonsultasjon er utført.</documentation>
								</annotation>
							</element>
							<element name="Behandlingsdager" type="rtv:typeTekst" minOccurs="0">
								<annotation>
									<documentation>[2.5] Enkeltstående behandlingsdager</documentation>
								</annotation>
							</element>
							<element name="Reisetilskudd" type="rtv:typeVarighetDato" minOccurs="0">
								<annotation>
									<documentation>[2.6] Kan være på arbeid forutsatt reisetilskudd f.o.m.-t.o.m.</documentation>
								</annotation>
							</element>
							<element name="UtforeEgetArbeid" minOccurs="0" maxOccurs="unbounded">
								<annotation>
									<documentation>[2.7] Kan delvis utføre eget arbeid f.o.m.-t.o.m.</documentation>
								</annotation>
								<complexType>
									<complexContent>
										<extension base="rtv:typeVarighetDato">
											<sequence>
												<element name="Grad" type="integer"/>
											</sequence>
										</extension>
									</complexContent>
								</complexType>
							</element>
							<element name="AktivSykmelding" type="rtv:typeVarighetDato" minOccurs="0">
								<annotation>
									<documentation>[2.8] Kan være i aktiv sykmelding f.o.m.-t.o.m.</documentation>
								</annotation>
							</element>
							<element name="Hensyn" minOccurs="0">
								<annotation>
									<documentation>[2.9] Hvilke hensyn bør eventuelt tas for at personen kan være i delvis arbeid/arbeidsrelatert aktivitet?</documentation>
								</annotation>
							</element>
							<element name="Eventuelt" type="rtv:typeTekst" minOccurs="0">
								<annotation>
									<documentation>[2.10] Eventuelle innspill til tilrettelegging på arbeidsplassen</documentation>
								</annotation>
							</element>
							<element name="IkkeJobb" type="rtv:typeVarighetDato" minOccurs="0">
								<annotation>
									<documentation>[2.11] Kan ikke være i arbeidsrelatert aktivitet f.o.m. - t.o.m.</documentation>
								</annotation>
							</element>
							<element name="MedisinskeBehArsaker" type="rtv:typeJaNei" minOccurs="0">
								<annotation>
									<documentation>[2.11.1] Er det tungtveiende medisinske eller behandlingsrettede årsaker til at personen ikke kan være i arbeidsrelatert aktivitet?</documentation>
								</annotation>
							</element>
							<element name="Tilpasning" minOccurs="0">
								<annotation>
									<documentation>[2.12] Antas personen på sikt å:</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name="Gjenoppta" type="rtv:typeTilpasning" minOccurs="0">
											<annotation>
												<documentation>[2.12 a] kunne gjenoppta nåværende arbeid</documentation>
											</annotation>
										</element>
										<element name="Tilrettelegging" type="rtv:typeTilpasning" minOccurs="0">
											<annotation>
												<documentation>[2.12 b] ha behov for tilrettelegging i arbeid</documentation>
											</annotation>
										</element>
										<element name="AnnetArbeid" type="rtv:typeTilpasning" minOccurs="0">
											<annotation>
												<documentation>[2.12 c] ha behov for annet arbeid</documentation>
											</annotation>
										</element>
									</sequence>
								</complexType>
							</element>
							<element name="ArbeidsrelatertAktivitet" type="rtv:typeJaNei" minOccurs="0">
								<annotation>
									<documentation>[2.13] Er personen idag i arbeidsrelatert aktivitet? (fylles ut ved alle påfølgende vurderinger). Hvis nei, vurder pkt. 4</documentation>
								</annotation>
							</element>
							<element name="Friskmeldt" type="string" minOccurs="0">
								<annotation>
									<documentation>[2.14] Forventet friskmeldt (uke)</documentation>
								</annotation>
							</element>
							<element name="Friskmeldingsdato" type="date" minOccurs="0">
								<annotation>
									<documentation>[2.15]</documentation>
								</annotation>
							</element>
							<element name="FriskmeldingArbeidsformidling" type="rtv:typeTekst" minOccurs="0">
								<annotation>
									<documentation>[2.16] Friskmelding til arbeidsformidling (gjelder kun for person uten arbeidsgiver)</documentation>
								</annotation>
							</element>
						</sequence>
					</complexType>
					<!-- 	Felt 2.1 Yrke er definert som
							/Sykmelding/Pasientopplysninger/Arbeidsforhold/@yrkeskode
							/Sykmelding/Pasientopplysninger/Arbeidsforhold/Yrkesbetegnelse
					 -->
				</element>
				<element name="DiagnoseMv" minOccurs="0">
					<annotation>
						<documentation>[3] For å angi om fravær fra arbeid har andre årsaker enn egen sykdom, om sykdommen er svangerskapsrelatert, og evt. angivelse av skadedato for yrkessykdom/yrkesskade.</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="DiagnoseKodesystem" minOccurs="0">
								<annotation>
									<documentation>For å angi benyttet diagnosekodesystem.</documentation>
								</annotation>
								<complexType>
									<sequence>
										<element name="Kodesystem" type="rtv:typeKodesystem">
											<annotation>
												<documentation>[3.2] Lovlige verdier er 3 (ICD-10) eller 5 (ICPC-2)</documentation>
											</annotation>
										</element>
										<element name="Enkeltdiagnose" maxOccurs="unbounded">
											<annotation>
												<documentation>[3.1.2] For å angi kodeverdi, tekstlig beskrivelse av kodeverdi og sorteringsrekkefølge for enkeltdiagnoser (en pasient kan ha flere diagnoser). En hoveddiagnose må alltid oppgis.</documentation>
											</annotation>
											<complexType>
												<sequence>
													<element name="Diagnose" type="string" minOccurs="0">
														<annotation>
															<documentation>[3.1]</documentation>
														</annotation>
													</element>
													<element name="Kodeverdi" type="string">
														<annotation>
															<documentation>[3.1.2]</documentation>
														</annotation>
													</element>
													<element name="Sortering" type="nonNegativeInteger" default="0"/>
												</sequence>
											</complexType>
										</element>
									</sequence>
								</complexType>
							</element>
							<element name="Svangerskap" type="boolean" minOccurs="0">
								<annotation>
									<documentation>[3.1.1]</documentation>
								</annotation>
							</element>
							<element name="AnnenFraversgrunn" type="rtv:typeTekst" minOccurs="0"/>
							<element name="Yrkessykdom" type="boolean" minOccurs="0">
								<annotation>
									<documentation>[3.4.1]</documentation>
								</annotation>
							</element>
							<element name="Yrkesskade" type="boolean" minOccurs="0">
								<annotation>
									<documentation>[3.4.2]</documentation>
								</annotation>
							</element>
							<element name="SkadeDato" type="date" minOccurs="0">
								<annotation>
									<documentation>[3.4.2.1]</documentation>
								</annotation>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="MedisinskeArsaker" minOccurs="0">
					<annotation>
						<documentation>[4] Del II. Medisinske årsaker til at arbeidsrelatert aktivitet ikke er igangsatt</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="SykdommenSelv" type="rtv:typeJaNei" minOccurs="0">
								<annotation>
									<documentation>[4.1] Sykdommen i seg selv</documentation>
								</annotation>
							</element>
							<element name="Behandlingsopplegg" type="rtv:typeJaNei" minOccurs="0">
								<annotation>
									<documentation>[4.2] Behandlingsopplegg</documentation>
								</annotation>
							</element>
							<element name="AndreArsaker" type="rtv:typeJaNei" minOccurs="0">
								<annotation>
									<documentation>[4.3] Andre årsaker</documentation>
								</annotation>
							</element>
							<element name="Begrunnelse" type="rtv:typeTekst" minOccurs="0">
								<annotation>
									<documentation>[4.4] Hvis ja i punkt 4.1, 4.2 eller 4.3, begrunn</documentation>
								</annotation>
							</element>
							<element name="StatusPresens" type="rtv:typeTekst" minOccurs="0">
								<annotation>
									<documentation>[4.5] Symptomer og status presens</documentation>
								</annotation>
							</element>
							<element name="ForslagTiltak" type="rtv:typeTekst" minOccurs="0">
								<annotation>
									<documentation>[4.6] Forslag til mulige tiltak (til arbeidstaker / arbeidsgiver)</documentation>
								</annotation>
							</element>
							<element name="KontaktBht" type="boolean" minOccurs="0">
								<annotation>
									<documentation>[4.7] Foreslår kontakt med BHT.</documentation>
								</annotation>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="Merknad" type="rtv:typeTekst" minOccurs="0">
					<annotation>
						<documentation>[5] Merknader til trygdekontoret</documentation>
					</annotation>
				</element>
				<element ref="rtv:Legeunderskrift"/>
				<element ref="ds:Signature" minOccurs="0"/>
			</sequence>
			<attribute name="formOfLanguage" use="required">
				<simpleType>
					<restriction base="string">
						<enumeration value="1">
							<annotation>
								<documentation>Bokmål</documentation>
							</annotation>
						</enumeration>
						<enumeration value="2">
							<annotation>
								<documentation source="Nynorsk"/>
							</annotation>
						</enumeration>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="sendersId" type="string" use="optional"/>
			<attribute name="receiversId" type="string" use="optional"/>
			<attribute name="schemaVersion" type="string" use="required" fixed="IA 08-07.04 Fastsatt 6.88 Endret 06.2004 Elektronisk XML 3.0"/>
			<attribute name="messageId" type="string" use="required"/>
			<attribute name="genDate" type="dateTime" use="required"/>
		</complexType>
	</element>
	<simpleType name="typeSykmelding">
		<annotation>
			<documentation>Kodeverdier 1-4</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<enumeration value="1">
				<annotation>
					<documentation>[0.1] Første medisinske vurdering</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>[0.2] Påfølgende vurdering</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>[0.3] Endringer</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>[0.4] Informasjon i Del II</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="typeJaNeiVetikke">
		<annotation>
			<documentation>Kodeverdier 1-3</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<enumeration value="1">
				<annotation>
					<documentation>Ja</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Nei</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Vet ikke / Usikkert</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<complexType name="typeVarighetDato">
		<annotation>
			<documentation>Varighet mellom to datoer.</documentation>
		</annotation>
		<sequence>
			<element name="FraDato" type="date"/>
			<element name="TilDato" type="date"/>
		</sequence>
	</complexType>
	<complexType name="typeTilpasning">
		<sequence>
			<element name="Svar" type="rtv:typeJaNeiVetikke"/>
			<element name="Uke" type="string" minOccurs="0">
				<annotation>
					<documentation>Hvis Ja, anslå uke nr</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!--
	
LEGEERKLÆRING
	
-->
	<element name="Legeerklaring">
		<annotation>
			<documentation>Spesialisering av den abstrakte klassen Melding, til  klassen Legeerklæring ved arbeidsuførhet.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="rtv:LegeerklaringGjelder" maxOccurs="4"/>
				<element ref="rtv:Pasientopplysninger"/>
				<element ref="rtv:PlanUtredBehandle" minOccurs="0"/>
				<element ref="rtv:DiagnoseArbeidsuforhet"/>
				<element ref="rtv:ForslagTiltak"/>
				<element ref="rtv:VurderingFunksjonsevne"/>
				<element ref="rtv:Prognose"/>
				<element ref="rtv:ArsakssammenhengLegeerklaring" minOccurs="0"/>
				<element ref="rtv:ForbeholdLegeerklaring"/>
				<element ref="rtv:AndreOpplysninger" minOccurs="0"/>
				<element ref="rtv:Legeunderskrift"/>
				<element ref="rtv:Kontakt" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="ds:Signature" minOccurs="0"/>
			</sequence>
			<attribute name="formOfLanguage" type="rtv:typeFormOfLanguage" use="required"/>
			<attribute name="sendersId" type="string" use="optional"/>
			<attribute name="receiversId" type="string" use="optional"/>
			<attribute name="schemaVersion" type="string" use="required" fixed="IA 08-07.08 Fastsatt 10.99 Elektronisk 1.1"/>
			<attribute name="messageId" type="string" use="required"/>
			<attribute name="genDate" type="dateTime" use="required"/>
		</complexType>
	</element>
	<element name="VurderingFunksjonsevne">
		<annotation>
			<documentation>For å beskrive hvordan pasientens generelle funksjonsevne er nedsatt.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="rtv:Arbeidssituasjon" maxOccurs="unbounded"/>
				<element ref="rtv:VurderingArbeidsevne" minOccurs="0"/>
				<element name="Funksjonsevne" type="rtv:typeTekst" minOccurs="0"/>
				<element name="KravArbeid" type="rtv:typeTekst" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="ArsakssammenhengLegeerklaring" type="rtv:typeTekst">
		<annotation>
			<documentation>For å angi hvor stor betydning funksjonsnedsettelsen har for at arbeidsevnen er nedsatt.</documentation>
		</annotation>
	</element>
	<element name="ForbeholdLegeerklaring">
		<annotation>
			<documentation>For å angi om det er noe i legeerklæringen som pasienten ikke bør få vite av medisinske grunner.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="BorTilbakeholdes" type="rtv:typeTekst" minOccurs="0"/>
			</sequence>
			<attribute name="tilbakeholdInnhold" type="rtv:typeJaNei" use="optional"/>
		</complexType>
	</element>
	<element name="AndreOpplysninger">
		<annotation>
			<documentation>For å angi andre opplysninger.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Opplysning" type="rtv:typeTekst"/>
			</sequence>
			<attribute name="onskesKopi" type="rtv:typeJaNei" use="optional"/>
		</complexType>
	</element>
	<element name="Kontakt">
		<annotation>
			<documentation>For å angi hvem legen ønsker at trygdekontoret skal ta kontakt med.</documentation>
		</annotation>
		<complexType>
			<attribute name="kontakt" type="rtv:typeKontakt" use="required"/>
			<attribute name="annenInstans" type="string" use="optional"/>
		</complexType>
	</element>
	<element name="LegeerklaringGjelder">
		<annotation>
			<documentation>For å angi om legeerklæringen gjelder sykefravær i mer enn 8 uker, rehabiliteringspenger, yrkesrettet attføring eller uførepensjon.  Det benyttes en forekomst av klassen for hver valgmulighet (tilsvarer et kryss på skjemaet). Hvis både felt 0.1 og felt 0.3 er avkrysset må meldingen inneholde to forekomster av klassen.'</documentation>
		</annotation>
		<complexType>
			<attribute name="typeLegeerklaring" type="rtv:typeLegeerklaring"/>
		</complexType>
	</element>
	<element name="Prognose">
		<annotation>
			<documentation>For å angi prognose for bedring av arbeidsevnen, varighet av sykdom/skade, varighet av funksjonsnedsettelse, varighet av nedsatt arbeidsevne.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="AntattVarighet" type="rtv:typeTekst" minOccurs="0"/>
				<element name="VarighetFunksjonsnedsettelse" type="rtv:typeTekst" minOccurs="0"/>
				<element name="VarighetNedsattArbeidsevne" type="rtv:typeTekst" minOccurs="0"/>
			</sequence>
			<attribute name="bedreArbeidsevne" type="rtv:typeJaNei"/>
		</complexType>
	</element>
	<element name="VurderingArbeidsevne">
		<annotation>
			<documentation>For å angi vurdering av arbeidsevne, begrensninger i forhold til arbeidet pasienten er sykmeldt fra og begrensninger ved vurdering av alternativt arbeid eller yrke.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="IkkeGjore" type="rtv:typeTekst" minOccurs="0"/>
				<element name="HensynAnnetYrke" type="rtv:typeTekst" minOccurs="0"/>
			</sequence>
			<attribute name="gjenopptaArbeid" type="rtv:typeJaNei" use="optional"/>
			<attribute name="narGjenopptaArbeid" type="rtv:typeNaEtter" use="optional"/>
			<attribute name="taAnnetArbeid" type="rtv:typeJaNei" use="optional"/>
			<attribute name="narTaAnnetArbeid" type="rtv:typeNaEtter" use="optional"/>
		</complexType>
	</element>
	<element name="Arbeidssituasjon">
		<annotation>
			<documentation>For å angi type arbeid og hvilke krav som stilles.</documentation>
		</annotation>
		<complexType>
			<attribute name="arbeidssituasjon" type="rtv:typeArbeidssituasjon"/>
			<attribute name="annenArbeidssituasjon" type="string"/>
		</complexType>
	</element>
	<element name="DiagnoseArbeidsuforhet">
		<annotation>
			<documentation>For å angi dato for når sykmeldingsperioden begynte i dette sykmeldingstilfellet.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="rtv:DiagnoseKodesystem"/>
				<element ref="rtv:VurderingYrkesskade"/>
				<element name="StatusPresens" type="rtv:typeTekst"/>
				<element name="SymptomerBehandling" type="rtv:typeTekst"/>
			</sequence>
			<attribute name="arbeidsuforFra" type="date"/>
		</complexType>
	</element>
	<element name="PlanUtredBehandle">
		<annotation>
			<documentation>Plan, utredning og behandling.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="rtv:HenvistUtredning" minOccurs="0"/>
				<element ref="rtv:HenvistBehandling" minOccurs="0"/>
				<element name="NyeLegeopplysninger" type="int" minOccurs="0"/>
				<element name="IkkeVidereBehandling" type="rtv:typeTekst" minOccurs="0"/>
				<element name="NyVurdering" type="rtv:typeTekst" minOccurs="0"/>
				<element name="BehandlingsPlan" type="rtv:typeTekst" minOccurs="0"/>
				<element name="UtredningsPlan" type="rtv:typeTekst" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="HenvistUtredning">
		<annotation>
			<documentation>For å angi type utredning, hvor denne skal foregå, henvisningsdato og antatt ventetid.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="rtv:Spesifikasjon"/>
			</sequence>
			<attribute name="henvistDato" type="date" use="required"/>
			<attribute name="antattVentetid" type="nonNegativeInteger" use="required"/>
		</complexType>
	</element>
	<element name="HenvistBehandling">
		<annotation>
			<documentation>For å angi type behandling, hvor denne skal foregå, henvisningsdato og antatt ventetid.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="rtv:Spesifikasjon"/>
			</sequence>
			<attribute name="henvistDato" type="date" use="required"/>
			<attribute name="antattVentetid" type="nonNegativeInteger" use="required"/>
		</complexType>
	</element>
	<element name="Spesifikasjon" type="rtv:typeTekst"/>
	<element name="AktueltTiltak">
		<annotation>
			<documentation>For å angi ett aktuelt tiltak. En forekomst av klassen inneholder et tiltak. Flere tiltak forutsetter flere forkomster av klassen.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="HvilkeAndreTiltak" type="rtv:typeTekst"/>
			</sequence>
			<attribute name="typeTiltak" type="rtv:typeTiltak" use="required"/>
		</complexType>
	</element>
	<element name="VurderingYrkesskade">
		<annotation>
			<documentation>For angi om trygdekontoret bør vurdere om det er en yrkesskade/yrkessykdom.</documentation>
		</annotation>
		<complexType>
			<attribute name="borVurderes" type="rtv:typeJaNei"/>
			<attribute name="skadeDato" type="date" use="optional"/>
		</complexType>
	</element>
	<element name="ForslagTiltak">
		<annotation>
			<documentation>For å angi aktuelle tiltak ut fra medisinsk vurdering, nærmere opplysninger om disse tiltakene, evt. begrensninger i forhold til tiltakene eller begrunnelse for at det ikke er aktuelt med tiltak.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="rtv:AktueltTiltak" minOccurs="0" maxOccurs="unbounded"/>
				<element name="Opplysninger" type="rtv:typeTekst"/>
				<choice>
					<element name="BegrensningerTiltak" type="rtv:typeTekst"/>
					<element name="BegrunnelseIkkeTiltak" type="rtv:typeTekst"/>
				</choice>
			</sequence>
			<attribute name="tiltak" type="rtv:typeJaNei" use="optional"/>
		</complexType>
	</element>
	<simpleType name="typeLegeerklaring">
		<annotation>
			<documentation>Kodeverdier 1-4</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<enumeration value="1">
				<annotation>
					<documentation>Sykefravær mer enn 8 uker</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Rehabiliteringspenger</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Yrkesrette attføring</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Uførepensjon</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="typeArbeidssituasjon">
		<annotation>
			<documentation>Kodeverdier 1-4</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<enumeration value="1">
				<annotation>
					<documentation>Inntektsgivende arbeid</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Hjemmearbeidende</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Student</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Annet</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="typeKontakt">
		<annotation>
			<documentation>Kodeverdier 1-5</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<enumeration value="1">
				<annotation>
					<documentation>Behandlende lege</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Arbeidsgiver</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Arbeidskontor</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Basisgruppe</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>Annen instans</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="typeTiltak">
		<annotation>
			<documentation>Kodeverdier 1-7</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<enumeration value="1">
				<annotation>
					<documentation>Kjøp av helsetjenester</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Reisetilskudd i stedet for sykepenger</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Aktiv sykmelding</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Hjelpemidler på arbeidsplassen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>Yrkesrettet attføring</documentation>
				</annotation>
			</enumeration>
			<enumeration value="6">
				<annotation>
					<documentation>Friskmelding til arbeidsformidling</documentation>
				</annotation>
			</enumeration>
			<enumeration value="7">
				<annotation>
					<documentation>Andre</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!--

FELLES ELEMENTER og TYPER 

-->
	<element name="DiagnoseKodesystem">
		<annotation>
			<documentation>For å angi benyttet diagnosekodesystem.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="rtv:Enkeltdiagnose" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="kodesystem" type="rtv:typeKodesystem" use="required">
				<annotation>
					<documentation>For LE gjelder 1, 2 og 3. For SM gjelder 3 og 5.</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<element name="Enkeltdiagnose">
		<annotation>
			<documentation>For å angi kodeverdi, tekstlig beskrivelse av kodeverdi og sorteringsrekkefølge for enkeltdiagnoser (en pasient kan ha flere diagnoser). En hoveddiagnose må alltid oppgis.</documentation>
		</annotation>
		<complexType>
			<attribute name="diagnose" type="string" use="optional"/>
			<attribute name="kodeverdi" type="string" use="required"/>
			<attribute name="sortering" type="nonNegativeInteger" use="required"/>
		</complexType>
	</element>
	<simpleType name="typeTekst">
		<annotation>
			<documentation>Type for utførende beskrivelser</documentation>
		</annotation>
		<restriction base="string">
			<whiteSpace value="preserve"/>
		</restriction>
	</simpleType>
	<simpleType name="typeFormOfLanguage">
		<annotation>
			<documentation>Kodeverdier 1-2</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<enumeration value="1">
				<annotation>
					<documentation>Bokmål</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Nynorsk</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="typeKodesystem">
		<annotation>
			<documentation>Kodeverdier 1-5</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<enumeration value="1">
				<annotation>
					<documentation>ICPC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>ICD-9</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>ICD-10</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>ICPC-1</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>ICPC-2</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="typeJaNei">
		<annotation>
			<documentation>Kodeverdier 1-2</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<enumeration value="1">
				<annotation>
					<documentation>Ja</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Nei</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="typeNaEtter">
		<annotation>
			<documentation>Kodeverider 1-2</documentation>
		</annotation>
		<restriction base="nonNegativeInteger">
			<enumeration value="1">
				<annotation>
					<documentation>Nå</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Etter</documentation>
				</annotation>
			</enumeration>
		</restriction>
		<!-- Kodeverk: Kodeverk er ikke spesifisert i skjema -->
	</simpleType>
	<!--

PERSONOPPLYSNINGER

-->
	<element name="Pasientopplysninger">
		<complexType>
			<sequence>
				<element ref="rtv:Pasient"/>
			</sequence>
			<attribute name="flereArbeidsforhold" type="rtv:typeJaNeiVetikke" use="required"/>
		</complexType>
	</element>
	<element name="Legeunderskrift">
		<complexType>
			<sequence>
				<element ref="rtv:Helsepersonell"/>
			</sequence>
			<attribute name="signaturDato" type="date" use="required"/>
		</complexType>
	</element>
	<element name="Pasient">
		<annotation>
			<documentation>Hjelpeklasse</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="rtv:Navn"/>
				<element ref="rtv:Arbeidsforhold" minOccurs="0"/>
				<element ref="rtv:PersonAdr" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="fodselsnummer" type="string" use="required"/>
			<attribute name="trygdekontor" type="string" use="required"/>
		</complexType>
	</element>
	<element name="Helsepersonell">
		<annotation>
			<documentation>For å beskrive egenskaper ved personen som helsepersonell.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="rtv:Navn"/>
				<element ref="rtv:Arbeidsforhold"/>
				<element ref="rtv:PersonAdr" minOccurs="0"/>
			</sequence>
			<attribute name="kategori" type="rtv:typeHelsepersonell" use="required"/>
			<attribute name="typeHelsevirksomhet" type="string" use="optional"/>
			<attribute name="fodselsnummer" type="string" use="required"/>
			<attribute name="hprNr" type="string" use="optional"/>
		</complexType>
	</element>
	<element name="PersonAdr" type="rtv:typeAdresse">
		<annotation>
			<documentation>Inneholder opplysninger om type adresse.</documentation>
		</annotation>
	</element>
	<element name="Arbeidsforhold">
		<annotation>
			<documentation>For å angi informasjon om personens arbeidsforhold.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="rtv:Virksomhet" minOccurs="0"/>
				<element name="Yrkesbetegnelse" type="string"/>
			</sequence>
			<attribute name="yrkeskode" type="string" use="optional"/>
			<attribute name="primartArbeidsforhold" type="rtv:typeJaNei"/>
		</complexType>
	</element>
	<element name="Virksomhet">
		<annotation>
			<documentation>Denne klassen benyttes til å beskrive de virksomheter som direkte eller indirekte skal kunne refereres fra en eller flere EPJ. Dette kan f.eks. være pasienters arbeidsgivere, virksomheter som det overføres journalinformasjon til, eller som har vært kilde til informasjon i EPJ, f.eks. et eksternt laboratorium.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="rtv:VirksomhetsAdr" minOccurs="0"/>
			</sequence>
			<attribute name="virksomhetsBetegnelse" type="string"/>
			<attribute name="organisasjonsnummer" type="string" use="optional"/>
		</complexType>
	</element>
	<element name="VirksomhetsAdr" type="rtv:typeAdresse">
		<annotation>
			<documentation>Beskriver egenskap ved virksomhetens adresse</documentation>
		</annotation>
	</element>
	<element name="Teleinformasjon">
		<annotation>
			<documentation>Telekommunikasjonsadresse, inklusive kommunikasjonstype. Denne klassen benyttes for å registrere telefonnummer, telefaks, personsøker etc., knyttes opp mot de registrerte adressene.</documentation>
		</annotation>
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="typeTelekom" type="rtv:typeTelekomtype"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="PostalAddress" type="rtv:typePostalAddress">
		<annotation>
			<documentation>Inneholder adresseopplysinger. Full adresse bestående av f.eks. gatenavn, husnummer, postnummer, poststed etc. Bør registreres ferdig linjedelt for utskrift.</documentation>
		</annotation>
	</element>
	<element name="Navn" type="rtv:typeNavn"/>
	<element name="Etternavn" type="string"/>
	<element name="Fornavn" type="string"/>
	<element name="Mellomnavn" type="string"/>
	<complexType name="typeAdresse">
		<sequence>
			<element ref="rtv:PostalAddress" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="rtv:Teleinformasjon" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="adressetype" type="rtv:typeAdressetype"/>
	</complexType>
	<complexType name="typePostalAddress">
		<sequence>
			<element name="StreetAddress" type="string"/>
			<element name="PostalCode" type="string"/>
			<element name="City" type="string"/>
			<element name="Country" type="string" default="no" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="typeNavn">
		<sequence>
			<element ref="rtv:Etternavn"/>
			<element ref="rtv:Fornavn"/>
			<element ref="rtv:Mellomnavn" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="typeHelsepersonell">
		<restriction base="string">
			<enumeration value="BI">
				<annotation>
					<documentation>Bioingeniør</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ET">
				<annotation>
					<documentation>Ergoterapeut</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FA">
				<annotation>
					<documentation>Farmasøyt</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FO">
				<annotation>
					<documentation>Fotterapeut</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FT">
				<annotation>
					<documentation>Fysioterapeut</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HP">
				<annotation>
					<documentation>Hjelpepleier</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HS">
				<annotation>
					<documentation>Helsesøster</documentation>
				</annotation>
			</enumeration>
			<enumeration value="JO">
				<annotation>
					<documentation>Jordmor</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KI">
				<annotation>
					<documentation>Kiropraktor</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LE">
				<annotation>
					<documentation>Lege</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OI">
				<annotation>
					<documentation>Ortopediingeniør</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OP">
				<annotation>
					<documentation>Optiker</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PS">
				<annotation>
					<documentation>Psykolog</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RA">
				<annotation>
					<documentation>Radiograf</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SP">
				<annotation>
					<documentation>Sykepleier</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TL">
				<annotation>
					<documentation>Tannlege</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TP">
				<annotation>
					<documentation>Tannpleier</documentation>
				</annotation>
			</enumeration>
			<enumeration value="VE">
				<annotation>
					<documentation>Veterinær</documentation>
				</annotation>
			</enumeration>
			<enumeration value="VP">
				<annotation>
					<documentation>Vernepleier</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AA">
				<annotation>
					<documentation>Ambulansearbeider</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AT">
				<annotation>
					<documentation>Apotektekniker</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AU">
				<annotation>
					<documentation>Audiograf</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HE">
				<annotation>
					<documentation>Helsesekretær</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KE">
				<annotation>
					<documentation>Klinisk ernæringsfysiolog</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OA">
				<annotation>
					<documentation>Omsorgsarbeider</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OR">
				<annotation>
					<documentation>Ortoptist</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PE">
				<annotation>
					<documentation>Perfusjonist</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TH">
				<annotation>
					<documentation>Tannhelsesekretær</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TT">
				<annotation>
					<documentation>Tanntekniker</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MT">
				<annotation>
					<documentation>Manuellterapeut</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IN">
				<annotation>
					<documentation>Institusjon</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="typeAdressetype">
		<annotation>
			<documentation>HL7-verdier</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="RES">
				<annotation>
					<documentation>Besøksadresse</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PST">
				<annotation>
					<documentation>Postadresse</documentation>
				</annotation>
			</enumeration>
			<enumeration value="INV">
				<annotation>
					<documentation>Faktureringsadresse</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TMP">
				<annotation>
					<documentation>Midlertidig adresse</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BAD">
				<annotation>
					<documentation>Ubrukelig adresse</documentation>
				</annotation>
			</enumeration>
			<enumeration value="H">
				<annotation>
					<documentation>Bostedsadresse</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HP">
				<annotation>
					<documentation>Folkeregistrert adresse</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HV">
				<annotation>
					<documentation>Ferieadresse</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WP">
				<annotation>
					<documentation>Arbeidsplass</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ABC">
				<annotation>
					<documentation>Alfabetisk</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SYL">
				<annotation>
					<documentation>Stavet</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IDE">
				<annotation>
					<documentation>Ideografisk</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="typeTelekomtype">
		<annotation>
			<documentation>HL7-verdier + egen utvidelse</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="H">
				<annotation>
					<documentation>Hjemme eller ukjent</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HP">
				<annotation>
					<documentation>Hovedtelefon</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HV">
				<annotation>
					<documentation>Ferietelefon</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WP">
				<annotation>
					<documentation>Arbeidsplass</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WD">
				<annotation>
					<documentation>Arbeidsplass, direktenummer</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WC">
				<annotation>
					<documentation>Arbeidsplass, sentralbord</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AS">
				<annotation>
					<documentation>Telefonsvarer</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EC">
				<annotation>
					<documentation>Nødnummer</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PG">
				<annotation>
					<documentation>Personsøker</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MC">
				<annotation>
					<documentation>Mobiltelefon</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation>Fax</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
</schema>
