relaterteFiler/admKomKjernejournal/WSDL_kjernejournal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://profdoc.no/kjernejournal/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://profdoc.no/kjernejournal/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Samtykkebasert Kjernejournal</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://profdoc.no/kjernejournal/">
			<s:element name="Version">
				<s:complexType/>
			</s:element>
			<s:element name="VersionResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="VersionResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ProcessMessage">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="message" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ProcessMessageResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ProcessMessageResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ProcessMessageXml">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="message">
							<s:complexType mixed="true">
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ProcessMessageXmlResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ProcessMessageXmlResult">
							<s:complexType mixed="true">
								<s:sequence>
									<s:any/>
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="VersionSoapIn">
		<wsdl:part name="parameters" element="tns:Version"/>
	</wsdl:message>
	<wsdl:message name="VersionSoapOut">
		<wsdl:part name="parameters" element="tns:VersionResponse"/>
	</wsdl:message>
	<wsdl:message name="ProcessMessageSoapIn">
		<wsdl:part name="parameters" element="tns:ProcessMessage"/>
	</wsdl:message>
	<wsdl:message name="ProcessMessageSoapOut">
		<wsdl:part name="parameters" element="tns:ProcessMessageResponse"/>
	</wsdl:message>
	<wsdl:message name="ProcessMessageXmlSoapIn">
		<wsdl:part name="parameters" element="tns:ProcessMessageXml"/>
	</wsdl:message>
	<wsdl:message name="ProcessMessageXmlSoapOut">
		<wsdl:part name="parameters" element="tns:ProcessMessageXmlResponse"/>
	</wsdl:message>
	<wsdl:portType name="Profdoc_x0020_KjernejournalSoap">
		<wsdl:operation name="Version">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returnerer versjonsnummeret</wsdl:documentation>
			<wsdl:input message="tns:VersionSoapIn"/>
			<wsdl:output message="tns:VersionSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ProcessMessage">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Behandle en generell forespørsel fra xml-enkodet data</wsdl:documentation>
			<wsdl:input message="tns:ProcessMessageSoapIn"/>
			<wsdl:output message="tns:ProcessMessageSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="ProcessMessageXml">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Behandle en generell forespørsel fra xml-node</wsdl:documentation>
			<wsdl:input message="tns:ProcessMessageXmlSoapIn"/>
			<wsdl:output message="tns:ProcessMessageXmlSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Profdoc_x0020_KjernejournalSoap" type="tns:Profdoc_x0020_KjernejournalSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Version">
			<soap:operation soapAction="http://profdoc.no/kjernejournal/Version" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessMessage">
			<soap:operation soapAction="http://profdoc.no/kjernejournal/ProcessMessage" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessMessageXml">
			<soap:operation soapAction="http://profdoc.no/kjernejournal/ProcessMessageXml" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Profdoc_x0020_KjernejournalSoap12" type="tns:Profdoc_x0020_KjernejournalSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Version">
			<soap12:operation soapAction="http://profdoc.no/kjernejournal/Version" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessMessage">
			<soap12:operation soapAction="http://profdoc.no/kjernejournal/ProcessMessage" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessMessageXml">
			<soap12:operation soapAction="http://profdoc.no/kjernejournal/ProcessMessageXml" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Profdoc_x0020_Kjernejournal">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Samtykkebasert Kjernejournal</wsdl:documentation>
		<wsdl:port name="Profdoc_x0020_KjernejournalSoap" binding="tns:Profdoc_x0020_KjernejournalSoap">
			<soap:address location="http://localhost:61445/Service.asmx"/>
		</wsdl:port>
		<wsdl:port name="Profdoc_x0020_KjernejournalSoap12" binding="tns:Profdoc_x0020_KjernejournalSoap12">
			<soap12:address location="http://localhost:61445/Service.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
